<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RegistrationApproval.ascx.cs"
    Inherits="CMSModules_Membership_Controls_RegistrationApproval" %>
<asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false" />

