<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Subscriptions.ascx.cs"
    Inherits="CMSModules_Membership_Controls_Subscriptions" %>
<asp:Panel ID="pnlNewsletters" runat="server" Visible="false" />
<asp:Panel ID="pnlBlogs" runat="server" Visible="false"/>
<asp:Panel ID="pnlBoards" runat="server" Visible="false"/>  
