<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/TaggingCategories/CategoryList.ascx.cs"
    Inherits="CMSWebParts_TaggingCategories_CategoryList" %>
<asp:Label ID="lblInfo" runat="server" Visible="false" CssClass="InfoLabel" />
<cms:BasicRepeater ID="rptCategoryList" runat="server" />
