<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/TaggingCategories/TagCloud.ascx.cs" Inherits="CMSWebParts_TaggingCategories_TagCloud" %>
<div class="TagCloud">
    <asp:Literal runat="server" ID="ltlTags" EnableViewState="false" />
</div>