<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/MessageBoards/MessageBoard.ascx.cs" Inherits="CMSWebParts_MessageBoards_MessageBoard" %>
<%@ Register Src="~/CMSModules/MessageBoards/Controls/MessageBoard.ascx" TagName="MessageBoard" TagPrefix="cms" %>

<cms:MessageBoard ID="msgBoard" runat="server" />