<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/AbuseReport/AbuseReport.ascx.cs"
    Inherits="CMSWebParts_AbuseReport_AbuseReport" %>
<%@ Register Src="~/CMSModules/AbuseReport/Controls/AbuseReportEdit.ascx" TagName="AbuseReportEdit"
    TagPrefix="cms" %>
<cms:AbuseReportEdit ID="editReport" runat="server" />
