<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/AbuseReport/InlineAbuseReport.ascx.cs"
    Inherits="CMSWebParts_AbuseReport_InlineAbuseReport" %>
<%@ Register Src="~/CMSModules/AbuseReport/Controls/InlineAbuseReport.ascx" TagName="InlineAbuseReport"
    TagPrefix="cms" %>
<cms:InlineAbuseReport ID="editReport" runat="server" />
