<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/MediaLibrary/GroupMediaLibraryDataSource.ascx.cs"
    Inherits="CMSWebParts_Community_MediaLibrary_GroupMediaLibraryDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaLibraryDataSource ID="srcMedia" runat="server" />
