<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Query/queryrepeater.ascx.cs" Inherits="CMSWebParts_Viewers_Query_queryrepeater" %>

<cms:queryrepeater id="repItems" runat="server"  /> 