<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Query/querydatagrid.ascx.cs"
    Inherits="CMSWebParts_Viewers_Query_querydatagrid" %>
    
<cms:QueryDataGrid ID="gridItems" runat="server" DataBindByDefault="false" />