<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Query/querydatalist.ascx.cs"
    Inherits="CMSWebParts_Viewers_Query_querydatalist" %>
<cms:QueryDataList ID="lstItems" runat="server" />
