﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="UCNoAccessPopUp.ascx.vb" Inherits="CMSTemplates_AegeanPower_UCNoAccessPopUp" %>
<style type="text/css">
.lightbox .t{width:687px}
.lightbox .m{width:687px}
.lightbox .inside{width:657px}
.lightbox .close{left:666px}
.lightbox .holder{width:637px}
.lightbox .b{width:687px}
</style>

<a id="HiddenPopUpNoAccess" rel="637|458" class="iframe-popup"  style="display:none"  href="~/Home-Page/Customer-Center/Count-alone/iButtons/PopUpLoginIn.aspx"></a> 