﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="YouTubeControl.ascx.cs" Inherits="CMSInlineControls_YouTubeControl" %>
<asp:Literal ID="ltlYouTube" runat="server" EnableViewState="false" />