<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SharePoint/SharePointDataGrid.ascx.cs"
    Inherits="CMSWebParts_SharePoint_SharePointDataGrid" %>
<%@ Register Src="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasource.ascx"
    TagName="SPDataSource" TagPrefix="cms" %>
    
<cms:BasicDataGrid ID="BasicDataGrid" runat="server" >
</cms:BasicDataGrid>
<cms:SPDataSource ID="SPDataSource" runat="server" />
