<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SharePoint/SharePointDatasource.ascx.cs"
    Inherits="CMSWebParts_SharePoint_SharePointDataSource" %>
<%@ Register Src="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasource.ascx"
    TagName="SPDataSource" TagPrefix="cms" %>
<cms:SPDataSource ID="SPDataSource" runat="server" />
