﻿<?xml version="1.0" encoding="utf-8" ?>
<geonames style="MEDIUM">
	
	<geoname>
		<name>London</name>
		<lat>51.5084152563931</lat>
		<lng>-0.125532746315002</lng>
		<geonameId>2643743</geonameId>
		<countryCode>GB</countryCode>
		<countryName>United Kingdom</countryName>

		<fcl>P</fcl>
		<fcode>PPLC</fcode>
	</geoname>
	<geoname>
		<name>London</name>
		<lat>42.983389283</lat>
		<lng>-81.233042387</lng>
		<geonameId>6058560</geonameId>
		<countryCode>CA</countryCode>
		<countryName>Canada</countryName>

		<fcl>P</fcl>
		<fcode>PPL</fcode>
	</geoname>
	<geoname>
		<name>East London</name>
		<lat>-33.0152850934643</lat>
		<lng>27.9116249084473</lng>
		<geonameId>1006984</geonameId>
		<countryCode>ZA</countryCode>
		<countryName>South Africa</countryName>

		<fcl>P</fcl>
		<fcode>PPL</fcode>
	</geoname>
	<geoname>
		<name>City</name>
		<lat>51.5133363996235</lat>
		<lng>-0.0890064239501953</lng>
		<geonameId>2643744</geonameId>
		<countryCode>GB</countryCode>
		<countryName>United Kingdom</countryName>

		<fcl>A</fcl>
		<fcode>ADM2</fcode>
	</geoname>
	<geoname>
		<name>London</name>
		<lat>37.1289771</lat>
		<lng>-84.0832646</lng>
		<geonameId>4298960</geonameId>
		<countryCode>US</countryCode>
		<countryName>United States</countryName>

		<fcl>P</fcl>
		<fcode>PPL</fcode>
	</geoname>
	<geoname>
		<name>The Tower of London</name>
		<lat>51.5082349601834</lat>
		<lng>-0.0763034820556641</lng>
		<geonameId>6286786</geonameId>
		<countryCode>GB</countryCode>
		<countryName>United Kingdom</countryName>

		<fcl>S</fcl>
		<fcode>CSTL</fcode>
	</geoname>
	<geoname>
		<name>London Reefs</name>
		<lat>8.85</lat>
		<lng>112.5333333</lng>
		<geonameId>1879967</geonameId>
		<countryCode>  </countryCode>
		<countryName>  </countryName>

		<fcl>U</fcl>
		<fcode>RFSU</fcode>
	</geoname>
	<geoname>
		<name>Greater London</name>
		<lat>51.5</lat>
		<lng>-0.1666667</lng>
		<geonameId>2648110</geonameId>
		<countryCode>GB</countryCode>
		<countryName>United Kingdom</countryName>

		<fcl>A</fcl>
		<fcode>ADM2</fcode>
	</geoname>
	<geoname>
		<name>London</name>
		<lat>46.1666667</lat>
		<lng>6.0166667</lng>
		<geonameId>2661811</geonameId>
		<countryCode>CH</countryCode>
		<countryName>Switzerland</countryName>

		<fcl>H</fcl>
		<fcode>STM</fcode>
	</geoname>
	<geoname>
		<name>London Borough of Islington</name>
		<lat>51.5333333</lat>
		<lng>-0.1333333</lng>
		<geonameId>3333156</geonameId>
		<countryCode>GB</countryCode>
		<countryName>United Kingdom</countryName>

		<fcl>A</fcl>
		<fcode>ADM2</fcode>
	</geoname>
</geonames>