<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/General/languageselectionwithflags.ascx.cs" Inherits="CMSWebParts_General_languageselectionwithflags"  %>

<asp:Literal runat="server" ID="ltrDivOpen" EnableViewState="false" />
<asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
<asp:Literal runat="server" ID="ltrDivClose" EnableViewState="false" />
