<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ForumGroup_Header.aspx.cs" Inherits="CMSModules_Groups_Tools_Forums_Groups_ForumGroup_Header" 
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" %>
