<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DocumentType_Edit_Header.aspx.cs"
    Inherits="CMSSiteManager_Development_DocumentTypes_DocumentType_Edit_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Document Type Edit - Header" %>
