<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectRatings.ascx.cs" Inherits="CMSModules_Content_FormControls_SelectRatings" %>

<asp:DropDownList ID="drpRatingsControls" runat="server" CssClass="DropDownField" />
