<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/LivePay/languageselectionwithflags.ascx.cs" Inherits="CMSWebParts_LivePay_languageselectionwithflags"  %>

<asp:Literal runat="server" ID="ltrDivOpen" EnableViewState="false" />
<asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
<asp:Literal runat="server" ID="ltrDivClose" EnableViewState="false" />
