<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ForumLayoutSelector.ascx.cs" Inherits="CMSModules_Forums_FormControls_ForumLayoutSelector" %>

<cms:localizeddropdownlist ID="drpLayouts" runat="server" CssClass="DropDownField" />