<%@ Control Language="C#" AutoEventWireup="true" CodeFile="board_board.ascx.cs"
    Inherits="CMSModules_ImportExport_Controls_Export_board_board" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" />
    </div>
</asp:Panel>
