<%@ Control Language="C#" AutoEventWireup="true" CodeFile="cms_form.ascx.cs" Inherits="CMSModules_ImportExport_Controls_Export_cms_form" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" />
    </div>
</asp:Panel>
