<%@ Control Language="C#" AutoEventWireup="true" CodeFile="forums_forum.ascx.cs"
    Inherits="CMSModules_ImportExport_Controls_Export_forums_forum" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" />
    </div>
</asp:Panel>
