<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebFarm_Frameset.aspx.cs" Inherits="CMSSiteManager_Administration_WebFarm_WebFarm_Frameset" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Administration - WebFarm</title>
</head>
		<frameset border="0" rows="72, *">
    		<frame name="header" src="WebFarm_Header.aspx" scrolling="no" frameborder="0" />		
		    <frame name="content" src="WebFarm_Server_List.aspx" scrolling="auto" frameborder="0" />
		    <noframes>
    			<body>
			    <p id="p1">
		    		This HTML frameset displays multiple Web pages. To view this frameset, use a 
	    			Web browser that supports HTML 4.0 and later.
    			 </p>
			    </body>
		    </noframes>
    	</frameset>
</html>
