<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Header.aspx.cs"
    Inherits="CMSModules_Content_CMSDesk_Properties_Advanced_EditableContent_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" %>

