﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectUIElement.ascx.cs"
    Inherits="CMSAdminControls_UI_UIProfiles_SelectUIElement" %>
<asp:DropDownList runat="server" ID="drpElements" CssClass="DropDownField" />
