﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="UIGuide.ascx.cs" Inherits="CMSAdminControls_UI_UIProfiles_UIGuide" %>
<%@ Register src="~/CMSAdminControls/UI/PageElements/guide.ascx" tagname="Guide" tagprefix="cms" %>
<cms:Guide ID="guideElem" runat="server" />
