<%@ Page Language="C#" AutoEventWireup="true" CodeFile="FileUpload.aspx.cs" Title="Upload file"
    Inherits="CMSModules_Content_CMSPages_Attachments_FileUpload" Theme="default"
    MasterPageFile="~/CMSMasterPages/LiveSite/Dialogs/ModalSimplePage.master" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <div class="PageContent">
        <asp:Panel ID="pnlUploaderElem" runat="server">
        </asp:Panel>
    </div>
</asp:Content>
