<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true"
    CodeFile="Category_Edit_Header.aspx.cs" Inherits="CMSSiteManager_Development_Categories_Category_Edit_Header"
    Title="Category - Edit header" Theme="Default" %>
