<%@ Page Language="C#" AutoEventWireup="true" CodeFile="User_Edit.aspx.cs" Inherits="CMSSiteManager_Administration_Users_User_Edit"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="User Edit - Header" %>

