<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TagGroup_Edit.aspx.cs" Inherits="CMSSiteManager_Development_TagGroups_TagGroup_Edit" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Untitled Page</title>

    <script type="text/javascript">
        var IsCMSDesk = true;
    </script>

</head>
<frameset border="0" rows="102, *" id="rowsFrameset">
    <frame name="groupHeader" src="TagGroup_Edit_Header.aspx<%= Request.Url.Query %>" frameborder="0" scrolling="no" noresize="auto" />
    <frame name="groupContent" src="TagGroup_Edit_General.aspx<%= Request.Url.Query %>" frameborder="0" />
    <noframes>
        <body>
            <p id="p1">
                This HTML frameset displays multiple Web pages. To view this frameset, use a Web
                browser that supports HTML 4.0 and later.
            </p>
        </body>
    </noframes>
</frameset>
</html>
