			
.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	background: url(../../app_themes/LivePay/scrollbar/ScrollBarBG.png) repeat-y ;
	
}
.jScrollPaneDrag {
	position: absolute;
	background: url(../../app_themes/LivePay/scrollbar/BarIconCenter.png);
	background-repeat:repeat-y;
	width:13px;
	height:50%;
	cursor: pointer;
	overflow: hidden;
	font-weight:bold
}
.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: url(../../app_themes/LivePay/scrollbar/BarIconTop.png);
	background-repeat:no-repeat;
	height: 4px;
	width:13px;
}
.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: url(../../app_themes/LivePay/scrollbar/BarIconBottom.png);
	background-repeat:no-repeat;
	height: 4px;
	width:13px;
}
a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	
}
a.jScrollArrowUp:hover {
	/*background-color: #f60;*/
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	/*background-color: #666;*/
	
}
a.jScrollArrowDown:hover {
	/*background-color: #f60;*/
}
a.jScrollActiveArrowButton, a.jScrollActiveArrowButton:hover {
	/*background-color: #f00;*/
}