<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true"
    CodeFile="Boards_Header.aspx.cs" Inherits="CMSModules_Groups_Tools_MessageBoards_Boards_Header"
    Title="Untitled Page" Theme="Default" %>

