﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WidgetTree.ascx.cs" Inherits="CMSModules_Widgets_Controls_WidgetTree" %>
<%@ Register Src="~/CMSAdminControls/UI/Trees/UniTree.ascx" TagName="UniTree" TagPrefix="cms" %>

<cms:UniTree runat="server" ID="treeElem" />