<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Product_Edit_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_Ecommerce_Tools_Products_Product_Edit_Header" Theme="Default" %>
