<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Product_Edit_Frameset.aspx.cs" Inherits="CMSModules_Ecommerce_Tools_Products_Product_Edit_Frameset" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Product - edit - Frameset</title>
</head>
<frameset border="0" rows="65, *" runat="server" id="rowsFrameset">
    <frame name="ProductHeader" src="Product_Edit_Header.aspx<%=Request.Url.Query%>" frameborder="0" scrolling="no" noresize="noresize" />
    <frame name="ProductContent" src="Product_Edit_General.aspx<%=Request.Url.Query%>" frameborder="0" />
    <noframes>
        <body>
            <p id="p1">
                This HTML frameset displays multiple Web pages. To view this frameset, use a Web
                browser that supports HTML 4.0 and later.
            </p>
        </body>
    </noframes>
</frameset>
</html>