<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectWidgetCategory.ascx.cs"
    Inherits="CMSModules_Widgets_FormControls_SelectWidgetCategory" %>
<asp:DropDownList ID="drpWidgetCategory" runat="server" CssClass="DropDownField" />
