<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BadWords_Edit_Header.aspx.cs"
    Inherits="CMSModules_BadWords_BadWords_Edit_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Administration - Bad words header" Theme="default" %>