<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BadWords_Edit.aspx.cs" Inherits="CMSModules_BadWords_BadWords_Edit" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Administration - Bad words</title>
</head>
<frameset border="0" rows="102, *" id="rowsFrameset">
    <frame name="badwordsMenu" src="BadWords_Edit_Header.aspx<%=Request.Url.Query%>" frameborder="0" scrolling="no" noresize="noresize" />
    <frame name="badwordsContent" src="BadWords_Edit_General.aspx<%=Request.Url.Query%>" frameborder="0" />
    <noframes>
        <body>
            <p id="p1">
                This HTML frameset displays multiple Web pages. To view this frameset, use a Web
                browser that supports HTML 4.0 and later.
            </p>
        </body>
    </noframes>
</frameset>
</html>

