<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MessageUserSelector_Header.aspx.cs"
    Inherits="CMSModules_Messaging_CMSPages_MessageUserSelector_Header" MasterPageFile="~/CMSMasterPages/LiveSite/Dialogs/TabsHeader.master" Theme="Default" EnableEventValidation="false" %>
