<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Date.ascx.cs" Inherits="CMSFormControls_Date" %>

<div runat="server" id="CustomCloud_div"></div>


<asp:textbox CssClass="SrcHisPayTxt" id="Date" runat="server" width="260px" autocomplete="off" />

<div class="HideIt">
    <asp:CustomValidator ID="cv_Date" runat="server"   
                        ControlToValidate="Date" ValidationGroup="Tab1_PayForm" />
</div>