<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Newsletters/NewsletterArchive.ascx.cs"
    Inherits="CMSWebParts_Newsletters_NewsletterArchive" %>
<cms:QueryRepeater ID="repNewsArchive" runat="server" />
