<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewSecureText.ascx.cs" Inherits="CMSFormControls_Viewers_ViewSecureText" %>

<asp:Label ID="lblText" runat="server" EnableViewState="false" />
