<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewUserGender.ascx.cs" Inherits="CMSFormControls_Viewers_ViewUserGender" %>

<asp:Label ID="lblGender" runat="server" EnableViewState="false" />
