<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" AutoEventWireup="true"
    CodeFile="Blogs_Blogs_List.aspx.cs" Inherits="CMSModules_Blogs_Tools_Blogs_Blogs_List"
    Title="Blogs - Blogs list" Theme="Default" %>
<%@ Register src="~/CMSAdminControls/UI/UniGrid/UniGrid.ascx" tagname="UniGrid" tagprefix="cms" %>

<asp:Content ContentPlaceHolderID="plcControls" runat="Server">
    <table>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblBlogs" runat="server" EnableViewState="false" DisplayColon="true"
                    ResourceString="blog.blogs" />
            </td>
            <td>
                <cms:LocalizedDropDownList ID="drpBlogs" runat="server" AutoPostBack="true" CssClass="DropDownField" />
            </td>
        </tr>
    </table>
</asp:Content>
<asp:Content ContentPlaceHolderID="plcContent" runat="Server">
    <cms:UniGrid ID="gridBlogs" runat="server" GridName="Blog_List.xml" IsLiveSite="false" />

    <script type="text/javascript">
        //<![CDATA[
        // Open blog edit page in CMSDesk
        function EditBlog(nodeId, culture) {
            if (nodeId != 0) {
                parent.parent.parent.location.href = "../../../CMSDesk/default.aspx?section=content&action=edit&nodeid=" + nodeId + "&culture=" + culture;
            }
        }
        //]]>
    </script>

    <asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
</asp:Content>
