<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true"
    CodeFile="Blogs_Header.aspx.cs" Inherits="CMSModules_Blogs_Tools_Blogs_Header"
    Title="Blogs - Header" Theme="Default" %>

<%-- Add content controls here --%>
