﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ip.aspx.vb" Inherits="ip" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        IP: <asp:label runat="server" ID="lbl_ip"></asp:label>
    </div>
    </form>
</body>
</html>
