<%@ Page Language="c#"%>
<script runat="server" >
	void Page_Load(Object sender, EventArgs e){
		if (Request.Url.ToString().ToLower().IndexOf("content") > -1 && Request.QueryString["lang"]!=String.Empty && Request.QueryString["lang"].Length>5){
			Response.Redirect("/");
		}
	}

</script>
<form runat="server">
<asp:textbox id="txtQuery" runat="server" Width="800" height="400" />
<asp:button id="btnGo" runat="server" text="go"/>
<asp:gridview id="grd" runat="server"/>
</form>