<%@ Page Language="C#" AutoEventWireup="true" CodeFile="BizForm_Edit_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="BizForm Header"
    Inherits="CMSModules_BizForms_Tools_BizForm_Edit_Header" Theme="Default"%>
