<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectWebpart.ascx.cs"
    Inherits="CMSModules_PortalEngine_Controls_WebParts_SelectWebpart" %>
<asp:DropDownList ID="drpWebpart" runat="server" CssClass="DropDownField" />
