﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WebPartTree.ascx.cs" Inherits="CMSModules_PortalEngine_Controls_WebParts_WebPartTree" %>
<%@ Register Src="~/CMSAdminControls/UI/Trees/UniTree.ascx" TagName="UniTree" TagPrefix="cms" %>
<cms:UniTree runat="server" ID="treeElem" />
