<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Polls_Edit_Header.aspx.cs" Inherits="CMSModules_Groups_Tools_Polls_Polls_Edit_Header" 
Theme="Default"  MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Group polls - header" %>


