<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" AutoEventWireup="true"
    CodeFile="Board_List.aspx.cs" Inherits="CMSModules_Groups_Tools_MessageBoards_Boards_Board_List"
    Title="Message boards - List" Theme="Default" %>

<%@ Register Src="~/CMSModules/MessageBoards/Controls/Boards/BoardList.ascx" TagName="BoardList"
    TagPrefix="cms" %>
<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="Server">
    <cms:BoardList ID="boardList" runat="server" />
</asp:Content>
