<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/WebServices/DatalistForWebService.ascx.cs" Inherits="CMSWebParts_WebServices_DatalistForWebService" %>

<cms:BasicDataList ID="basicDatalist" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />