<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Culture_Edit_Header.aspx.cs" 
    Inherits="CMSSiteManager_Development_Cultures_Culture_Edit_Header" Theme="Default" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Culture Edit - Header"%>
