<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Customer_Edit_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_Customers_Customer_Edit_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Theme="Default" Title="Customer - Edit - Header" %>

