<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TimeZoneTypeSelector.ascx.cs" Inherits="CMSFormControls_TimeZones_TimeZoneTypeSelector" %>
<cms:LocalizedDropDownList ID="drpTimeZoneTypeSelector" runat="server" CssClass="DropDownField" />