<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/Search/ForumExtendedSearchDialog.ascx.cs"
    Inherits="CMSWebParts_Forums_Search_ForumExtendedSearchDialog" %>
<asp:Panel ID="pnlForumExtendedSearch" runat="server" DefaultButton="btnSearch">
    <cms:LocalizedLabel ID="lblInfo" EnableViewState="false" runat="server" Visible="false" />
    <table class="ForumExtendedSearch">
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblSearchText" ResourceString="ForumExtSearch.Text" DisplayColon="true"
                    EnableViewState="false" AssociatedControlID="txtSearchText" runat="server" />
            </td>
            <td>
                <asp:TextBox ID="txtSearchText" CssClass="TextBox" runat="server" EnableViewState="false" />
            </td>
            <td>
            <asp:Image runat="server" ID="imgTextHint" />
            </td>
        </tr>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblSearchUserName" ResourceString="ForumExtSearch.User" DisplayColon="true"
                    EnableViewState="false" AssociatedControlID="txtUserName" runat="server" />
            </td>
            <td colspan="2">
                <asp:TextBox ID="txtUserName" CssClass="TextBox" runat="server" EnableViewState="false" />
            </td>
        </tr>
        <asp:PlaceHolder runat="server" ID="plcForums" Visible="false">
            <tr>
                <td>
                    <cms:LocalizedLabel ID="lblForums" ResourceString="ForumExtSearch.Forums" DisplayColon="true"
                        EnableViewState="false" AssociatedControlID="listForums" runat="server" />
                </td>
                <td colspan="2">
                    <asp:ListBox Rows="8" CssClass="DropDownList" runat="server" ID="listForums" SelectionMode="Multiple" />
                </td>
            </tr>
        </asp:PlaceHolder>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblSearchIn" ResourceString="ForumExtSearch.SearchIn" DisplayColon="true"
                    EnableViewState="false" AssociatedControlID="drpSearchIn" runat="server" />
            </td>
            <td colspan="2">
                <asp:DropDownList ID="drpSearchIn" CssClass="DropDownList" runat="server" />
            </td>
        </tr>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblSearchOrderBy" ResourceString="ForumExtSearch.OrderBy"
                    DisplayColon="true" EnableViewState="false" AssociatedControlID="drpSearchOrderBy" runat="server" />
            </td>
            <td>
                <asp:DropDownList ID="drpSearchOrderBy" CssClass="DropDownList" runat="server" />
            </td>
            <td>
                <asp:RadioButtonList ID="rblSearchOrder" runat="server" RepeatDirection="Horizontal" />
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <cms:CMSButton ID="btnSearch" CssClass="ContentButton" runat="server" EnableViewState="false"
                    OnClick="btnSearch_Click" />
            </td>
        </tr>
    </table>
</asp:Panel>
