<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PublicFileUploader.aspx.cs" MasterPageFile="~/CMSMasterPages/UI/EmptyPage.master"
    Inherits="CMSModules_Content_Attachments_DirectFileUploader_PublicFileUploader" Title="File Uploader"
    ValidateRequest="false" Theme="Default" EnableEventValidation="false" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <style type="text/css">
        *
        {
            direction: ltr;
        }
        body
        {
            background: transparent !important;
        }
    </style>
    <asp:Panel ID="pnlUploaderElem" runat="server">
    </asp:Panel>
</asp:Content>
