﻿
.Custom-DDL-Option-Div{border-bottom:1px solid #DDDDDE;line-height:16px;padding:3px 0 4px;margin-left:2px}
.Custom-DDL-Holder{border-left:1px solid #b8b8b8;width:280px;height:189px;position:absolute;border-bottom:1px solid #b8b8b8;}
.jScrollPaneDrag{height:122px}
.Custom-DDL-DivIn{height:189px;overflow:auto;background-image:url('../../App_Themes/Posidonia2012/CustomDropDown/bg_drop_m.png');background-repeat:repeat-x;background-color:White}
.Custom-DDL-Text{width:240px; background-color: transparent; border-color: transparent;}
.jScrollCap {margin-left:2px}
.Custom-DDL-Main-Holder{border: 1px solid #b8b8b8; width: 274px; padding: 3px;}
.Custom-DLL{display:none;}
.DDLHolder{float: left; display: block;}

.Custom-DDL-Option{float:left;cursor:pointer;width:245px;display:block;height:23px;padding: 7px  6px 2px 6px;color:#363636;line-height:16px;}
.Custom-DDL-Option-Over{float:left;cursor:pointer;width:245px;display:block;height:23px;padding: 7px  6px 2px 6px;color:#363636;line-height:16px;background-image:url('../../App_Themes/Posidonia2012/CustomDropDown/Centerbg.png');background-repeat:repeat-x;}

.Custom-DDL-Option-Ovesr{cursor:pointer;width:245px;display:block;height:30px;color:#363636;line-height:16px;background-image:url('../../App_Themes/Posidonia2012/CustomDropDown/Centerbg.png');background-repeat:repeat-x;}

.Custom-DDL-RightCorner{float:left;font-size:1px;height:30px;width:6px}
.Custom-DDL-LeftCorner{float:left;font-size:1px;height:30px;width:6px}

.Custom-DDL-RightCorner-Over{float:left;font-size:1px;height:30px;width:6px;background-image:url('../../App_Themes/Posidonia2012/CustomDropDown/LeftBG.png');background-repeat:no-repeat}
.Custom-DDL-LeftCorner-Over{float:left;font-size:1px;height:30px;width:6px;background-image:url('../../App_Themes/Posidonia2012/CustomDropDown/RightBg.png');background-repeat:no-repeat}

.Clear{clear:both;font-size:1px}

.ui-autocomplete {
		max-height: 150px;
		overflow-y: auto;
		text-align:left;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		
	}
	.ui-menu-item{min-width:100px;}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
	* html .ui-autocomplete {
		height: 150px;
	}



.DropDownContent{border:1px solid #B8B8B8;}
.DropDownContent input{background-color:transparent;padding: 3px; height: 24px; width:110px;border:0px;}
.DropDownContent button{width:26px;height:24px;background-color:White;text-align:center;background:none;border:0px;top:-4px;}
.ui-button-icon-only .ui-icon{background-image:url(../../App_Themes/Posidonia2012/CustomDropDown/DDLPointer.png);height: 26px;top: 9px;width: 25px;margin-left:-18px;}
.ui-icon-triangle-1-s{background-position:left;}
.DropDownContent button .ui-button-text{margin-top: -2px;padding:3px;height:24px;}


#SelectedAssociated .DropDownContent input{width:218px;}
#SelectedExhibiting .DropDownContent input{width:218px;}
#SelectLetterDIV .DropDownContent input{width:240px;}
.#GeneralAreaOfTextBoxBig .DropDownContent input{width:50px;}
#SelectCountryDIV .DropDownContent input{width:317px;}
#SelectAgentCountryDIV .DropDownContent input{width:317px;}
#SelectCountry4DIV .DropDownContent input{width:285px;}
#SelectPass4DIV .DropDownContent input{width:285px;}
#N2Nnew2DIV .DropDownContent input{width:124px;}




