﻿
.outtaHere {
    left: -3000px;
    position: absolute;
}
.Registration
{
    background-color:#FFF;
    min-height:400px;
    padding:10px 25px;
}
.registration_text
{
    padding:15px 0px 25px 0px;
    color:#5a5a5a;
}
.registration_form .form
{
    float:left;
    padding:18px 13px;
    background-color:#f4f4f4;
    margin:0 0 20px 0;
    width:818px;
    width:100%
}

.Registration .row{
    padding: 0 0 16px;
    width: 870px;
    color:#545454;
    font-size:14px;
    /*overflow:hidden;
    height:100%;*/
}
.Registration .sector{
    width: 310px;
}
.Registration .sector2
{
    width: 320px;
}
.Registration .sector label,
.Registration .sector2 label,
.Registration .sector_m label,
.Registration .sector_s label,
.Registration .sector_b label{
    display: block;
    padding: 0 0 6px;
}
.Registration .iban label
{
    display:inline-block;
}
.Registration .iban span
{
    float:right;
    color:#0082c9;
    border-bottom:1px dotted #0082c9;
}
.Registration .sector,
.Registration .sector2,
.Registration .sector_b,
.Registration .sector_s{
    padding:0 28px 0 0;
    float:left;
}
.Registration .first
{
    padding:0 9px 0 0;
}
.Registration .sector_b
{
    width: 380px;
}
.Registration .sector_m{
    width: 185px;
    padding:0 9px 0 0;
    float:left;
}
.Registration .row ._last
{
    padding:0 28px 0 0 !important;    
}
.Registration .sector_s{
    width: 60px;

}



/*# select #*/
.select_wrap {
	width: 100% !important;
}
.select_wrap {
	clear: both;
	position: relative;
	color: #000;
	width: 100%;
}
.select_wrap 
{
    float:none;
    width:100%;
}
.select_wrap div.select{
	white-space: nowrap;
	padding-right: 30px;
	overflow: hidden;
}

.DropDownOfSearch .select_wrap div.select
{
    width:36px;
}

.AreaOfDDL-Small .select_wrap div.select
{
    width:207px;
}

.AreaOfDDL-Big .select_wrap div.select
{
    width:283px;
}

.AreaOfDDL-Big4 .select_wrap div.select
{
    width:251px;
}

.ClassOnNewDivsDDL .select_wrap div.select
{
    width:184px;
}

.ClassOnNewDivsDDL4 .select_wrap div.select
{
    width:80px;
}

.AreaOfDDL-MediumSmall4 .select_wrap div.select
{
    width:80px;
}

.AreaOfDDL-Normal .select_wrap div.select
{
    width:283px;
}

.AreaOfDDL-MediumSmall .select_wrap div.select
{
    width:183px;
}

.AreaOfDDL-MediumSmall5 .select_wrap div.select
{
    width:90px;
}

.ClassOnNewDivsDDL2 .select_wrap div.select
{
    width:90px;
}

.sector2 .select_wrap div.select
{
    width:251px;
}
.sector_m .select_wrap div.select
{
    width:116px;
}
.sector_b .select_wrap div.select
{
    width:311px;
}
.selector_bank div.select
{
    width:131px;
}



.ExchibitingCompanies2012-DropDownList-Left .select_wrap div.select
{
    width:141px;
}
.ExchibitingCompanies2012-DropDownList-Right .select_wrap div.select
{
    width:141px;
}


.select_wrap .select{
	cursor:pointer;
}
.select_wrap .select,
.select_wrap .link_select {
	position: relative;
	z-index: 11;
}
.select
{
    background: url("/App_Themes/posidonia2012/dropdownlist/bg_select.gif") no-repeat scroll 0 0 transparent;
    color: #363636;
    float: left;
    height: 22px;
    padding: 10px 0 0 10px;
}
.link_select {
	float: left;
	height: 32px;
	width: 30px;
	line-height: 0;
	font-size: 0;
	text-indent: -9999px;
	background: url('/App_Themes/posidonia2012/dropdownlist/bg_select.gif') no-repeat scroll -334px -32px;
	outline: none;
}
/*.active .select {background-position:0 -80px !important;}
.active .link_select {background-position:-322px -120px !important;}
.select_error {background-position:0 -160px !important;}
.select_link_error {background-position:-322px -200px !important;}
*/
.selector_bank
{
    width:200px;
}

.active .select,
.active .link_select
{
    z-index:9999 !important;  
}
.select_wrap .drop-StyleOfForms-DDL-Small
{
    z-index:99 !important;
}
.select_wrap .drop-doy
{
    z-index:88 !important;
}
.select_wrap .drop-postcode
{
    z-index:77 !important;
}

.drop {
	display: none;
	position: absolute;
	z-index: 10;
	top: 25px;
	left: -1px;
	width: 550px;
}
.drop .content_drop
{
    display: table;
    height: 206px;
}

.drop .wrap {display: table-row;}
.drop .l {
	display: table-cell;
	width: 5px;
	background: url('/App_Themes/HellasPay/CustomForms/bg_drop_l.png') no-repeat;
}
.drop .m {
	padding-top: 17px;
}
.drop .m {
	display: table-cell;
	background: url('/App_Themes/HellasPay/CustomForms/bg_drop_m.png') repeat-x;
}
.select_wrap .m 
{
    height: 189px !important;
    overflow: hidden;
}
.drop .r {
	display: table-cell;
	width: 6px;
	background: url('/App_Themes/HellasPay/CustomForms/bg_drop_r2.png') no-repeat;
}

/* drop width */
.drop .inside {
	margin-top: 0;
}
.drop .inside {
	overflow: auto;
	margin: 0px 6px 0 0;
	height: 180px;
}
.drop ul {
	margin: 0 27px 0 0;
	padding: 0;
	width: 105px;
	list-style: none;
}

.drop ul {width: 105px;}

.drop ul li {
	display: block;
	border-bottom: 1px solid #ddddde;
	padding: 3px 0 4px;
	width: 100%;
	line-height: 16px;
	font-size: 12px;
	white-space: nowrap;
}
.drop ul li a {
	display: block;
	padding: 0 0 0 6px;
	height: 1%;
	color: #363636;
	cursor: pointer;
	text-decoration:none;
}
.drop ul li.hactive a,
.drop ul li a:hover {
	text-decoration: none;
	background: url('/App_Themes/HellasPay/CustomForms/bg_drop_hover.gif') no-repeat;
}
.drop ul li a span {
	display: block;
	padding: 7px 6px 0 0;
	height: 23px;
}
.drop ul li.hactive a span,
.drop ul li a:hover span {background: url('/App_Themes/HellasPay/CustomForms/bg_drop_hover.gif') no-repeat 100% 0;}
/* jScrollPane */
.select_wrap .jScrollPaneContainer
{
    float:left;
}
.jScrollPaneContainer
{
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.jScrollCapTop 
{
    background: url("/App_Themes/HellasPay/CustomForms/bg_scrollbar.png") no-repeat scroll 0 0 transparent;
}
.jScrollCap 
{
    height: 12px !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 12px !important;
    z-index: 1;
}
.jScrollPaneTrack 
{
    background: url("/App_Themes/HellasPay/CustomForms/bg_scrollbar.png") no-repeat scroll 0 100% transparent;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
.jScrollPaneDrag
{
    background: url("/App_Themes/HellasPay/CustomForms/bg_scrollbar.png") no-repeat scroll 100% 100% transparent;
    cursor: pointer;
    position: absolute;
    z-index: 20;
}
.jScrollPaneDragTop
{
    background: url("/App_Themes/HellasPay/CustomForms/bg_scrollbar.png") no-repeat scroll 100% 0 transparent;
    height: 12px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 12px;
}
.jScrollPaneDragBottom 
{
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

/* CheckBox */
.checkboxArea{
    background: url("/App_Themes/HellasPay/CustomForms/checkbox.gif") no-repeat scroll 0 0 transparent;
    clear: left;
    display: block;
    float: left;
    height: 13px;
    padding: 0 4px 0 0;
    width: 13px;
}
.checked
{
    background-position: 0 -13px;
}
.Registration .text_terms 
{
    float:left;
    font-size:13px;
    color:#0082c9;
    border-bottom:1px dotted #0082c9;
    padding:0px !important;
}






.Registration .error .link_select {background: url('/App_Themes/HellasPay/CustomForms/bg_link_select-error.gif') no-repeat;}


.select_wrap:after {
	display: block;
	content: "";
	clear: both;
}






.active .drop {display: block;}


* html .drop .wrap {float: left;}
*+html .drop .wrap {float: left;}
* html .drop .l,
* html .drop .r,
* html .drop .m {
	float: left;
	height: 206px;
}
*+html .drop .l,
*+html .drop .r,
*+html .drop .m {
	float: left;
	height: 206px;
}