<%@ Control Language="C#" AutoEventWireup="true" CodeFile="cms_formusercontrol.ascx.cs"
    Inherits="CMSModules_ImportExport_Controls_Import_cms_formusercontrol" %>

<asp:Panel runat="server" ID="pnlWarning" CssClass="WizardHeaderLine" BackColor="transparent" Visible="false">
    <asp:Label ID="lblWarning" CssClass="ErrorLabel" runat="server" EnableViewState="false" />
</asp:Panel>