<%@ Control Language="C#" AutoEventWireup="true" CodeFile="cms_customtable.ascx.cs"
    Inherits="CMSModules_ImportExport_Controls_Import_cms_customtable" %>
<asp:Panel runat="server" ID="pnlCheck" CssClass="WizardHeaderLine" BackColor="transparent">
    <div>
        <asp:CheckBox ID="chkObject" runat="server" Visible="false" />
    </div>
    <br />
    <asp:Label ID="lblInfo" runat="server" />
</asp:Panel>
