<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MyMessages_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_Messaging_MyMessages_MyMessages_Header"
    Title="My messages - header" ValidateRequest="false" Theme="Default" EnableViewState="false" %>

