body
{
	padding:0px;margin:0px;
     background-color:#0a2d53;
     width:100%;
     text-align:center;
     font-family:Tahoma;
     font-size:11px;
     color:White
     }

.Clear{clear:both}
.Fleft{float:left}
.MLN15{margin-left:-15px}
.Master-Main{width:992px;margin-left:auto;margin-right:auto;font-family:Tahoma;font-size:11px;color:White}
.Master-Banner{width:992px;height:370px}
.Master-Menu-Holder{width:992px;height:29px;text-align:left;font-weight:normal}
.Master-Top-Right{float:left;width:664px;text-align:right;padding-top:10px}
.Master-Top-Right-Menu{width:457px;float:left;text-align:right;padding-top:3px}
.Master-Top-Right-SrcTxt{width:187px;float:left}
.Master-Top-Right-SrcOk{width:20px;float:left;padding-top:3px}
.SiteWidth{width:992px;}
h1{color:#3d5d93;padding:0px;margin:0px;font-family:Georgia;font-size:19px;font-weight:200;}
.More{display:block;background-image:url('../../App_Themes/Posidonia2012/Master/MoreBG.jpg');background-repeat:no-repeat;padding-left:23px;color:#4c6ca1;font-family:Tahoma;font-size:12px;height:18px}

.Master-Content{width:992px;background-color:White;text-align:left;}
.Home-Press-Holder h2{color:#4c6ca1;padding:0px;margin:0px;font-family:Tahoma;font-size:12px;font-weight:normal;padding-bottom:5px}
.Home-Press-Main{padding-top:20px}
.Home-Press-Title{font-weight:bold;font-size:12px;font-family:Tahoma;color:#000000;line-height:16px}
.Home-Press-Main .Content{font-size:12px;font-family:Tahoma;color:#000000;line-height:16px;padding-bottom:5px}
.Home-Press-Holder{float:left;width:190px;padding-left:16px;padding-right:13px}


.Page-Content{padding-top:25px;float:left;width:773px}
.Home-Info-Holder{float:left;padding-left:10px}

.Home-Info-Main{float:left;width:183px}
.Home-Info-Main .Photo{padding-top:20px}
.Home-Info-Main h2{color:#02578e;font-size:12px;font-family:Tahoma;font-weight:bold;padding:0px;margin:0px;padding-top:10px;width:150px;}
.Home-Info-Main .Content{font-size:12px;font-family:Tahoma;color:#000000;line-height:16px;width:150px;padding-top:5px;padding-bottom:5px}


.Home-Info-PosNum{padding-top:40px}
.Home-Info-Pos-Main{float:left;padding-top:15px}
.Home-Info-Pos-Main .Big-Text{color:#5070a6;font-family:Georgia;font-size:24px;font-weight:bold;padding-left:10px}
.Home-Info-Pos-Main .Small-Text{color:#5070a6;font-family:Georgia;font-size:16px;padding-left:10px}
.HomePosSep{padding-top:5px}

.Master-Right-Holder{padding-left:18px;float:left;padding-top:28px}
.Home-Right-Banner{padding-bottom:13px}

.FooterLink{font-family:Tahoma;font-size:11px;color:#0a2d53}
.Master-Bottom-Sponsor{width:954px;height:87px;background-color:#f2f2f2;margin-left:16px;margin-top:30px}
.Master-Footer-Holder{padding-left:16px;padding-top:15px;padding-bottom:20px}
.Master-Footer-Left{float:left;width:477px;text-align:left;font-family:Tahoma;font-size:11px;color:#0a2d53}
.Master-Footer-Right{float:left;width:477px;text-align:right;font-family:Tahoma;font-size:11px;color:#0a2d53}


.General-Holder{float:left;width:190px;padding-left:16px;padding-right:13px}


.General-Info-Main{width:183px}
.General-Info-Main .Photo{padding-top:20px}
.General-Info-Main h2{color:#02578e;font-size:12px;font-family:Tahoma;font-weight:bold;padding:0px;margin:0px;padding-top:10px;width:150px;}
.General-Info-Main .Content{font-size:12px;font-family:Tahoma;color:#000000;line-height:16px;width:150px;padding-top:5px;padding-bottom:5px}

.Global-Content-Right{float:left;margin-left:10px;width:530px}
.Global-Content-Right h3{color:#5070a6;font-family:Georgia;font-size:24px;font-weight:200;padding:0px;margin:0px}

.Global-Content{font-size:11px;font-family:Tahoma;color:#000000;padding-right:10px;padding-top:10px;padding-left:2px;background-color:White;}
.Global-MapUrl{font-family:Tahoma;font-size:11px;color:#000000;padding-bottom:5px;padding-left:2px}font-family:Tahoma;font-size:11px;color:#000000;padding-bottom:5px;padding-left:2px
.FaqQuestion a{display:block;background-image:url('../../App_Themes/Posidonia2012/Master/MoreBG.jpg');background-repeat:no-repeat;padding-left:23px;color:#4c6ca1;font-family:Tahoma;font-size:12px;line-height:18px}