<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/WebServices/GridForWebService.ascx.cs" Inherits="CMSWebParts_WebServices_GridForWebService" %>

<cms:BasicDataGrid ID="basicDataGrid" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />