<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/WebServices/RepeaterForWebService.ascx.cs" Inherits="CMSWebParts_WebServices_RepeaterForWebService" %>

<cms:BasicRepeater ID="basicRepeater" runat="server" />
<cms:WebServiceDataSource ID="wsDataSource" runat="server" />