<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Navigation/cmslistmenu.ascx.cs"
    Inherits="CMSWebParts_Navigation_cmslistmenu" %>
<cms:CMSListMenu ID="menuElem" runat="server" />
