<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Navigation/cmstreeview.ascx.cs"
    Inherits="CMSWebParts_Navigation_cmstreeview" %>
<cms:CMSTreeView ID="treeView" runat="server" />
