<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Attachments/DocumentAttachments.ascx.cs"
    Inherits="CMSWebParts_Attachments_DocumentAttachments" %>
<%@ Register Src="~/CMSModules/Content/Controls/Attachments/DocumentAttachments/DocumentAttachments.ascx" TagName="DocumentAttachments" TagPrefix="cms" %>
<cms:DocumentAttachments ID="ucAttachments" runat="server" />