<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Product_Edit_Options.aspx.cs" Inherits="CMSModules_Ecommerce_Content_Product_Product_Edit_Options" Theme="Default" %>

<%@ Register Src="~/CMSModules/Ecommerce/Controls/UI/ProductOptions.ascx" TagName="ProductOptions"
    TagPrefix="cms" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
    <title>Product options</title>
    <style type="text/css">
    body
    {
        margin: 0px;
        padding: 0px;
        height:100%; 
    }
    </style>
</head>
<body class="<%=mBodyClass%>">
    <form id="form2" runat="server">
        <asp:Panel runat="server" ID="pnlHeader" CssClass="PageHeaderLine">
        <asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false" />
            <asp:CheckBox CssClass="CheckBoxProd" ID="chkMarkDocAsProd" runat="server" OnCheckedChanged="chkMarkDocAsProd_CheckedChanged"
                AutoPostBack="true" Checked="true" />
        </asp:Panel>
        <asp:Panel runat="server" ID="pnlLeft" CssClass="FullTabsLeft" EnableViewState="false">
            &nbsp;
        </asp:Panel>
        <asp:Panel runat="server" ID="pnlPropTabs" CssClass="TabsTabs">
            <asp:Panel runat="server" ID="pnlWhite" CssClass="TabsWhite">
                <cms:BasicTabControl ID="BasicTabControlMenu" runat="server" />
            </asp:Panel>
        </asp:Panel>
        <asp:Panel runat="server" ID="pnlRight" CssClass="FullTabsRight" EnableViewState="false">
            &nbsp;
        </asp:Panel>
        <asp:Panel runat="server" ID="pnlOptions">
            <cms:ProductOptions id="ucOptions" runat="server" />
        </asp:Panel>    
    </form>
</body>
</html>
