<%@ Page Language="C#" AutoEventWireup="true" Theme="default" CodeFile="administration.aspx.cs"
    Inherits="CMSSiteManager_Administration_administration" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master"
    Title="Administration page" %>

<%@ Register Src="~/CMSAdminControls/UI/UIProfiles/UIGuide.ascx" TagName="UIGuide" TagPrefix="uc1" %>

<asp:Content ContentPlaceHolderID="plcContent" runat="server">
    <uc1:UIGuide ID="guide" runat="server" EnableViewState="false" ModuleName="CMS.Administration"
        ModuleAvailabilityForSiteRequired="false" />
</asp:Content>
