<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/LivePay/DateTime.ascx.cs" Inherits="CMSWebParts_LivePay_DateTime" %>
<div class="FLEFT">
<asp:Label runat="server" ID="lblDateTime"  />
</div>
<div class="FLEFT" style="padding-left:183px;padding-left:expression(43);position:absolute;top:99px;display:none" id="imgLoading"><img src="/App_Themes/LivePay/loading1.gif" /> Παρακαλώ περιμένετε...
</div>
<div class="Clear"></div>
