﻿/* --- General styles --- */

/* Overall styles */
body, html
{
    height: 100%;
}

.ClearBoth
{
    line-height: 1px;
    font-size: 1px;
    clear: both;
    display: block;
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.HiddenButton
{
    display: none;
}

.ContentButton
{
    width: 90px;
}

/* Edit menu */
.MenuItemEdit, .MenuItemEditSmall
{
    padding-right: 10px;
    cursor: pointer;
    color: #000000;
    text-decoration: underline;
}

.MenuItemEdit img, .MenuItemEditSmall img
{
    padding: 5px;
    vertical-align: middle;
    text-decoration: none;
}

.MenuItemEdit img
{
    width: 24px;
    height: 24px;
}

.MenuItemEditDisabled
{
    padding-right: 10px;
    color: #cccccc;
    text-decoration: underline;
}

.RTL .MenuItemEditDisabled
{
    padding-right: 0px;
    padding-left: 10px;
}

.MenuItemEditDisabled img
{
    padding: 5px;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Editing management */
.FCKEditorArea
{
    background-color: transparent;
}

.PortalEditArea, .TemplateEditArea
{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.PortalEditorToolbar, .TemplateEditorToolbar
{
    background-color: #f5f3ec;
    border-left: solid 1px #a4b2bc;
}

.PortalManager
{
    width: 97%;
    position: absolute;
    border-right: solid 1px #a4b2bc;
    z-index: 9000;
}

.FCKEditorDisabled
{
    margin: 1px;
    border: solid 1px #888888;
    padding: 2px;
    color: #888888;
    overflow: auto;
}

.WorkflowInfo
{
    display: block;
    font-family: Tahoma;
    font-size: 11px;
}

.PageManagerInfoContainer
{
    top: 0px;
    width: 100%;
}

.PageManagerWorkflowInfo
{
    background-color: #f5f3ec;
    border-bottom: solid 1px #a4b2bc;
    overflow: hidden;
    padding: 4px 5px 4px 10px;
    margin: 0px;
}

.RTL .PageManagerWorkflowInfo
{
    padding: 4px 10px 4px 5px;
}

.PageManagerInfo
{
    color: #000000;
    background-color: #ffffff;
    display: block;
    padding: 4px 3px 3px 10px;
    border-bottom: solid 1px #a4b2bc;
    font-family: Verdana;
    font-size: 12px;
}

.RTL .PageManagerInfo
{
    padding: 4px 10px 3px 3px;
}

.PageManagerError
{
    color: #ff0000;
    background-color: #ffffff;
    display: block;
    padding: 3px;
    border-bottom: solid 1px #a4b2bc;
}

.PageManagerPreviewInfo
{
    color: #000000;
    font-family: Tahoma;
    font-size: 11px;
    padding: 4px 5px 4px 10px;
    border-bottom: solid 1px #a4b2bc;
    background-color: #ffffff;
    background-color: #f5f3ec;
}

.RTL .PageManagerPreviewInfo
{
    padding: 4px 10px 4px 5px;
}

.PreviewInfo
{
    color: #000000;
}

.PreviewInfoLink
{
    padding-left: 5px;
    padding-right: 5px;
    color: #0000ff;
    font-weight: bold;
    text-decoration: underline;
}

.PortalManagerWorkflowInfo
{
    background-color: #f5f3ec;
    border-bottom: solid 1px #a4b2bc;
    height: 28px;
    overflow: hidden;
    padding: 1px 5px 1px 5px;
    margin: 0px;
}

.PortalManagerInfo
{
    color: #000000;
    background-color: #ffffff;
    display: block;
    padding: 3px;
    border-bottom: solid 1px #a4b2bc;
    font-family: Verdana;
    font-size: 12px;
}

.PortalManagerError
{
    color: #ff0000;
    background-color: #ffffff;
    display: block;
    padding: 3px;
    border-bottom: solid 1px #a4b2bc;
}

.SaveIndicator
{
    background-color: #89a;
    color: #000000;
    display: block;
    z-index: 9999;
    position: absolute;
    text-align: center;
    width: 110%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.PassiveIndicator
{
    z-index: 9997;
}

/* Editable regions */
.CMSEditableRegionEdit
{
    border: dashed 1px #888888;
    overflow: hidden;
    margin: 1px;
}

.CMSEditableRegionTitle
{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 2px 2px 2px 5px;
    background-color: #DDDDDD;
    color: #000000;
}

.RTL .CMSEditableRegionTitle
{
    padding: 2px 5px 2px 2px;
}

.CMSEditableRegionTextBox
{
    margin: 0px;
}

.CMSEditableRegionError
{
    color: #ff0000;
    padding: 2px;
}

/* Editable Texts */
.EditableTextEdit
{
    border: dashed 1px #888888;
    overflow: hidden;
    margin: 1px;
}

.EditableTextTitle
{
    font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    display: block;
    padding: 2px 2px 2px 5px;
    background-color: #DDDDDD;
}

.EditableTextError
{
    color: #ff0000;
    padding: 2px;
    display: block;
}

.EditableImageEdit
{
    border: dashed 1px #888888;
    margin: 1px;
    padding: 1px;
    min-height: 23px;
}

.IE6 .EditableImageEdit
{
    height: 23px;
}

.EditableImageEdit img
{
    padding: 0px;
    margin: 0px;
}

.EditableImageEditBody
{
    min-height: 22px;
}

.IE6 .EditableImageEditBody
{
    height: 22px;
}

.ImageSelector
{
    min-height: 24px;
}

.EditableImageEdit .ImageSelectorHeader
{
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    border: solid 1px #000000;
}

.RTL .EditableTextTitle
{
    padding: 2px 5px 2px 2px;
}

.EditableTextTextBox
{
    margin: 0px;
}

/* Edit mode buttons */
.CMSEditModeButtonAdd, .CMSEditModeButtonEdit, .CMSEditModeButtonDelete, .EditableImageEdit .SelectButton, .EditableImageEdit .ClearButton
{
    cursor: pointer;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    padding: 0px 5px 0px 21px;
    margin: 1px;
    color: #000000;
    text-decoration: underline;
    background-repeat: no-repeat;
    background-position: 3px 3px;
    display: inline;
    line-height: 25px;
}

.CMSEditModeButtonAdd, .CMSEditModeButtonEdit, .CMSEditModeButtonDelete
{
    line-height: 20px;
    display: block;
    float: left;
}

.RTL .CMSEditModeButtonAdd, .RTL .CMSEditModeButtonEdit, .RTL .CMSEditModeButtonDelete
{
    padding: 0px 21px 0px 3px;
    background-position: right !important;
    border: 1px solid red;
    display: block;
    float: right;
}

.CMSEditModeButtonClear
{
    clear: both;
    line-height: 0px;
    height: 0px;
}

.CMSEditModeButtonAdd
{
    background-image: url(./Images/Design/Controls/EditModeButtons/add.png);
}

.CMSEditModeButtonEdit
{
    background-image: url(./Images/Design/Controls/EditModeButtons/edit.png);
}

.CMSEditModeButtonDelete
{
    background-image: url(./Images/Design/Controls/EditModeButtons/delete.png);
}

/* Editable image */
.EditableImageEdit .SelectButton
{
    background-image: url(./Images/Design/Controls/EditModeButtons/add.png);
}

.EditableImageEdit .SelectButtonDisabled
{
    background-image: url(./Images/Design/Controls/EditModeButtons/adddisabled.png);
}

.EditableImageEdit .ClearButton
{
    background-image: url(./Images/Design/Controls/EditModeButtons/delete.png);
}

.EditableImageEdit .ClearButtonDisabled
{
    background-image: url(./Images/Design/Controls/EditModeButtons/deletedisabled.png);
}

.EditableImageEdit .SelectButton, .EditableImageEdit .ClearButton
{
    margin: 0px;
    padding: 1px 5px 1px 21px;
    border: none;
    line-height: 21px;
    background-position: 3px 0px;
}

.RTL .EditableImageEdit .SelectButton, .RTL .EditableImageEdit .ClearButton
{
    padding: 1px 19px 1px 5px;
    margin: 0px 5px;
    display: block;
    float: left;
    background-position: right center;
    white-space: nowrap;
}

.RTL .Gecko .EditableImageEdit .SelectButton
{
    padding: 1px 38px 1px 5px;
}

.RTL .IE7 .EditableImageEdit .SelectButton
{
    margin: 0px 5px 0px 20px;
}

/* Errors */
.WebPartError, .FormControlError
{
    padding: 1px;
    border: solid 1px #ff0000;
}

.TransformationError
{
    padding: 1px;
    border: solid 1px #ff0000;
    display: block;
}

.WebPartErrorTitle, .FormControlErrorTitle
{
    font-weight: bold;
}

.InlineControlError
{
    font-family: Tahoma;
    font-size: 11px;
    border: solid 1px #ff0000;
    padding: 1px;
    margin: 1px;
    line-height: 18px;
}

/* FCK editor floating panel override */
.TabsPageScrollArea .FCKFloatingPanel, .ScrollArea .FCKFloatingPanel, .FCKFloatingPanelUC
{
    position: absolute;
}

.FCKFloatingPanel
{
    position: fixed;
    z-index: 9001;
}

/* Overall */
.ErrorLabel
{
    color: #ff0000;
    display: block;
    padding-bottom: 10px;
    text-align: left;
}

.RTL .ErrorLabel
{
    text-align: right;
}

.EditingFormInfoLabel
{
    display: block;
    padding-bottom: 10px;
    text-align: left;
}

.RTL .EditingFormInfoLabel
{
    text-align: right;
}

.InfoLabel
{
    display: block;
    padding-bottom: 10px;
    background: none;
}

.BoldInfoLabel
{
    color: #000000;
    display: block;
    padding-bottom: 10px;
    font-weight: bold;
}

.PageContent
{
    font-family: Tahoma;
    font-size: 12px;
    padding: 20px 12px 15px 12px;
}

.NoPadding
{
    padding: 20px 0px 15px 0px !important;
}

.NoPadding table
{
    padding: 20px 12px 15px 12px;
}

/* Page Title */
.PageTitleHeader, .SubTitleHeader
{
    padding: 5px 5px 2px 5px;
    border-bottom: solid 1px #cccccc;
    display: block;
    white-space: nowrap;
    background: url(./Images/Design/Backgrounds/PageTitleHeader.png) repeat-x top left;
}

.Wizard .PageTitleHeader, .SubTitleHeader
{
    background: none;
}

.PageTitleBreadCrumbs
{
    font-family: Tahoma;
    font-size: 11px;
    padding: 0px 10px 0px 10px;
    border-bottom: solid 1px #cccccc;
    display: block;
    height: 29px;
    overflow: hidden;
}

.ContentEditBreadCrumbs .PageTitleBreadCrumbs
{
    background-color: #E9F3FE;
}

.PageTitleBreadCrumbsPadding
{
    padding: 7px 0px 7px 0px;
}

.PageTitleImage
{
    vertical-align: middle;
    padding: 0px 5px 5px 0px;
    width: 24px;
    height: 24px;
}

.RTL .PageTitleImage
{
    padding: 0px 0px 5px 5px;
}

.PageTitle
{
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #ff6600;
}

.TitleBreadCrumb
{
}

.TitleBreadCrumbLast
{
}

.TitleBreadCrumbSeparator
{
    background-image: url(./Images/Design/Controls/Breadcrumbs/arrowright.png);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 7px;
    padding: 0px 5px 0px 5px;
}

.PageTitleBreadCrumbsPadding .TitleBreadCrumbSeparator
{
    display: inline;
}

.RTL .TitleBreadCrumbSeparator
{
    background-image: url(./Images/Design/Controls/Breadcrumbs/arrowleft.png);
}

/* Content new */
.ContentNewClasses
{
    border: none;
}

.ContentNewClass
{
    padding: 5px;
    color: #0000ff;
    font-family: Verdana;
    font-size: 12px;
}

.ContentNewLink
{
    padding: 5px;
    font-family: Verdana;
    font-size: 12px;
}

.ContentNewClass img, .ContentNewLink img
{
    vertical-align: middle;
    padding-right: 3px;
}

.RTL .ContentNewClass img, .RTL .ContentNewLink img
{
	padding-left: 3px;
	padding-right: 0px;
}

/* Content list */
.MassAction
{
	clear: both; 
	padding-top:15px;
}

/* Messaging */
.MessagingDialog textarea
{
    width: 325px;
    height: 130px;
}

.MyMessages .BodyField
{
    width: 325px !important;
    height: 300px;
    border: 1px solid #aeaeae;
}

.MessagingDialog .SubjectField
{
    width: 325px;
}

.MyMessages .SubjectField
{
    width: 98%;
}

.MyMessages .BodyField
{
    width: 98% !important;
    height: 300px !important;
    border: 1px solid #aeaeae;
}

.SubjectField
{
    width: 280px;
}

.MessagingBox .FieldCaption
{
    font-weight: bold;
    padding-right: 5px;
}

.MessagingBox .Field
{
    width: 100%;
}

/* Forum */
.MyProfileUserSignature
{
    width: 280px;
    height: 100px;
}

/* Forms */
.TextBoxField
{
    width: 292px;
}

.ShortTextBox
{
    width: 100px;
}

.TextAreaField
{
    width: 292px;
    height: 100px;
}

.TextAreaMedium
{
    width: 292px;
    height: 200px;
}

.TextAreaHigh
{
    width: 292px;
    height: 300px;
}

.TextAreaLarge
{
    width: 620px;
    height: 280px;
}

.TextAreaBody
{
    width: 500px;
    height: 150px;
}

.TextAreaCode
{
    font-size: 12px;
    width: 500px;
    height: 300px;
}

.DropDownField
{
    width: 295px;
}

.DropDownFieldSmall
{
    width: 150px;
}

.DropDownFieldShort
{
    width: 50px;
}

.DropDownFieldDesigner
{
    width: 399px;
}

.ListBoxField
{
    width: 297px;
    height: 100px;
}

.FieldLabel
{
    text-align: left;
    white-space: nowrap;
}

.RTL .FieldLabel
{
    text-align: right;
}

.ContentListBox
{
    width: 295px;
    height: 300px;
}

.ContentListBoxLow
{
    width: 295px;
    height: 150px;
}

.DesignerListBox
{
    width: 100%;
    height: 350px;
}

.FormGroupHeader
{
    font-weight: bold;
    display: block;
    padding: 15px 10px 2px 2px;
}

.RTL FormGroupHeader
{
    padding: 15px 2px 2px 10px;
}

.FormGroupPadding
{
    width: 20px;
}

.EditingFormLabel
{
    padding-left: 5px;
}

.RTL .EditingFormLabel
{
    padding-left: 0px;
    padding-right: 5px;
}

.EditingFormCategory
{
    font-weight: bold;
    padding-top: 10px; /*text-decoration: underline;*/
}

.EditingFormControl
{
    border: solid 1px #bbbbbb;
    padding: 3px;
    width: 286px;
}

.IE7 .EditingFormControl, .IE8 .EditingFormControl
{
    width: 288px;
}

.EditForm
{
    border: solid 1px #cccccc;
    padding: 10px;
    padding-top: 0px;
}

/* Uploader */
.UploaderCurrentFile
{
    width: auto;
    color: #0000ff;
    text-decoration: underline;
    float: left;
    margin-left: 5px;
    font-family: Verdana;
    font-size: 12px;
}

.RTL .UploaderCurrentFile
{
    float: right;
    margin-left: auto;
    margin-right: 5px;
}

.UploaderDelete
{
    vertical-align: middle;
    float: left;
}

.RTL .UploaderDelete
{
    float: right;
}

.UploaderAction
{
    margin-right: 5px;
    vertical-align: middle;
    float: left;
}

.RTL .UploaderAction
{
    margin-left: 5px;
    float: right;
}

.UploaderLabel
{
    margin-right: 5px;
}

.RTL .UploaderLabel
{
    margin-right: auto;
    margin-left: 5px;
}

.Uploader
{
    border: solid 1px #bbbbbb;
    padding: 3px;
}

/* Context menu */
.TreeContextMenu
{
    border: solid 1px #bfbfbf;
    background: #eaf1fa url(./Images/Design/Backgrounds/ContextMenuBackground.png) repeat-y top left;
    font-size: 11px;
    display: block;
    width: 135px;
    padding: 0px 5px 1px;
}

.TreeNewContextMenu
{
    width: 200px;
}

.TreeContextMenu .Item
{
    height: 26px;
    display: block;
    text-decoration: none;
    color: #000000;
    overflow: hidden;
}

.TreeContextMenu .ItemLast
{
    height: 26px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.TreeContextMenu .ItemPadding
{
    background: #eaf1fa url(./Images/Design/Backgrounds/ContextMenuBackground.png) repeat-y top left;
    padding: 2px 3px 2px 5px;
    margin: 2px 0px 2px 0px;
    white-space: nowrap;
    display: block;
    vertical-align: middle;
    cursor: pointer;
}

.TreeContextMenu .ItemPadding:hover, .TreeContextMenu .ItemSelected .ItemPadding
{
    background: #f4f8fb url(./Images/Design/Backgrounds/ContextMenuActiveItem.png) repeat-y top left;
    display: block;
    border: solid 1px #fefeff;
    padding: 1px 2px 1px 4px;
    margin: 2px 0px 2px 0px;
}

.TreeContextActiveNode
{
    background-color: #e4e4e4;
}

.TreeContextMenu .Item .Icon, .TreeContextMenu .ItemLast .Icon
{
    vertical-align: text-top;
    width: 16px;
    height: 16px;
}

.TreeContextMenu .Item .IconBig, .TreeContextMenu .ItemLast .IconBig
{
    float: left;
    padding-top: 2px; /*width: 20px;     height: 20px;*/
}

.RTL .TreeContextMenu .Item .IconBig, .RTL .TreeContextMenu .ItemLast .IconBig
{
	float: right;
}

.TreeContextMenu .Item .Name, .TreeContextMenu .ItemLast .Name, .TreeContextMenu .Item .NameInactive, .TreeContextMenu .ItemLast .NameInactive
{
    line-height: 20px;
    text-decoration: none;
}

.TreeContextMenu .Separator
{
    height: 1px;
    background-color: #d1d1d1;
    overflow: hidden;
    width: 100%;
}


/* --- Design mode --- */

/* Web parts */
.WebPartUpdating
{
    border: dashed 1px #ff0000;
}

.StandardWebPart .WebPartBorder
{
    padding: 1px;
    min-height: 26px;
}

.StandardWebPart .WebPartBorderActive
{
    padding: 0px;
    border: dashed 1px #ff0000;
    min-height: 26px;
}

.IE6 .StandardWebPart .WebPartBorderActive, .IE6 .StandardWebPart .WebPartBorder
{
    height: 26px;
}

.StandardWebPart .WebPartHeader
{
    background-image: url(./Images/Design/Backgrounds/WebpartHeader.png);
    background-color: #cccccc;
    border: solid 1px #000000;
    color: #000000;
    margin: 1px;
    position: absolute;
    z-index: 9900;
    text-align: left;
    white-space: nowrap;
}

.StandardWebPart .WebPartSource
{
    background-image: url(./Images/Design/Backgrounds/WebpartSourceHeader.png);
}

.StandardWebPart .WebPartFilter
{
    background-image: url(./Images/Design/Backgrounds/WebpartFilterHeader.png);
}

.StandardWebPart .WebPartPlaceholder
{
    background-image: url(./Images/Design/Backgrounds/PlaceholderHeader.png);
}

.StandardWebPart .WebPartInvisible
{
    background-image: url(./Images/Design/Backgrounds/WebpartInvisibleHeader.png);
}

.IE7 .RTL .StandardWebPart .WebPartHeader
{
    float: right;
    position: relative;
}

.StandardWebPart .WebPartHandle
{
    padding: 3px;
    cursor: move;
}

.StandardWebPart .WebPartLeftAction, .StandardZone .WebPartZoneLeftAction, .PagePlaceholderLeftAction
{
    border-right: solid 1px #cccccc; 
    padding: 2px 3px 2px 3px;
    margin: 0px;
    width: 10px;
}

.RTL .StandardWebPart .WebPartLeftAction, .RTL .StandardZone .WebPartZoneLeftAction, .PagePlaceholderLeftAction
{
    border-left: solid 1px #cccccc;
    border-right: inherit ; 
}


.StandardWebPart .WebPartLeftAction img, .StandardZone .WebPartZoneLeftAction img, .PagePlaceholderLeftAction img
{
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
}

.StandardWebPart .WebPartRightAction, .StandardZone .WebPartZoneRightAction, .PagePlaceholderRightAction
{
    border-left: solid 1px #cccccc;
    padding: 2px;
    margin: 0px;
    width: 16px;
}

.RTL .StandardWebPart .WebPartRightAction, .RTL .StandardZone .WebPartZoneRightAction, .RTL .PagePlaceholderRightAction
{
    border-left: inherit;
    border-right: solid 1px #cccccc;     
}

.StandardWebPart .WebPartActionButton, .StandardZone .WebPartZoneActionButton, .PagePlaceholderActionButton
{
    cursor: pointer;
    max-height: 16px;
}

.StandardWebPart .WebPartActiveContextMenu .WebPartLeftAction
{
    background-color: #eaf1fa;
}

.StandardWebPart .WebPartTypeIcon
{
    float: left;
    margin-right: 3px;
}

.RTL .StandardWebPart .WebPartTypeIcon
{
    float: right;
    margin-left: 3px;
    margin-right: auto ;
}


/* Web part zones */
.StandardZone .WebPartZoneHeader, .StandardZone .WebPartZoneHeaderOrphaned
{
    background-color: #cccccc;
    border-bottom: solid 1px #000000;
    color: #000000;
    text-align: left;
    white-space: nowrap;
    min-height: 20px;
}

.RTL .StandardZone .WebPartZoneHeader, .RTL .StandardZone .WebPartZoneHeaderOrphaned
{   
    text-align: right;    
}

.StandardZone .WebPartZoneHandle
{
    padding: 3px;
}

.StandardZone .WebPartZoneHeader
{
    background-image: url(./Images/Design/Backgrounds/WebpartZoneHeader.png);
}

.StandardZone .WebPartZoneHeaderOrphaned
{
    background-image: url(./Images/Design/Backgrounds/WebpartZoneOrphanedHeader.png);
}

.StandardZone .WebPartZoneTypeIcon
{
    float: left;
    margin-right: 3px;
}

.RTL .StandardZone .WebPartZoneTypeIcon
{
    float: right;
    margin-right: auto;
    margin-left: 3px;    
}


.StandardZone .WebPartZoneTitle, .PagePlaceholderTitle
{
    display: block;
}

.StandardZone .WebPartZoneBorder
{
    border: solid 1px #000000;
    margin: 1px;
}

.StandardZone .WebPartZoneBorderActive
{
    border: solid 1px #000000;
    margin: 1px;
}

.StandardZone .WebPartZoneCue
{
    border: dashed 1px #ff0000;
    background-color: #ffffff;
    display: none;
    margin: 1px;
    min-height: 26px;
}

.IE6 .StandardZone .WebPartZoneCue
{
    height: 26px;
}

.StandardZone .WebPartZoneActiveContextMenu .WebPartZoneLeftAction
{
    background-color: #ffe8c7;
}

.PagePlaceholderActiveContextMenu .PagePlaceholderLeftAction
{
    background-color: #ddfec1;
}

.PagePlaceholderBorder
{
    padding: 1px;
}

.PagePlaceholderBorderActive
{
    padding: 0px;
    border: dashed 1px #ff0000;
}

.PagePlaceholderHeader
{
    background-image: url(./Images/Design/Backgrounds/PlaceholderHeader.png);
    background-color: #cccccc;
    border: solid 1px #000000;
    color: #000000;
    margin: 1px;
    text-align: left;
    white-space: nowrap;
    min-height: 20px;
}

.RTL .PagePlaceholderHeader
{    
    text-align: right;    
}

/* Portal context menu */
.PortalContextMenu
{
    border: solid 1px #bfbfbf;
    background: #eaf1fa url(./Images/Design/Backgrounds/ContextMenuBackground.png) repeat-y top left;
    font-size: 11px;
    display: block;
    width: 135px;
    padding: 0px 5px 1px;
}

.ZoneContextMenu
{
    background: #ffe8c7 url(./Images/Design/Backgrounds/ContextMenuZoneBackground.png) repeat-y top left;
}

.PlaceholderContextMenu
{
    background: #ddfec1 url(./Images/Design/Backgrounds/ContextMenuPlaceholderBackground.png) repeat-y top left;
}

.PortalContextMenu .Item
{
    height: 26px;
    display: block;
    color: #000000;
    overflow: hidden;
}

.PortalContextMenu .ItemLast
{
    height: 26px;
    display: block;
    text-decoration: none;
    color: #000000;
}

.PlaceholderContextMenu
{
    width: 150px;
}

.PortalContextMenu .ItemPadding
{
    background: #eaf1fa url(./Images/Design/Backgrounds/ContextMenuBackground.png) repeat-y top left;
    padding: 2px 3px 2px 5px;
    margin: 2px 0px 2px 0px;
    white-space: nowrap;
    display: block;
    vertical-align: middle;
    cursor: pointer;
}

.ZoneContextMenu .ItemPadding
{
    background: url(./Images/Design/Backgrounds/ContextMenuZoneBackground.png) repeat-y top left;
}

.PlaceholderContextMenu .ItemPadding
{
    background: url(./Images/Design/Backgrounds/ContextMenuPlaceholderBackground.png) repeat-y top left;
}

.PortalContextMenu .ItemPadding:hover, .PortalContextMenu .ItemSelected .ItemPadding
{
    background: #f4f8fb url(./Images/Design/Backgrounds/ContextMenuActiveItem.png) repeat-y top left;
    display: block;
    border: solid 1px #fefeff;
    padding: 1px 2px 1px 4px;
    margin: 2px 0px 2px 0px;
}

.ZoneContextMenu .ItemPadding:hover, .ZoneContextMenu .ItemSelected .ItemPadding
{
    background: #FEBB5F url(./Images/Design/Backgrounds/ContextMenuZoneActiveItem.png) repeat-y top left;
}

.PlaceholderContextMenu .ItemPadding:hover, .PlaceholderContextMenu .ItemSelected .ItemPadding
{
    background: #ebffdb url(./Images/Design/Backgrounds/ContextMenuPlaceholderActiveItem.png) repeat-y top left;
}


.TreeContextActiveNode
{
    background-color: #e4e4e4;
}

.PortalContextMenu .Item .Icon, .PortalContextMenu .ItemLast .Icon
{
    vertical-align: text-top;
    width: 16px;
    height: 16px;
}

.PortalContextMenu .Item .Name, .PortalContextMenu .ItemLast .Name, .PortalContextMenu .Item .NameInactive, .PortalContextMenu .ItemLast .NameInactive
{
    line-height: 20px;
    text-decoration: underline;
}

.PortalContextMenu .Separator
{
    height: 1px;
    background-color: #d1d1d1;
    overflow: hidden;
}

.PlaceholderLayoutBackground
{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9990 !important;
    background-color: #888888;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.PlaceholderLayout
{
    background-color: #ffffff;
    border: solid 1px #000000;
    width: 98%;
    z-index: 9991 !important;
    padding: 0px 1px 3px 5px;
    margin: 1px;
    overflow: auto;
    text-align: left;
}

.RTL .PlaceholderLayout
{
    text-align:right;
}

.PagePlaceholderDesignLayoutCode
{
    width: 99%;
    border: 1px solid #ccc;
}

.ModalCloseButton
{
    border: none;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.PlaceholderLayout .PlaceholderTitleLeft
{
    text-align: left;
}


.RTL .PlaceholderLayout .PlaceholderTitleLeft
{
    text-align: right;
}


.PlaceholderLayout .PlaceholderTitleRight
{
    text-align: right;
}

.RTL .PlaceholderLayout .PlaceholderTitleRight
{
    text-align: left;
}

.PlaceholderMenu
{
    font-family: Tahoma;
    font-size: 11px;
    text-decoration: underline;
    padding: 0px 10px 0px 10px;
    height: 42px;
}

.PlaceholderMenu td
{
    white-space: nowrap;
}

.PlaceholderHeaderLine, .PlaceholderInfoLine
{
    padding: 3px; /*border-bottom: solid 1px #cccccc;*/
    border-top: solid 1px #cccccc;
    display: block;
    background-color: #ffffff;
}

/* Video-like webpart correction */
.WebPart .VideoLikeContent
{
    margin-top: 26px;
}

.FrameContent
{
    padding: 0px 6px 0px 6px;
}

.PageContentViewer
{
    font-family: Tahoma;
    font-size: 12px;
    padding: 0px 6px 15px 6px;
}

body.Buttons
{
    background: #edf4f9;
    border-top: 1px solid #b0c4d0;
}