﻿/* --- Design mode --- */

/* --- WIDGETS --- */

/* Widget - Editor & Group admin */
.EditorWidget .WebPartBorder, .GroupWidget .WebPartBorder
{
    padding: 1px;
    border: none;
    min-height: 24px;
    min-width: 60px;
}

.EditorWidget .WebPartBorderActive, .GroupWidget .WebPartBorderActive
{
    border: dashed 1px #000000;
    padding: 0px;
    min-height: 24px;
    min-width: 60px;
}

.EditorWidget .WebPartHeader, .GroupWidget .WebPartHeader
{
    height: 0px;
    display: none;
    direction: rtl;
}

.EditorWidget .WebPartHeader .WebPartHandle, .GroupWidget .WebPartHeader .WebPartHandle
{
    z-index: 9990;
    width: 69px;
    cursor: move;
    direction: ltr;
    position: absolute;
    background-color: #ffffff;
    background-image: url(./Images/CMSModules/CMS_PortalEngine/Widgets/Drag.png);
    background-repeat: no-repeat;
    padding: 3px 3px 3px 0px;
}

.RTL .EditorWidget .WebPartHeader .WebPartHandle, .RTL .GroupWidget .WebPartHeader .WebPartHandle
{
    background-image: url(./Images/CMSModules/CMS_PortalEngine/Widgets/DragRTL.png);  
    position:static ; 
}

.Safari .EditorWidget .WebPartHeader .WebPartHandle, .GroupWidget .WebPartHeader .WebPartHandle
{
    position: relative;
    float: right;
}

.RTL .EditorWidget .WebPartHeader .WebPartHandle, .RTL .GroupWidget .WebPartHeader .WebPartHandle
{
    float: left ;
}

.EditorWidget .WebPartActionButton, .GroupWidget .WebPartActionButton
{
    float: right;
    padding: 0px 1px 0px 3px;
    cursor: pointer;
}

.RTL .EditorWidget .WebPartActionButton, .RTL .GroupWidget .WebPartActionButton
{
    float: left ;
}

.EditorWidget .WebPartBorderActive .WebPartHeader, .GroupWidget .WebPartBorderActive .WebPartHeader
{
    display: block;
}

.WidgetHeaderSeparator
{
    height: 6px;
    background: url(./Images/Design/Controls/FrameResizer/Vertical/Resizer.png) repeat-x top left;
}

.WidgetTabsPageHeader
{
    background-color: #ffffff;
}

.WidgetTabsPageHeader .PageTitleHeader, .WebpartTabsPageHeader .PageTitleHeader, .DialogsPageHeader .PageTitleHeader
{
    padding: 5px 5px 2px 5px;
    border-bottom: solid 1px #cccccc;
    white-space: nowrap;
    background: #edf4f9 url(./Images/Design/Backgrounds/PageTitleHeader.png) repeat-x top left;
}

.WidgetTabsPageHeader .PageTitle, .WebpartTabsPageHeader .PageTitle, .DialogsPageHeader .PageTitle
{
    color: #000;
}

/* Zone - Editor & Group admin */
.EditorWidgetZone .WebPartZoneBorder
{
    min-height: 24px;
    min-width: 40px;
    border: dashed 1px #ff0000;   
}

.GroupWidgetZone .WebPartZoneBorder
{
    padding: 1px;
    min-height: 24px;
    min-width: 40px;
    border: none;
}

.EditorWidgetZone .WebPartZoneBorderActive, .GroupWidgetZone .WebPartZoneBorderActive
{
    border: dashed 1px #ff0000;
    padding: 0px;
    min-height: 24px;
    min-width: 40px;
}

.GroupWidgetZone .WebPartZoneHeader
{
    height: 0px;
    display: none;
    text-align: left;
    padding-right: 22px;
}

.RTL .GroupWidgetZone .WebPartZoneHeader
{
    text-align: right;  
    padding-right: 0px; 
}

.EditorWidgetZone .WebPartZoneHeader
{
    height: 0px;
    text-align: left;
    padding-right: 22px;
    height: 29px;
}

.RTL .EditorWidgetZone .WebPartZoneHeader
{
    text-align: right ;
    padding-right: 0px; 
}

.EditorWidgetZone .WebPartZoneActions, .GroupWidgetZone .WebPartZoneActions
{
    position: absolute;
    z-index: 9991;
    height: 16px;
}

.EditorWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader, .GroupWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader
{
    display: block;
}

.EditorWidgetZone .WebPartZoneCue, .GroupWidgetZone .WebPartZoneCue
{
    border: dashed 1px #ff0000;
    background-color: #ffffff;
    display: none;
    margin: 1px;
    min-height: 26px;
}

.IE6 .EditorWidgetZone .WebPartZoneCue, .IE6 .GroupWidgetZone .WebPartZoneCue
{
    height: 26px;
}

/* Widget - User */
.UserWidget .WebPartHandle
{
    background: #cdcdcd url(./Images/CMSModules/CMS_PortalEngine/Widgets/back.gif) repeat-x;
    color: #000000;
    text-align: left;
    white-space: nowrap;
    padding: 2px 3px 5px 8px;
    cursor: move;
}

.RTL .UserWidget .WebPartHandle
{
    text-align:right ;
    padding: 2px 8px 5px 3px;    
}

.UserWidget .WebPartTitle
{
    display: block;
    padding-top: 2px;
    padding-left: 5px;
    overflow: hidden;
}

.RTL .UserWidget .WebPartTitle
{
    padding-right: 5px;    
}

.UserWidgetDisabled .WebPartHandle
{
    cursor: default;
}

.UserWidget .WebPartBorder, .WebPartBorderActive
{
    border: solid 1px #c7c4c4;
}

.UserWidget .WebPartActionButton
{
    float: right;
    padding: 0px 1px 0px 3px;
    cursor: pointer;
}

.RTL .UserWidget .WebPartActionButton
{
    float: left;       
}

.UserWidgetDisabled .WebPartActionButton
{
    cursor: default;
}

.UserWidget .WebPartContent
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.MinimizedWidget .WebPartContent
{
    display: none;
}

/* Widget zone - user */
.UserWidgetZone .WebPartZoneBorder
{
    padding: 2px;
    border: none;
    min-height: 24px;
    min-width: 60px;
}

.UserWidgetZoneDisabled .WebPartZoneActionButton
{
    cursor: default;
}

.UserWidgetZone .WebPartZoneBorderActive
{
    border: 2px solid gray;
    padding: 0px;
    min-height: 24px;
}

.UserWidgetZone .WebPartZoneHeader
{
    height: 0px;
    display: none;
    text-align: left;
    padding-right: 22px;
    min-width: 40px;
}

.RTL .UserWidgetZone .WebPartZoneHeader
{
    padding-right: 0px;
}

.UserWidgetZone .WebPartZoneActions
{
    position: absolute;
    float: right;
    z-index: 9991;
    height: 16px;
}

/* Between classes IE7 and RTL cannot be space because they are on same level */
.IE7.RTL .UserWidgetZone .WebPartZoneActions
{
    position: relative;    
}

.UserWidgetZone .WebPartZoneBorderActive .WebPartZoneHeader
{
    display: block;
}

.UserWidgetZone .WebPartZoneCue
{
    border: dashed 1px #ff0000;
    background-color: #ffffff;
    display: none;
    margin: 1px;
    min-height: 26px;
}

.IE6 .UserWidgetZone .WebPartZoneCue
{
    height: 26px;
}

.WebPartForm .FormCategoryList
{
    width: 126px;
    position: fixed;
    height: 100%;
    background: url(./Images/Design/Controls/Tabs/Vertical/Tabs.png) repeat-y;
}


/* Widget actions */

.EditorWidgetActions .AddWidget
{
    background: transparent url(./Images/Design/Controls/WidgetActions/add.gif) no-repeat scroll 2px center;
    padding-left: 22px;
}

.EditorWidgetActions .ResetWidget
{
    background: transparent url(./Images/Design/Controls/WidgetActions/clear.gif) no-repeat scroll 2px center;
    padding-left: 22px;
}


.RTL .EditorWidgetActions .AddWidget, .RTL .EditorWidgetActions .ResetWidget
{
    padding-left: 4px ;
    padding-right: 22px;
    background-position: 98% center;
}

/* Between classes IE7 and RTL cannot be space because they are on same level */
.IE7.RTL .EditorWidgetActions .AddWidget, .IE7.RTL .EditorWidgetActions .ResetWidget
{
    padding-left: 22px ;
    padding-right: 4px;    
}

.EditorWidgetActions a
{
    border: 1px solid #CCCCCC;
    font-weight: bold;
    padding: 3px 4px;
}

.EditorWidgetActions
{
    padding: 2px;
}

.WebPartForm .FormCategoryList ul
{
    padding: 0;
    margin: 0;
}

.WebPartForm .FormCategoryList ul li
{
    list-style-type: none;
}

.WebPartForm .FormCategoryList ul li a
{
    display: block;
    color: #004377;
    background: url(./Images/Design/Controls/Tabs/Vertical/TabWebPro.png) no-repeat;
    padding: 5px 0px 5px 16px;
    text-decoration: none;
    font-size: 11px;
    font-family: Tahoma;
}

.RTL .WebPartForm .FormCategoryList ul li a
{
    padding: 5px 16px 5px 0px;
}

.IE7 .WebPartForm .FormCategoryList ul li a
{
    padding-top: 3px;
}

.WebPartForm .FormCategoryList ul li a:hover
{
    background: white url(./Images/Design/Controls/Tabs/Vertical/TabMidHover.png);
}

.WebpartProperties .FormPanel
{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 141px;
}

.RTL .WebPartForm .FormPanel
{
    padding-top: 5px;
    padding-right: 141px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.RTL .WebPartZoneProperties .WebPartForm .FormPanel 
{
    padding-left: 0px;
    padding-right: 0px;
}

.WidgetsProperties .WebPartForm .FormPanel, .RTL .WidgetsProperties .WebPartForm .FormPanel
{
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
}

.WebpartProperties .WebPartForm .InfoLabel
{
    padding-left: 146px;
}

.RTL .WebPartForm .InfoLabel
{
    padding-right: 146px;
    padding-left: 0px;
}

.WidgetsProperties .WebPartForm .InfoLabel
{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}