<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Events_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Events header"
    Inherits="CMSModules_EventManager_Tools_Events_Header" Theme="Default" %>
