<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InlineControl_Header.aspx.cs" 
    Inherits="CMSSiteManager_Development_InlineControls_InlineControl_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Inline controls - List" %>
