<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Basic/AtomRepeater.ascx.cs"
    Inherits="CMSWebParts_Syndication_Basic_AtomRepeater" %>
<cms:AtomRepeater ID="atomRepeater" runat="server" />
