<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Basic/RSSFeed.ascx.cs"
    Inherits="CMSWebParts_Syndication_Basic_RSSFeed" %>
<cms:RSSFeed ID="rssFeed" runat="server" />
