﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Basic/XMLRepeater.ascx.cs" Inherits="CMSWebParts_Syndication_Basic_XMLRepeater" %>
<cms:XMLRepeater ID="xmlRepeater" runat="server" />