<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Profile/GroupSecurityMessage.ascx.cs"
    Inherits="CMSWebParts_Community_Profile_GroupSecurityMessage" %>
<asp:Label runat="server" ID="lblAccessInfo" EnableViewState="false" />
<cms:LocalizedHyperlink ID="lnkGo" runat="server" Visible="false" />