<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FriendshipStatusSelector.ascx.cs"
    Inherits="CMSModules_Friends_FormControls_FriendshipStatusSelector" %>
<cms:LocalizedDropDownList ID="drpFriendshipStatusSelector" runat="server" CssClass="DropDownField" />