<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/MessageBoards/GroupMessageBoard.ascx.cs" Inherits="CMSWebParts_Community_MessageBoards_GroupMessageBoard" %>
<%@ Register Src="~/CMSModules/MessageBoards/Controls/MessageBoard.ascx" TagName="MessageBoard" TagPrefix="cms" %>

<cms:MessageBoard ID="msgBoard" runat="server" />