<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Membership/Users/OnlineUsers.ascx.cs"
    Inherits="CMSWebParts_Membership_Users_OnlineUsers" %>
<asp:Literal runat="server" ID="ltrAdditionaInfos" EnableViewState="false"  />
<asp:Repeater runat="server" ID="repUsers" EnableViewState="false" />
