<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PermissionMessage.ascx.cs" Inherits="CMSAdminControls_UI_System_PermissionMessage" %>
<asp:Label runat="server" ID="lblPermission" EnableViewState="false" CssClass="PermissionMessage" />
