<%@ Control Language="VB" AutoEventWireup="false" CodeFile="RepeatCategories.ascx.vb" Inherits="CMSWebParts_AegeanPower_RepeatCategories" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSRepeater ID="repItems" runat="server" />
