<%@ Page Language="C#" AutoEventWireup="true" CodeFile="JoinTheGroup.aspx.cs" Inherits="CMSModules_Groups_CMSPages_JoinTheGroup"
    MasterPageFile="~/CMSMasterPages/LiveSite/SimplePage.master" Theme="Default" %>

<%@ Register Src="~/CMSModules/Groups/Controls/GroupJoin.ascx" TagName="GroupJoin"
    TagPrefix="uc1" %>
<asp:Content ID="cntContent" runat="server" ContentPlaceHolderID="plcContent">
    <div class="CommunityJoinTheGroup">
        <uc1:GroupJoin ID="GroupJoin1" runat="server"></uc1:GroupJoin>
    </div>
</asp:Content>
