﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/QueryRSSFeed.ascx.cs" Inherits="CMSWebParts_Syndication_QueryRSSFeed" %>

<cms:RSSFeed runat="server" ID="rssFeed" />
<cms:CMSQueryDataSource runat="server" ID="srcElem" />