<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SharePoint/SharePointDatasource_files/SharePointDatasource.ascx.cs"
    Inherits="CMSWebParts_SharePoint_SharePointDataSource_files_SharePointDatasource" %>
<asp:Literal ID="ltlRawXml" runat="server" EnableViewState="false" Visible="false" />