<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectEmailFormat.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectEmailFormat" %>
<asp:DropDownList ID="drpSelectFormat" runat="server" CssClass="DropDownField" />