<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectAuthentication.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectAuthentication" %>
<asp:DropDownList ID="drpSelectAuthentication" runat="server" CssClass="DropDownField" />