<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectDocumentOrder.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectDocumentOrder" %>
<asp:DropDownList ID="drpSelectOrder" runat="server" CssClass="DropDownField" />