<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectPermissions.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectPermissions" %>
<asp:DropDownList ID="drpSelectPermissions" runat="server" CssClass="DropDownField" />