<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectControlElement.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectControlElement" %>
<asp:DropDownList ID="drpControlElement" runat="server" CssClass="DropDownField" />