<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectCaseCheck.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectCaseCheck" %>
<asp:DropDownList ID="drpSelectCaseCheck" runat="server" CssClass="DropDownField" />