<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectTrailingSlash.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectTrailingSlash" %>
<asp:DropDownList ID="drpSlash" runat="server" CssClass="DropDownField" />