<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectPasswordFormat.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectPasswordFormat" %>
<asp:DropDownList ID="drpSelectFormat" runat="server" CssClass="DropDownField" />