<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectEncoding.ascx.cs"
    Inherits="CMSSiteManager_Settings_Controls_SelectEncoding" %>
<asp:DropDownList ID="drpSelectEncoding" runat="server" CssClass="DropDownField" />