﻿.outtaHere {
	position:absolute;
	left:-3000px;
}

/*Radio buttons*/
.radioArea, .radioAreaChecked 
{
	float:left;
	margin:0 13px 0 0;
	width:13px !important;
	height:13px;
	overflow: hidden;
	background: url(/App_Themes/AegeanPower/Images/checkbox.png) no-repeat;
}
.radioAreaChecked {background-position: 0 -13px;}

