<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Polls/Poll.ascx.cs"
    Inherits="CMSWebParts_Polls_Poll" %>
<%@ Register Src="~/CMSModules/Polls/Controls/PollView.ascx" TagName="PollView" TagPrefix="cms" %>
<cms:PollView ID="viewPoll" runat="server" />
