.jcarousel-skin-tango .jcarousel-container {

}
.jcarousel-skin-tango { padding-top:26px; }

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 505px;
    padding: 0px 24px;
	background-color:white;
}



.jcarousel-skin-tango .jcarousel-clip-horizontal {
     width: 505px;
    height: 92px;
}



.jcarousel-skin-tango .jcarousel-item {
    width: 505px;
    height: 92px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 8px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 24px;
    height: 92px;
    cursor: pointer;
    background: transparent url(next.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 0px;
    right: auto;
    background-image: url(prev.jpg);
}





.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
  
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 92px;
    cursor: pointer;
    background: transparent url(prev.jpg) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next.jpg);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
   
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    
}

#IpiresiesBox .jcarousel-skin-tango .jcarousel-container {
    -moz-border-radius: 10px;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 205px;
    padding: 0px 20px;
}



#IpiresiesBox  .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  205px;
    height: 35px;
	
}



#IpiresiesBox  .jcarousel-skin-tango .jcarousel-item {
    width: 41px;
    height: 41px;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 0px;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}



#IpiresiesBox  .jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
#IpiresiesBox  .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 13px;
    right: 5px;
     width: 9px;
    height: 15px;
    cursor: pointer;
    background: transparent url(nextaki.gif) no-repeat 0 0;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}





#IpiresiesBox  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
#IpiresiesBox  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
#IpiresiesBox  .jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0px 0;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 13px;
    left: 5px;
    width: 9px;
    height: 15px;
    cursor: pointer;
    background: transparent url(previous.gif) no-repeat 0 0;
}

#IpiresiesBox  .jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(nextaki.gif.png);
}




#IpiresiesBox  .jcarousel-skin-tango .jcarousel-prev-disabled-horizontal {
    cursor: default;
    background-position: -0px 0;
}


