<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/ForumBreadcrumbs.ascx.cs" Inherits="CMSWebParts_Forums_ForumBreadcrumbs" %>
<%@ Register src="~/CMSModules/Forums/Controls/ForumBreadcrumbs.ascx" tagname="ForumBreadcrumbs" tagprefix="cms" %>
<cms:ForumBreadcrumbs ID="ctrlForumBreadcrumbs" runat="server" />
