<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AlternativeForms_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Alternative forms - Menu"
    Inherits="CMSModules_CustomTables_AlternativeForms_AlternativeForms_Header" Theme="Default"
    EnableViewState="false" %>

