<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CommunityServices/YouTubeVideo.ascx.cs" Inherits="CMSWebParts_CommunityServices_YouTubeVideo" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />