<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RadioButtonsHorizontalVisibility.ascx.cs" Inherits="CMSFormControls_VisibilityControls_RadioButtonsHorizontalVisibility" %>
<asp:RadioButtonList ID="rblVisibility" runat="server" RepeatDirection="Horizontal" />