<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Membership/GroupInvitation.ascx.cs" Inherits="CMSWebParts_Community_Membership_GroupInvitation" %>
<asp:Label ID="lblInfo" runat="server" Visible="false" EnableViewState="false" CssClass="InvitationInfoLabel" />