﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SmartSearch/SearchResults.ascx.cs" Inherits="CMSWebParts_SmartSearch_SearchResults" %>
<%@ Register src="~/CMSModules/SmartSearch/Controls/SearchResults.ascx" tagname="SearchResults" tagprefix="cms" %>
<cms:SearchResults ID="srchResults" runat="server" />
