﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SmartSearch/SearchDialog.ascx.cs" Inherits="CMSWebParts_SmartSearch_SearchDialog" %>
<%@ Register src="~/CMSModules/SmartSearch/Controls/SearchDialog.ascx" tagname="SearchDialog" tagprefix="cms" %>
<cms:SearchDialog ID="srchDialog" runat="server" />
