<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Order_Edit_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_Orders_Order_Edit_Header" Theme="Default" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Order edit header"%>
