<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/ForumUnsubscription.ascx.cs" Inherits="CMSWebParts_Forums_ForumUnsubscription" %>
<asp:Label runat="server" ID="lblInfoText" EnableViewState="false" Visible="false" />
