<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/ForumPostsDataSource.ascx.cs"
    Inherits="CMSWebParts_Forums_ForumPostsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Forums" Assembly="CMS.Forums" %>
<cms:ForumPostsDataSource runat="server" ID="srcPosts" />