<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/ForumForum.ascx.cs" Inherits="CMSWebParts_Forums_ForumForum" %>
<%@ Register Src="~/CMSModules/Forums/Controls/ForumDivider.ascx" TagName="ForumDivider"
    TagPrefix="uc1" %>
<uc1:ForumDivider ID="viewerForum" runat="server" />