<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Forums/ForumTopContributors.ascx.cs"
    Inherits="CMSWebParts_Forums_ForumTopContributors" %>
<cms:BasicRepeater runat="server" ID="repTopContributors" />
