<%@ Control Language="C#" AutoEventWireup="true" CodeFile="EmailInput.ascx.cs" Inherits="CMSFormControls_Inputs_EmailInput" %>

<asp:TextBox runat="server" ID="txtEmailInput" CssClass="TextBoxField" MaxLength="100" />
