<%@ Control Language="C#" AutoEventWireup="true" CodeFile="GRphone.ascx.cs" Inherits="CMSFormControls_GRPhoneNumber" %>
<asp:TextBox runat="server" ID="txt1st" MaxLength="10"  CssClass="txtGrPhoneControl" />