﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TemplateFilter.ascx.cs"
    Inherits="CMSModules_Newsletters_Controls_TemplateFilter" %>
<asp:Panel runat="server" ID="pnlSearch">
    <asp:DropDownList ID="filter" runat="server" CssClass="UniGridDropDown" />
</asp:Panel>
