﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        body {
            margin: 50px;
            background-color: #f7f7f7;
            font-family:Arial;
        }

        .EmailTemplate {
            width: 656px;
            font-family: Arial;
            font-size: 10px;
            color: #939393;
            margin: 0px auto;
        }

            .EmailTemplate a {
                color: #00a4e4;
                text-decoration: underline;
            }

        .EmailTemplate_TopText {
            text-align: center;
        }

        .EmailTemplate_BottomText {
            text-align: center;
            padding: 40px 0px 15px 0px;
            font-size: 13px;
        }

        .EmailTemplate_Logo {
            width: 656px;
            height: 108px;
            background-color: #0082c9;
            margin-top: 20px;
        }

            .EmailTemplate_Logo img {
                padding-top: 18px;
                padding-left: 18px;
            }

        .EmailTemplate_ContentArea {
            font-family: arial;
            font-size: 15px;
            color: #939393;
            background-color: White;
            padding-bottom: 50px;
        }

        .EmailTemplate_Content {
            padding: 0px 35px 0px 23px;
        }

        .blueText {
            color: #14b3e2;
        }

        .seperateline {
            background-color: #d3d3d3;
            height: 1px;
            margin: 20px 0px 20px 0px;
            width: 623px;
            line-height: 1px;
            color: #d3d3d3;
            font-size: 1px;
        }

        a img {
            border: 0px;
        }
    </style>
</head>
<body>

    <table cellpadding="0" cellspacing="0" class="EmailTemplate">
        <tr>
            <td class="EmailTemplate_TopText">Αν πιστεύετε ότι δεν θα έπρεπε να έχετε λάβει το συγκεκριμένο
                e-mail, παρακαλούμε επικοινωνήστε με την Hellas Pay στο 2117604000
            <br />
                ή μέσω e-mail στη διεύθυνση <a href="#">support@hellaspay.gr</a>
                <br /><br />
            </td>
        </tr>
        <tr>
            <td>
                <img style="margin-top: 20px;" src="https://www.hellaspay.gr/el/Images/e-MailTemplates/Logo_Email/" />
            </td>
        </tr>
        <tr>
            <td class="EmailTemplate_ContentArea">
                <img src="http://hellaspay.realize.gr/el/step3" />
                <br />
                <table>
                    <tr>
                        <td class="EmailTemplate_Content">Αγαπητέ/ή <span class="blueText">{%ClientName%}</span>,<br />
                            Με χαρά σας πληροφορούμε πως ο λογαριασμός σας έχει ενεργοποιηθεί.
                        <div class="seperateline">...</div>
                            <div style="font-size: 12px;">
                                Συνδεθείτε τώρα με τα στοιχεία σας στη διεύθυνση www.hellaspay.gr και ανακαλύψτε
                                έναν νέο τρόπο για να πληρώνεστε.

                 <br />
                                <br />

                                Για οποιαδήποτε βοήθεια ή διευκρίνιση χρειαστείτε, οι εκπρόσωποί μας βρίσκονται
                                στη διάθεσή σας στο  <a style="color: #00a4e4;" href="mailto:support@hellaspay.gr">support@hellaspay.gr</a>
                                ή στο τηλέφωνο 211 760 4000
                                <br />
                                <br />

                                Σας ευχαριστούμε
                                <br />
                                Η ομάδα υποστήριξης πελατών της Hellas Pay

                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="EmailTemplate_BottomText">Η HELLAS PAY ΕΙΝΑΙ ΙΔΡΥΜΑ ΠΛΗΡΩΜΩΝ ΑΔΕΙΟΔΟΤΗΜΕΝΟ
                ΑΠΟ ΤΗΝ ΤΡΑΠΕΖΑ ΤΗΣ ΕΛΛΑΔΟΣ
            </td>
        </tr>
        <tr>
            <td>
                <img src="http://hellaspay.realize.gr/el/footer.png" /></td>
        </tr>

    </table>



</body>
</html>
