<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~\CMSWebParts\AegeanPower\languageselectionwithflags.ascx.cs" Inherits="CMSWebParts_AegeanPower_languageselectionwithflags"  %>
<div class="EN">
    <asp:Literal runat="server" ID="ltrDivOpen" EnableViewState="false" />
    <asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
    <asp:Literal runat="server" ID="ltrDivClose" EnableViewState="false" />
</div>