﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="RegistrationParticulars.ascx.vb" Inherits="CMSWebParts_AegeanPower_RegistrationParticulars" %>

<style type="text/css">
.AdminUploadTitle{float:left;width:150px;font-weight:bold;font-size:12px}
.AdminUploadCtlr{float:left;padding-right:10px}
.Fleft{float:left;}
.Clear{clear:both}
</style>


<div>
    <div class="AdminUploadTitle">Αρχείο Μετρητών</div>
    <div class="AdminUploadCtlr"><input type="file" id="UpLoadCounterExcel" runat="server"  /></div>
    <div class="Fleft"><asp:Button Width="213px" runat="server" ID="BtnUploadCounter" Text="Upload Αρχείο Μετρητών" /></div>
    <div class="Clear"></div>

    <div class="AdminUploadTitle">Αρχείο Λογαριασμών</div>
    <div class="AdminUploadCtlr"><input type="file" id="UploadAcountExcel" runat="server"  /></div>
    <div class="Fleft"><asp:Button Width="213px" runat="server" ID="BtnUploadAcount" Text="Upload Αρχείο Λογαριασμών"  /></div>
    <div class="Clear"></div>
</div>
<asp:Label ID="Label1" runat="server" ></asp:Label>


<div style="float:left; width:700px;display:none">
<div style="float:left;width:300px;">
<asp:FileUpload ID="BrowseFile" runat="server" />
<asp:Button runat="server" ID="btnUpload" Text="Upload" />
<input type="button" value="Upload" disabled="disabled" style="display:none" id="hiddenupload" />
</div>
<div style="float:left;width:50px; color:Red; margin:5px 0px 0px 10px;">
<asp:Label ID="lblError" runat="server" ></asp:Label>
</div>
</div>

<%--<div style="float:left; width:700px;">
<div style="float:left;width:300px;">
<asp:FileUpload ID="BrowseSecondFile" runat="server" />
<asp:Button runat="server" ID="btnSecondUpload" Text="Upload" />
<input type="button" value="Upload" disabled="disabled" style="display:none" id="hiddenSecondupload" />
</div>
<div style="float:left;width:50px; color:Red; margin:5px 0px 0px 10px;">
<asp:Label ID="lblSecondError" runat="server" ></asp:Label>
</div>
</div>--%>