<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UICulture_Header.aspx.cs" 
Inherits="CMSSiteManager_Development_UICultures_UICulture_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" 
Theme="Default"%>