<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetProduct.aspx.cs" Inherits="CMSPages_GetProduct" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
    <title>Get product</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Label ID="lblInfo" runat="server" EnableViewState="false" Visible="false" />
    </form>
</body>
</html>
