<%@ Page Language="C#" AutoEventWireup="true" CodeFile="scheduler.aspx.cs" Inherits="CMSPages_scheduler" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
<meta http-equiv="Pragma" content="no-cache" />

    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        This page is used for execution of scheduled tasks.
    </div>
    </form>
</body>
</html>
