<%@ Page Language="C#" AutoEventWireup="true" CodeFile="PageTemplate_Header.aspx.cs" 
    Inherits="CMSModules_PortalEngine_UI_PageTemplates_PageTemplate_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Page Templates - Edit" %>
