<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SystemTable_Header.aspx.cs"
    Inherits="CMSSiteManager_Development_SystemTables_SystemTable_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="System tables edit"
    Theme="Default" %>
    
