<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Forums/ForumGroupList.ascx.cs"
    Inherits="CMSWebParts_Community_Forums_ForumGroupList" %>
<asp:PlaceHolder runat="server" ID="plcHolder" />
