<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Search/cmssearchdialog.ascx.cs" Inherits="CMSWebParts_Search_cmssearchdialog" %>

<cms:CMSSearchDialog ID="srchDialog" runat="server" />
&nbsp;
