<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SearchIndex_Header.aspx.cs"
    Inherits="CMSModules_SmartSearch_SearchIndex_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Search Indexes"  %>

