<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Configuration_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_Configuration_Configuration_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeaderVertical.master" %>

