<%@ Page Language="VB" AutoEventWireup="false" Inherits="OK" CodeFile="OK.aspx.vb" %>
<html>
  <head>
    <title>Lalibela</title>
  </head>
<body>
    <script defer="defer">
        window.opener.document.location.href = '/gr/Support-Us/DonateThankYou.aspx?BizFormID=<%=Session("BizFormID")%>&MerchantRef=<%=Request("ref")%>';
        window.close();
    </script>
</body>
</html>