﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Silverlight/SilverlightApplication.ascx.cs"
    Inherits="CMSWebParts_Silverlight_SilverlightApplication" %>
<%@ Register Src="~/CMSAdminControls/Silverlight/SilverlightApplication.ascx" TagName="Silverlight"
    TagPrefix="cms" %>
<asp:Literal ID="ltlDesign" runat="server" />
<cms:Silverlight runat="server" ID="silverlightElem" />
