<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true" CodeFile="Site_Edit.aspx.cs" Inherits="CMSSiteManager_Sites_Site_Edit" Title="Sites - Edit"  Theme="default" %>
