<%@ Page Language="C#" AutoEventWireup="true" CodeFile="RelationshipName_Header.aspx.cs"
    Inherits="CMSSiteManager_Development_RelationshipNames_RelationshipName_Header"
    Theme="default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Relationship name - Header" %>

