<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Module_Edit_Header.aspx.cs" 
    Inherits="CMSSiteManager_Development_Modules_Module_Edit_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Module Edit - Header" %>
