﻿<%@ Page Title="Module edit - User interface - Header" Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    AutoEventWireup="true" CodeFile="Module_UI_Header.aspx.cs" Inherits="CMSSiteManager_Development_Modules_Module_UI_Header" Theme="Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcActions" runat="Server">
</asp:Content>
