<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Module_New.aspx.cs" Inherits="CMSSiteManager_Development_Modules_Module_New"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Modules - New module" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent" EnableViewState="false">
    <asp:Label runat="server" ID="lblError" CssClass="ErrorLabel" EnableViewState="false"
        Visible="false" />
    <table>
        <tr>
            <td class="FieldLabel">
                <asp:Label ID="lbModuleDisplayName" runat="server" EnableViewState="false" />
            </td>
            <td>
                <asp:TextBox ID="tbModuleDisplayName" runat="server" CssClass="TextBoxField" MaxLength="100"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvModuleDisplayName" runat="server" EnableViewState="false"
                    ControlToValidate="tbModuleDisplayName" Display="dynamic" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">
                <asp:Label ID="lbModuleCodeName" runat="server" EnableViewState="false" />
            </td>
            <td>
                <asp:TextBox ID="tbModuleCodeName" runat="server" CssClass="TextBoxField" MaxLength="100"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvModuleCodeName" runat="server" EnableViewState="false"
                    ControlToValidate="tbModuleCodeName" Display="dynamic" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel" style="padding-top: 2px; vertical-align: top;">
                <asp:Label ID="lblShowIn" runat="server" EnableViewState="false" />
            </td>
            <td>
                <asp:CheckBox ID="chkShowInDevelopment" runat="server" EnableViewState="false" />
                <asp:Panel runat="server" ID="pnlResourceUrl">
                    <table>
                        <tr>
                            <td class="FieldLabel">
                                <asp:Label ID="lblResourceUrl" runat="server" EnableViewState="false" />
                            </td>
                            <td>
                                <asp:TextBox ID="txtResourceUrl" runat="server" Width="214" MaxLength="1000" EnableViewState="false" />
                            </td>
                        </tr>
                    </table>
                </asp:Panel>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <cms:CMSButton ID="btnOk" runat="server" OnClick="btnOK_Click" CssClass="SubmitButton"
                    EnableViewState="false" />
            </td>
        </tr>
    </table>
</asp:Content>
