<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RequestFriendship.ascx.cs"
    Inherits="CMSModules_Friends_Controls_RequestFriendship" %>
<cms:LocalizedHyperlink ID="lnkFriendsRequest" runat="server" Visible="true" CssClass="RequestFriend" EnableViewState="false" />