<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Basic/BasicRepeater.ascx.cs"
    Inherits="CMSWebParts_Viewers_Basic_BasicRepeater" %>
<asp:PlaceHolder runat="server" ID="plcBasicRepeater" />
