<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Workflow_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSSiteManager_Development_Workflows_Workflow_Header"
    Theme="Default" EnableViewState="false" %>

