<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Media/Flash.ascx.cs" Inherits="CMSWebParts_Media_Flash" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />