<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Media/QuickTime.ascx.cs" Inherits="CMSWebParts_Media_QuickTime" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />