<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Media/RealMedia.ascx.cs" Inherits="CMSWebParts_Media_RealMedia" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />