<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Media/Video.ascx.cs" Inherits="CMSWebParts_Media_Video" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />