<%@ Control Language="C#" AutoEventWireup="true" CodeFile="TimeZoneSelector.ascx.cs" Inherits="CMSFormControls_TimeZones_TimeZoneSelector" %>
<cms:LocalizedDropDownList ID="drpTimeZoneSelector" runat="server" CssClass="DropDownField" />