<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CustomTables/CustomTableDataList.ascx.cs"
    Inherits="CMSWebParts_CustomTables_CustomTableDataList" %>
    
<cms:QueryDataList ID="lstItems" runat="server" />

