<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CustomTables/CustomTableDataSource.ascx.cs"
    Inherits="CMSWebParts_CustomTables_CustomTableDataSource" %>
    
<cms:CustomTableDataSource ID="srcTables" runat="server" />
