<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Polls_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Polls header"
    Inherits="CMSModules_Polls_Tools_Polls_Header" Theme="Default" %>
