<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewGroupAccess.ascx.cs"
    Inherits="CMSModules_Groups_FormControls_ViewGroupAccess" %>
<asp:Label ID="lblAccess" runat="server" EnableViewState="false" />