<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MediaFilePreview.ascx.cs" Inherits="CMSModules_MediaLibrary_Controls_LiveControls_MediaFilePreview" %>

<asp:Literal ID="ltlOutput" runat="server" EnableViewState="false" />
