﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Widget_Edit_Header.aspx.cs" Inherits="CMSModules_Widgets_UI_Widget_Edit_Header"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" Title="Widgets" %>

