<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/attachments.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_attachments" %>

<asp:Literal runat="server" ID="ltrAddButton" EnableViewState="false" />
<cms:CMSRepeater ID="repItems" runat="server" EnableViewState="true" />
<asp:Literal runat="server" ID="ltlScript" EnableViewState="false" />
