<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmscalendar.ascx.cs"
    Inherits="CMSWebParts_Viewers_Documents_cmscalendar" %>

<cms:CMSCalendar ID="calItems" runat="server" DayField="DocumentModifiedWhen" />
