<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmsdatalist.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_cmsdatalist" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSDataList ID="lstElem" runat="server" />
