<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmsdatagrid.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_cmsdatagrid" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" />
<cms:CMSDataGrid ID="gridElem" runat="server" />&nbsp;
