<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmsrepeater.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_cmsrepeater" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSRepeater ID="repItems" runat="server" />
