<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/documentpager.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_documentpager" %>

<cms:CMSRepeater ID="repItems" runat="server" EnableViewState="true" OrderBy="NodeOrder"  />
