<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/relateddocuments.ascx.cs"
    Inherits="CMSWebParts_Viewers_Documents_relateddocuments" %>
<cms:CMSRepeater ID="repElem" runat="server" Path="/%" ClassNames="CMS.Root" />
