<%@ Control Language="C#" AutoEventWireup="true" CodeFile="RadioButtons.ascx.cs" Inherits="CMSAdminControls_ContentRating_Controls_RadioButtons" %>
<asp:PlaceHolder ID="plcContent" runat="server" />
<cms:CMSButton ID="btnSubmit" runat="server" CssClass="CntRatingSubmitBtn" />
