<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewTask.ascx.cs" Inherits="CMSModules_Staging_Tools_Controls_ViewTask" %>
<asp:Literal runat="server" ID="ltlData" EnableViewState="false" />
<asp:PlaceHolder ID="pnlContent" runat="server" />
