<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/General/languageselection.ascx.cs"
    Inherits="CMSWebParts_General_languageselection" %>
<asp:Literal ID="ltlHyperlinks" runat="server" EnableViewState="false" />
