<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/General/pageplaceholder.ascx.cs" Inherits="CMSWebParts_General_pageplaceholder" %>

<asp:Label ID="lblError" runat="server" EnableViewState="false" Visible="false" CssClass="ErrorLabel" />
<cms:CMSPagePlaceholder ID="partPlaceholder" runat="server" />