<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/General/usercontrol.ascx.cs" Inherits="CMSWebParts_General_usercontrol" %>
<asp:Label ID="lblError" runat="server" EnableViewState="false" Visible="false" />