<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DocumentAttachments.ascx.cs"
    Inherits="CMSModules_Content_Controls_Attachments_DocumentAttachments_DocumentAttachments" %>
<cms:BasicRepeater ID="ucRepeater" runat="server" />
<cms:AttachmentsDataSource ID="ucDataSource" runat="server" />
<div class="Pager">
    <cms:UniPager ID="ucPager" runat="server" />
</div>