<%@ Page Language="C#" AutoEventWireup="true" CodeFile="keys.aspx.cs" Inherits="CMSSiteManager_Settings_keys"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="SiteManager - Settings"
    Theme="Default" %>
<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:PlaceHolder ID="plcContent" runat="server" />
    <cms:CMSButton ID="lnkSaveChanges" runat="server" CssClass="HiddenButton" OnClick="lnkSaveChanges_Click" EnableViewState="false" />
</asp:Content>

