
.tip-livepay {
	z-index:1000;
	text-align:left;
	border:1px solid #888;
	padding:8px;
	min-width:50px;
	max-width:530px;
	color:white;
	background-image:url(tip-livepaY.png); /* bgImageFrameSize >= 11 should work fine */
}
.tip-livepay .tip-inner {
	font:11px tahoma;
	margin-top:-2px;
	padding:0 4px 1px 4px;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-livepay .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background :url(tip-livepay_arrows.png) no-repeat;
}
.tip-livepay .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-7px;
	top:50%;
	left:100%;
	width:11px;
	height:21px;
	background:url(tip-livepay_arrows.png) no-repeat -22px 0;
}
.tip-livepay .tip-arrow-bottom {
	margin-top:-7px;
	margin-left:15px;
	top:100%;
	left:0;
	width:22px;
	height:14px;
	background:url(tip-livepay_arrows.png) no-repeat -44px 0;
}
.tip-livepay .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:11px;
	height:21px;
	background:url(tip-livepay_arrows.png) no-repeat -66px 0;
}