<%@ Page Language="C#" MasterPageFile="Blank.master" AutoEventWireup="true" CodeFile="root.aspx.cs" Inherits="CMSTemplates_BlankASPX_root" Title="Untitled Page" ValidateRequest="false" %>
<asp:Content ID="cntMain" ContentPlaceHolderID="plcMain" Runat="Server" />

