<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TaxClass_Header.aspx.cs" 
    Inherits="CMSModules_Ecommerce_Tools_Configuration_TaxClasses_TaxClass_Header" 
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>
