<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TaxClass_New.aspx.cs" Inherits="CMSModules_Ecommerce_Tools_Configuration_TaxClasses_TaxClass_New"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="plcContent" runat="Server">
    <asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false"
        Visible="false" />
    <asp:Label runat="server" ID="lblError" CssClass="ErrorLabel" EnableViewState="false"
        Visible="false" />
    <table style="vertical-align: top">
        <tr>
            <td class="FieldLabel">
                <asp:Label runat="server" ID="lblTaxClassDisplayName" EnableViewState="false" />
            </td>
            <td>
                <asp:TextBox ID="txtTaxClassDisplayName" runat="server" CssClass="TextBoxField" MaxLength="200"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvTaxClassDisplayName" runat="server" ErrorMessage=""
                    ControlToValidate="txtTaxClassDisplayName" EnableViewState="false"></asp:RequiredFieldValidator>
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">
                <asp:Label runat="server" ID="lblTaxClassName" EnableViewState="false" />
            </td>
            <td>
                <asp:TextBox ID="txtTaxClassName" runat="server" CssClass="TextBoxField" MaxLength="200"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvTaxClassName" runat="server" ErrorMessage="" ControlToValidate="txtTaxClassName"
                    EnableViewState="false" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">
                <asp:Label runat="server" ID="lblTaxZero" EnableViewState="false" />
            </td>
            <td>
                <asp:CheckBox ID="chkTaxZero" runat="server" CssClass="CheckBoxMovedLeft" EnableViewState="false" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <cms:CMSButton runat="server" ID="btnOk" OnClick="btnOK_Click" EnableViewState="false"
                    CssClass="SubmitButton" />
            </td>
        </tr>
    </table>
</asp:Content>
