<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Attachments/AttachmentsDataSource.ascx.cs"
    Inherits="CMSWebParts_Attachments_AttachmentsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Controls" Assembly="CMS.Controls" %>
<cms:AttachmentsDataSource ID="srcAttach" runat="server" />