<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PayPalForm.ascx.cs" Inherits="CMSModules_Ecommerce_Controls_PaymentGateways_PayPalForm" %>

<asp:Label ID="lblTitle" runat="server" EnableViewState="false" CssClass="BlockTitle" />
<table>
    <tr>        
        <td><asp:Label ID="lblInfo" runat="server" EnableViewState="false" CssClass="InfoLabel" /></td>
    </tr>
</table>