<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Analytics_Report.aspx.cs"
    Inherits="CMSModules_Reporting_Tools_Analytics_Report" Theme="Default" %>

<%@ Register Src="~/CMSModules/Reporting/Controls/ReportTable.ascx" TagName="ReportTable"
    TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/DisplayReport.ascx" TagName="DisplayReport"
    TagPrefix="cms" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Analytics report</title>
    <style type="text/css">
        body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
    </style>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    <asp:Panel runat="server" ID="pnlMenu" CssClass="TabsEditMenu">
        <table>
            <tr>
                <td>
                    <asp:LinkButton ID="lnkSave" runat="server" OnClick="lnkSave_Click" CssClass="MenuItemEdit"
                        EnableViewState="false">
                        <asp:Image ID="imgSave" runat="server" EnableViewState="false" />
                        <%=mSave%>
                    </asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkPrint" runat="server" CssClass="MenuItemEdit" EnableViewState="false">
                        <asp:Image ID="imgPrint" runat="server" EnableViewState="false" />
                        <%=mPrint%>
                    </asp:LinkButton>
                </td>
                <td>
                    <asp:LinkButton ID="lnkDeleteData" runat="server" CssClass="MenuItemEdit" Visible="false"
                        EnableViewState="false">
                        <asp:Image ID="imgManageData" runat="server" EnableViewState="false" />
                        <%=mDeleteData%>
                    </asp:LinkButton>
                </td>
            </tr>
        </table>
    </asp:Panel>
    <asp:Panel runat="server" ID="pnlContent" CssClass="PageContent">
        <asp:Label ID="lblInfo" runat="server" CssClass="InfoLabel" EnableViewState="false"
            Visible="false" />
        <asp:Label Style="padding: 10px 0 0 20px;" ID="lblError" runat="server" EnableViewState="False"
            Visible="False" CssClass="ErrorLabel" />
        <cms:DisplayReport ID="ucDisplayReport" runat="server" BodyCssClass="ReportBodyAnalytics"
            IsLiveSite="false" />
        <asp:Literal runat="server" ID="ltlModal" EnableViewState="false" />
        <cms:CMSButton ID="btnReload" runat="server" CssClass="HiddenButton" EnableViewState="false" />
    </asp:Panel>

    <script type="text/javascript">
        //<![CDATA[
        function RefreshPage() {
            parent.frames["analreport"].location.replace(parent.frames["analreport"].location);
            parent.frames["analmonths"].location.replace(parent.frames["analmonths"].location);
            parent.frames["analdays"].location.replace(parent.frames["analdays"].location);
        }
        //]]>
    </script>

    </form>
</body>
</html>
