<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Category_Header.aspx.cs"
    Inherits="CMSModules_Reporting_Tools_Category_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Theme="Default" Title="Category header" %>

