<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MyFriends_Header.aspx.cs"
    Inherits="CMSModules_Friends_MyFriends_MyFriends_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Friends header" Theme="default" %>

