<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Ecommerce/Products/RandomProducts.ascx.cs" Inherits="CMSWebParts_Ecommerce_Products_RandomProducts" %>
<cms:CMSRepeater ID="repeater" runat="server" />
