<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Ecommerce/Products/SimilarProductsBySale.ascx.cs" Inherits="CMSWebParts_Ecommerce_Products_SimilarProductsBySale" %>
<cms:CMSDataList ID="lstElem" runat="server" />