<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Ecommerce/Products/TopNProductsBySales.ascx.cs" Inherits="CMSWebParts_Ecommerce_Products_TopNProductsBySales" %>
<cms:CMSDataList ID="lstElem" runat="server" />