<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebPart_Header.aspx.cs" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Header"    
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" %>
