<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebPart_Edit_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Edit_Header" Theme="Default" %>
