<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebPart_Edit_Layout.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Inherits="CMSModules_PortalEngine_UI_WebParts_Development_WebPart_Edit_Layout"
    Theme="Default" %>
<%@ Register src="~/CMSAdminControls/UI/UniGrid/UniGrid.ascx" tagname="UniGrid" tagprefix="cms" %>

<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <asp:Label runat="server" ID="lblError" CssClass="ErrorLabel" EnableViewState="false"
        Visible="false" />
    <cms:UniGrid runat="server" ID="UniGrid" GridName="WebPart_Edit_Layout_List.xml"
        OrderBy="WebPartLayoutDisplayName" IsLiveSite="false" />
</asp:Content>
