#OnlineDwrea .theme-default  .nivo-controlNav {
	bottom:20px;
	top:320px;
	right:26px;
	left:auto;
	height:20px;
	z-index:50000;
	}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
#Infowrapper .theme-default .nivoSlider {background-image:none;}

#slider {width:285px;height:415px;}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	z-index:10;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	top:190px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}

#OnlineDwrea .theme-default .nivo-controlNav a
{
	background:url(bulletsFront.png) no-repeat;
	height:20px;
	}
	
#OnlineDwrea .theme-default .nivo-controlNav a.active {
    background-position: 0 -20px;
}

.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:10px;
}
.theme-default a.nivo-prevNav {
	left:10px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.nivo-html-caption a {text-decoration:none;}