<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Groups/GroupsDataSource.ascx.cs"
    Inherits="CMSWebParts_Community_Groups_GroupsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>
<cms:GroupsDataSource ID="srcGroups" runat="server" />
