<%@ Page Language="C#" AutoEventWireup="true" CodeFile="MessageUserSelector_Header.aspx.cs"
    Inherits="CMSModules_Messaging_Dialogs_MessageUserSelector_Header" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Theme="Default" EnableEventValidation="false" %>
