<%@ Page Language="C#" AutoEventWireup="true" CodeFile="OptionCategory_Edit_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_ProductOptions_OptionCategory_Edit_Header" Theme="Default" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Option category header" %>
