<%@ Page Language="C#" MasterPageFile="Template.master" AutoEventWireup="true" CodeFile="ChildTemplate.aspx.cs" Inherits="CMSModules_PortalEngine_UI_PageTemplates_ASPX_ChildTemplate" ValidateRequest="false" %>
<%--REGISTER--%>
<asp:Content ID="cntMain" ContentPlaceHolderID="plcMain" Runat="Server">
    <%--CONTENT--%>
</asp:Content>

