﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/SmartSearch/SearchAccelerator.ascx.cs" Inherits="CMSWebParts_SmartSearch_SearchAccelerator" %>
<cms:CMSButton runat="server" ID="btnAcc" EnableViewState="false" />
