<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Discount_Edit_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_DiscountCoupon_Discount_Edit_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Discount coupon header" %>
