<%@ Page Language="C#" AutoEventWireup="true" CodeFile="border.aspx.cs" Inherits="CMSAdminControls_TabsFrameset_border" Theme="Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
    <title>Untitled Page</title>
    <style type="text/css">
		body
		{
			margin: 0px;
			padding: 0px;
			height: 100%;
		}
	</style>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Panel runat="server" ID="Panel1" CssClass="TreeBorder">
          &nbsp;
        </asp:Panel>
    </form>
</body>
</html>
