body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

/* CMSControlsExamples */
/* Header */
.CtrlExamples_Header
{
	background: url(../App_Themes/Default/Images/Others/ControlsExamples/Header.png) repeat-x;
	border-bottom: solid 1px #a4b2bc;
	width: 100%;
	height: 39px;
	margin: 0px;
	padding-left: 15px;
}

.CtrlExamples_HeaderLeft
{
	background: url(../App_Themes/Default/Images/Others/ControlsExamples/ControlsExamples.png) 0% 55% no-repeat;
	width: 210px;
	height: 100%;
	margin: 0px;
}

/* Border */
.Border
{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 1px;
	height: 100%;
	background-color: #cccccc;
	overflow: hidden;
	cursor: e-resize;
}
.CMSMenu
{
	width: 100px;
	background-color: #e2e2e2;
	border: 1px solid #808080;
}
.CMSMenuActive
{
	width: 100px;
	background-color: #c2c2c2;
	border: 1px solid #808080;
}