<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FolderTree.ascx.cs" Inherits="CMSModules_MediaLibrary_Controls_Filters_FolderTree" %>
<%@ Register Src="~/CMSModules/MediaLibrary/Controls/MediaLibrary/FolderTree.ascx" TagName="FolderTree"
    TagPrefix="cms" %>
<cms:FolderTree ID="folderTree" runat="server" />
