<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Friends/RequestFriendship.ascx.cs"
    Inherits="CMSWebParts_Community_Friends_RequestFriendship" %>
<%@ Register Src="~/CMSModules/Friends/Controls/RequestFriendship.ascx" TagName="RequestFriendship"
    TagPrefix="cms" %>
<cms:RequestFriendship ID="requestFriendshipElem" runat="server" />
