<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PollControl.ascx.cs" Inherits="CMSModules_Polls_InlineControls_PollControl" %>

<%@ Register Src="~/CMSModules/Polls/Controls/PollView.ascx" TagName="PollView" TagPrefix="cms" %>

<div>
    <cms:PollView ID="PollView1" runat="server" />
</div>