<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Navigation/cmstreemenu.ascx.cs"
    Inherits="CMSWebParts_Navigation_cmstreemenu" %>
<cms:CMSTreeMenu ID="menuElem" runat="server" />
