<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Navigation/cmstabcontrol.ascx.cs"
    Inherits="CMSWebParts_Navigation_cmstabcontrol" %>
<cms:CMSTabControl ID="tabElem" runat="server" />
