<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Basic/BasicDataList.ascx.cs"
    Inherits="CMSWebParts_Viewers_Basic_BasicDataList" %>
<asp:PlaceHolder runat="server" ID="plcBasicDataList" />
