<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Basic/UniPager.ascx.cs"
    Inherits="CMSWebParts_Viewers_Basic_UniPager" %>
<cms:UniPager ID="pagerElem" runat="server" />
