<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewUserAvatar.ascx.cs" Inherits="CMSModules_Avatars_FormControls_ViewUserAvatar" %>

<asp:Image ID="imgAvatar" runat="server" EnableViewState="false" />
