<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewGroupAvatar.ascx.cs" Inherits="CMSModules_Avatars_FormControls_ViewGroupAvatar" %>

<asp:Image ID="imgAvatar" runat="server" EnableViewState="false" />
