<%@ Page Language="C#" AutoEventWireup="true" CodeFile="SavedReport_Print.aspx.cs" Inherits="CMSModules_Reporting_Tools_SavedReports_SavedReport_Print" Theme="Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
    <title>Saved Report Print</title>
    <base target="_self" />
    <style type="text/css">
        body
        {
            padding: 10px;
        }
    </style>
</head>
<body onload="window.print();" class="<%=mBodyClass%>">
    <form id="form1" runat="server">
        <asp:Literal ID="ltlHtml" runat="server" EnableViewState="false" />
    </form>
</body>
</html>
