<%@ Page Language="C#" AutoEventWireup="true" CodeFile="LiveSite.aspx.cs" Inherits="CMSModules_Content_CMSDesk_View_LiveSite" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Content - Live site</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            Unable to display the document in a live site mode.
        </div>
    </form>
</body>
</html>
