<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewBadgeImage.ascx.cs" Inherits="CMSModules_Badges_FormControls_ViewBadgeImage" %>

<asp:Image ID="imgBadge" runat="server" EnableViewState="false" />
