<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ViewBadgeText.ascx.cs" Inherits="CMSModules_Badges_FormControls_ViewBadgeText" %>

<asp:Label ID="lblBadgeText" runat="server" EnableViewState="false" />