<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CommunityServices/GoogleVideo.ascx.cs" Inherits="CMSWebParts_CommunityServices_GoogleVideo" %>
<asp:Literal ID="ltlPlaceholder" runat="Server" EnableViewState="false" />
<asp:Literal ID="ltlScript" runat="Server" EnableViewState="false" />