<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CommunityServices/SocialBookmarking.ascx.cs"
    Inherits="CMSWebParts_CommunityServices_SocialBookmarking" %>
<asp:Literal runat="server" ID="ltlIcons" EnableViewState="false" />
