<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomTable_Edit_Transformation_List.aspx.cs"
    Inherits="CMSModules_CustomTables_CustomTable_Edit_Transformation_List"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Custom table edit - Transformation List" %>

<%@ Register Src="~/CMSModules/AdminControls/Controls/Class/ClassTransformations.ascx" TagName="ClassTransformations" TagPrefix="cms" %>
    
<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <cms:ClassTransformations ID="classTransformations" runat="server" />
</asp:Content>
