<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomTable_Edit_Header.aspx.cs"
    Inherits="CMSModules_CustomTables_CustomTable_Edit_Header" Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Custom table edit - Header" EnableViewState="false" %>

