<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~\CMSWebParts\AegeanPower\Search\AegeanPowerSearch.ascx.cs" Inherits="CMSWebParts_AegeanPower_Search_AegeanPowerSearch" %>

<%@ Register Src="~/CMSWebParts/AegeanPower/Search/Search_files/AegeanPowerSearchControl.ascx" TagName="AegeanPowerSearchControl" TagPrefix="cms" %>

<cms:AegeanPowerSearchControl ID="AegeanPowerSearchControl" runat="server" />