﻿<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Theme="Default"
    AutoEventWireup="true" CodeFile="Header.aspx.cs" EnableEventValidation="false"
    Inherits="CMSFormControls_Selectors_InsertImageOrMedia_Header" %>

<%@ Register Src="~/CMSModules/Content/Controls/Dialogs/General/DialogHeader.ascx" TagName="DialogHeader"
    TagPrefix="cms" %>
<asp:Content ID="content" ContentPlaceHolderID="plcContent" runat="server">
    <cms:DialogHeader ID="header" runat="server" IsLiveSite="false" />
    <asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
</asp:Content>
