﻿<%@ Page Language="C#" AutoEventWireup="true" Theme="Default" CodeFile="Tabs_Web.aspx.cs"
    Inherits="CMSFormControls_Selectors_InsertImageOrMedia_Tabs_Web" EnableEventValidation="false" %>

<%@ Register Src="~/CMSModules/Content/Controls/Dialogs/Web/WebContentSelector.ascx" TagName="WebContentSelector"
    TagPrefix="cms" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server" enableviewstate="false">
    <title>Insert image or media - web</title>
    <style type="text/css">
        body
        {
            margin: 0px;
            padding: 0px;
            height: 100%;
        }
    </style>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    <asp:ScriptManager ID="scriptManager" runat="server">
    </asp:ScriptManager>
    <cms:WebContentSelector ID="webContentSelector" runat="server" IsLiveSite="false" />
    <asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
    </form>
</body>
</html>
