<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/IgnoreList.ascx.cs"
    Inherits="CMSWebParts_Messaging_IgnoreList" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/IgnoreList.ascx" TagName="IgnoreList"
    TagPrefix="cms" %>
<cms:IgnoreList ID="lstIgnore" runat="server" />
