<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/Inbox.ascx.cs"
    Inherits="CMSWebParts_Messaging_Inbox" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/Inbox.ascx" TagName="Inbox" TagPrefix="cms" %>
<cms:Inbox ID="ucInbox" runat="server" />
