<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/MessagingInfoPanel.ascx.cs"
    Inherits="CMSWebParts_Messaging_MessagingInfoPanel" %>
<asp:PlaceHolder ID="plcLinks" runat="server" EnableViewState="false" />
