<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/MyMessages.ascx.cs"
    Inherits="CMSWebParts_Messaging_MyMessages" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/MyMessages.ascx" TagName="MyMessages"
    TagPrefix="cms" %>
<cms:MyMessages ID="ucMyMessages" runat="server" />
