<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/Outbox.ascx.cs"
    Inherits="CMSWebParts_Messaging_Outbox" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/Outbox.ascx" TagName="Outbox" TagPrefix="cms" %>
<cms:Outbox ID="ucOutbox" runat="server" />
