<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Messaging/SendMessage.ascx.cs"
    Inherits="CMSWebParts_Messaging_SendMessage" %>
<%@ Register Src="~/CMSModules/Messaging/Controls/SendMessage.ascx" TagName="SendMessage"
    TagPrefix="cms" %>
<cms:SendMessage ID="ucSendMessage" runat="server" />
