<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BizFormControl.ascx.cs" Inherits="CMSModules_BizForms_InlineControls_BizFormControl" %>

<div>
	<cms:BizForm ID="Bizform1" runat="server" />
</div>
