<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Subscriber_Frameset.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Subscribers_Subscriber_Frameset" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Newsletters</title>
</head>
	<frameset border="0" rows="65, *" id="rowsFrameset">
		<frame name="subscriberMenu" src="Subscriber_Header.aspx?subscriberid=<%= Request.QueryString["subscriberid"] %> " frameborder="0" scrolling="no" noresize="noresize"  />		
	    <frame name="subscriberContent" src="Subscriber_General.aspx?subscriberid=<%= Request.QueryString["subscriberid"] %>&saved=<%= Request.QueryString["saved"] %> " frameborder="0"  />
	<noframes>
		<body>
		 <p id="p1">
			This HTML frameset displays multiple Web pages. To view this frameset, use a 
			Web browser that supports HTML 4.0 and later.
		 </p>
		</body>
	</noframes>
</frameset>
</html>
