<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Subscriber_Header.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Subscribers_Subscriber_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Newsletter" %>
