<%@ Control Language="C#" AutoEventWireup="true" CodeFile="CustomTableViewItem.ascx.cs" Inherits="CMSModules_CustomTables_Controls_CustomTableViewItem" %>

<asp:Literal ID="ltlContent" runat="server" />
