﻿body {
    background-image: url("/App_Themes/Epistrofi/Images/master/master_bg.png");
    background-position: left top;
    background-repeat: repeat;
    font-family: Arial;
    font-size: 12px;
}

html, form {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0px;
}

.clear {
    clear: both;
    float: none;
}

img {
    border: 0px solid white;
}

.fygeXeraki {
    cursor: default;
}

a {
    border: 0;
    outline: 0;
}

    a:active {
        border: 0;
        outline: 0;
    }

*:focus {
    border: 0;
    outline: 0;
}

.TopPage {
    position: absolute;
    right: -70px;
    bottom: 10px;
    background-image: url("/App_Themes/Epistrofi/Images/master/top.png");
    background-position: center top;
    background-repeat: no-repeat;
    width: 46px;
    height: 46px;
    cursor: pointer;
}

#Page {
    background-image: url("/App_Themes/Epistrofi/Images/master/epistrofi_bg.png");
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 40px;
}


#Header {
    background-image: none;
    height: 95px;
    margin: auto;
    width: 100%;
    background-color: #5e2661;
}

    #Header .HeaderInner {
        margin: auto;
        width: 988px;
        min-width: 988px;
        max-width: 988px;
    }

#LogoEpistrofi {
    display: block;
    float: left;
    height: 52px;
    padding-top: 17px;
    width: 222px;
}

#LogoEurobank {
    float: right;
    margin-top: 25px;
}

/*Footer - Sliders SinergatesLogo*/
#FooterSliders {
    /*height:203px;*/
    background-color: #431a4a;
}

    #FooterSliders .FooterSlidersInside {
        margin: auto;
        width: 988px;
        min-width: 988px;
        max-width: 988px;
        position: relative;
        top: -27px;
        left: 0px;
    }

#SinergatesLogo {
    min-height: 50px;
    width: 980px;
    min-width: 988px;
    max-width: 988px;
    background-image: url("/App_Themes/Epistrofi/Images/sliders/sinergates_shadow.png");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 3px 0px 5px;
    margin-bottom: 8px;
}

    #SinergatesLogo ul {
        display: block;
        float: left;
        min-height: 50px;
        width: 980px;
        background-color: White;
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-left: 4px;
    }

        #SinergatesLogo ul li {
            float: left;
            display: block;
            width: 16.6%;
            text-align: center;
            height: 71px;
        }

            #SinergatesLogo ul li a {
                float: left;
                padding: 0px;
                display: block;
                cursor: pointer;
                padding: 7px;
            }

                #SinergatesLogo ul li a img {
                    border: 0px;
                }

        #SinergatesLogo ul.Sinergates_Second li {
            height: 50px;
            width: 9.8%;
            text-align: center;
        }

            #SinergatesLogo ul.Sinergates_Second li .SinItemFront {
                display: inline-block;
            }


            #SinergatesLogo ul.Sinergates_Second li a img {
                max-width: 100px;
                max-height: 38px;
            }

/*
#SinergatesLogo ul li 
{
float:left; 
display:block; 
width:151px;
background-image: url("/App_Themes/Epistrofi/Images/bgSin.gif");
background-position:right;
}

#SinergatesLogo ul li:hover   
{
background-image: url("/App_Themes/Epistrofi/Images/bg_Sin_hover.gif");
background-position:right;
display:block; 
width:151px;
}
#SinergatesLogo ul li a 
{
float:left;
border-bottom:1px solid #e1eefa;
padding:0px;
border-right:1px solid #ecf6fc;
height:58px;
overflow-y:hidden;
overflow-x:visible;
}
#SinergatesLogo ul li a.Alternate{border-left:1px solid #ecf6fc;}
.SinLogoFront {float:left; display:block;min-width:130px;}
*/

/*Banner Front Epixeiriseis*/
#BannerFrontEpixeiriseis {
    height: 55px;
    width: 980px;
    background-image: url("/App_Themes/Epistrofi/Images/sliders/epixeiriseis_shadow.png");
    background-position: top center;
    background-repeat: no-repeat;
    padding: 3px 0px 5px;
}

#CarF {
    height: 55px;
    width: 980px;
    background-color: White;
    margin-left: 4px;
}

    #CarF li {
        width: 136px;
    }

.anyClass {
    height: 57px;
    padding-top: 5px;
    float: left;
    width: 905px !important;
}

    .anyClass table {
        height: 50px;
        vertical-align: middle;
        text-align: center;
    }

.prev {
    cursor: pointer;
    margin-left: 12px;
    margin-top: 7px;
    float: left;
    border: 0px;
    width: 23px;
    height: 41px;
    padding: 0px;
    background: url(/App_Themes/Epistrofi/Images/sliders/prev.png) no-repeat 0 0;
}

    .prev:hover {
        background: url(/App_Themes/Epistrofi/Images/sliders/prev_hover.png) no-repeat 0 0;
    }

.next {
    cursor: pointer;
    margin-right: 12px;
    margin-top: 7px;
    margin-left: 5px;
    float: left;
    border: 0px solid white;
    width: 23px;
    height: 41px;
    padding: 0px;
    background: url(/App_Themes/Epistrofi/Images/sliders/next.png) no-repeat 0 0;
}

    .next:hover {
        background: url(/App_Themes/Epistrofi/Images/sliders/next_hover.png) no-repeat 0 0;
    }

.CompLogoFront img {
    max-height: 37px;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}

.infiniteCarousel table {
    height: 50px;
    vertical-align: middle;
    text-align: center;
}

/* Footer CopyWrite */
#FooterCopyWrite {
    height: 44px;
    background-color: #431a4a;
    color: #e1eefa;
}

    #FooterCopyWrite .FooterCopyWriteInside {
        margin: auto;
        width: 988px;
        min-width: 988px;
        max-width: 988px;
        height: 44px;
        color: #e1eefa;
        text-align: center;
        line-height: 44px;
    }

        #FooterCopyWrite .FooterCopyWriteInside a {
            cursor: pointer;
            color: #e1eefa;
            line-height: 44px;
        }

/* Footer */
#Footer {
    background-color: #622866;
    color: #e1eefa;
    font-size: 11px;
}

    #Footer .FooterInside {
        margin: auto;
        width: 988px;
        min-width: 988px;
        max-width: 988px;
    }

    #Footer .FooterTop {
        height: 71px;
        position: relative;
    }

#FooterShare {
    color: #e1eefa;
    font-size: 18px;
    height: 71px;
    left: 0;
    line-height: 71px;
    position: absolute;
    top: 0;
    padding-left: 10px;
    min-width: 220px;
    max-width: 220px;
}

    #FooterShare span {
        float: left;
        margin-right: 15px;
    }

    #FooterShare a {
        display: inline-block;
        margin-right: 5px;
        margin-top: 18px;
    }

.FooterLinks {
    height: 71px;
    right: 0;
    line-height: 71px;
    position: absolute;
    top: 0;
}

#FOnlineAitis {
    float: left;
    width: 235px;
}

#FEntypiYlh {
    float: left;
    width: 149px;
    margin-left: 80px;
}

#FContact {
    float: left;
    width: 144px;
    margin-left: 77px;
}

/* Footer - Newsletter*/
#FNewsletter {
    padding-bottom: 14px;
    height: 50px;
    display: none;
}

.NewsLetterBox {
    background-image: url("/App_Themes/Epistrofi/Images/newsletter/Newsletter_area.png");
    background-position: center top;
    background-repeat: no-repeat;
    width: 980px;
    height: 50px;
    vertical-align: top;
    padding: 0px 4px;
}

    .NewsLetterBox img.newsletter_text {
        float: left;
        margin-left: 25px;
    }

.Textaki {
    display: none;
}

.emailbox_area {
    float: right;
    position: relative;
    right: 20px;
}

.NewsletterBG input {
    float: left;
    border: 0px solid white;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    width: 270px;
    padding-left: 10px;
    padding-right: 10px;
    color: #4e1e57;
}

.NewsletterBG {
    background-image: url("/App_Themes/Epistrofi/Images/newsletter/newsletter.png");
    background-position: top center;
    background-repeat: no-repeat;
    width: 319px;
    height: 30px;
    float: left;
    margin-top: 10px;
}

.newsletterBtn {
    position: absolute;
    right: 4px;
    top: 14px;
}

.NewsLetterText {
    left: 0px;
    bottom: -41px;
    position: absolute;
}

.newsletter-content {
    line-height: 50px;
    height: 50px;
}

.newsletter-content-error {
    float: right;
    padding-right: 20px;
}

/*Main Ton Menu*/
#MainTopMenu {
    background-image: none;
    height: 40px;
    margin: auto;
    width: 100%;
    background-color: #431a4a;
}

    #MainTopMenu .MainTopMenuInner {
        margin: auto;
        width: 988px;
        position: relative;
        z-index: 999;
    }

.HomeLink {
    float: left;
}

    .HomeLink:hover {
        background-color: #5e2661;
    }

.MainTopMenuInner ul#menuElem {
    float: left;
}

    .MainTopMenuInner ul#menuElem li {
        line-height: 40px;
        height: 40px;
        position: relative;
    }

        .MainTopMenuInner ul#menuElem li a {
            text-decoration: none;
            color: White;
            font-size: 16px;
            display: block;
            height: 40px;
            line-height: 40px;
            padding: 0px 16px;
        }

            .MainTopMenuInner ul#menuElem li a:hover {
                background-color: #5e2661;
                cursor: pointer;
            }

        .MainTopMenuInner ul#menuElem li:hover {
            background-color: #5e2661;
        }

.MainTopMenuInner ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

    .MainTopMenuInner ul li {
        float: left;
    }

        .MainTopMenuInner ul li ul {
            display: none;
            position: absolute;
            top: 40px;
            left: 0px;
            background-color: #5e2661;
            border-bottom: 5px solid #f58220;
            z-index: 999;
        }

            .MainTopMenuInner ul li ul li {
                float: none;
                display: block;
                width: 100%;
            }

    .MainTopMenuInner ul#menuElem li:hover ul {
        display: block;
    }

    .MainTopMenuInner ul#menuElem li ul li {
        width: 100%;
    }

        .MainTopMenuInner ul#menuElem li ul li a {
            white-space: nowrap;
        }

        .MainTopMenuInner ul#menuElem li ul li a {
            padding-left: 45px;
        }

            .MainTopMenuInner ul#menuElem li ul li a:hover {
                background-color: #f58220;
                background-image: url("/App_Themes/Epistrofi/Images/Menu/li_hover.png");
                background-position: left center;
                background-repeat: no-repeat;
            }

    .MainTopMenuInner ul#menuElem li.CMSListMenuHighlightedLI {
        background-color: #f58220;
    }

        .MainTopMenuInner ul#menuElem li.CMSListMenuHighlightedLI a.CMSListMenuLinkHighlighted {
            background-color: #f58220;
        }

        .MainTopMenuInner ul#menuElem li.CMSListMenuHighlightedLI ul li.CMSListMenuHighlightedLI a.CMSListMenuLinkHighlighted {
            background-color: #f05c13;
            background-image: url("/App_Themes/Epistrofi/Images/Menu/li_hover.png");
            background-position: left center;
            background-repeat: no-repeat;
        }

/* Main Content */
#MainContent {
    margin: auto;
    width: 988px;
    min-width: 988px;
    max-width: 988px;
    padding-top: 8px;
}

#TopBannerArea {
    position: relative;
    z-index: 1;
}

.TopBannerArea_home {
    background-color: transparent;
    background-image: url("/App_Themes/Epistrofi/Images/topbanner/top_banner_shadow.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 3px 4px 6px;
    width: 980px;
    height: 336px;
    margin-bottom: 7px;
}

#TopBannerArea .Content_TopImage .inside {
    background-color: transparent;
    background-image: url("/App_Themes/Epistrofi/Images/topbanner/top_banner_shadow.png");
    background-position: left center;
    background-repeat: no-repeat;
    padding: 3px 4px 6px;
    width: 980px;
    height: 336px;
    margin-bottom: 7px;
}

#TopBannerArea .Content_TopImage img {
    position: absolute;
    left: -22px;
    top: 3px;
    z-index: 9;
}

#General_Content_Top {
    background-image: url("/App_Themes/Epistrofi/Images/master/general_top.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 988px;
    height: 13px;
}

#General_Content_Bottom {
    background-image: url("/App_Themes/Epistrofi/Images/master/general_bottom.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 988px;
    height: 20px;
}

#General_Content_Left {
    background-image: url("/App_Themes/Epistrofi/Images/master/left_shadow.png");
    background-position: top left;
    background-repeat: repeat-y;
    width: 988px;
}

#General_Content_Right {
    background-image: url("/App_Themes/Epistrofi/Images/master/right_shadow.png");
    background-position: top right;
    background-repeat: repeat-y;
    margin-left: 4px;
    padding-right: 4px;
    width: 980px;
}

#LeftSidebar {
    width: 636px;
    background-color: #ffffff;
    min-height: 150px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    color: #4e1e57;
    font-size: 14px;
}

#RightSideBar {
    background-color: #f5f8fb;
    min-height: 90px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 10px;
    width: 282px;
    vertical-align: top;
}

.RightMasterContent_Epistrofi {
    margin-bottom: 10px;
    float: left;
}

    .RightMasterContent_Epistrofi a {
        float: left;
        margin-right: 2px;
        margin-bottom: 1px;
    }

.RightMasterContent_EpistrofiApp {
    margin-bottom: 5px;
}

.RightMasterContent_Premium {
    margin-bottom: 5px;
}

#LeftSidebar h1 {
    margin: 0px;
    font-size: 26px;
    color: #4e1e57;
    font-weight: normal;
    margin-bottom: 20px;
}

#LeftSidebar a {
    cursor: pointer;
    color: #f58220;
    text-decoration: none;
    color: #FFFFFF;
    border: 0;
    outline: 0;
}

    #LeftSidebar a#btn_Search {
        cursor: pointer;
        color: #f58220;
        text-decoration: none;
        color: #FFFFFF;
        border: 0;
        outline: 0;
        line-height: 30px;
        display: block;
        min-height: 35px;
    }


/*# Content #*/
#Content a {
    color: #692F74;
}

#Content {
    color: #4e1e57;
    width: 636px;
    max-width: 636px;
}

.ErrMsg {
    display: none;
}

#Breadcrumb {
    background-color: #f58220;
    height: 30px;
    font-size: 15px;
    color: white;
    padding-top: 8px;
    padding-left: 14px;
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
    position: relative;
}

    #Breadcrumb a {
        color: white;
        text-decoration: none;
        display: none;
        visibility: hidden;
    }

.CMSBreadCrumbsCurrentItem {
    max-width: 610px;
}

#FontSizeChange {
    width: 65px;
    float: right;
    margin-right: 10px;
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 8px;
}

    #FontSizeChange a {
        display: inline;
        visibility: visible;
    }
/* Top Banner - Home*/
.TopBannerSlider {
    float: left;
    width: 675px;
    height: 336px;
    position: relative;
}

.TopBannerStaticBanners_Area {
    float: right;
    width: 305px;
    height: 336px;
}

.TopBannerStatic {
    float: left;
    display: block;
    height: 112px;
}

/*Slider*/
#HomePage_top_slider {
    position: relative;
    width: 675px;
    height: 336px;
}

.TopBannerSlider .pager_area {
    position: absolute;
    bottom: 10px;
    z-index: 99;
    width: 655px;
    left: 0px;
    padding-right: 20px;
}

.TopBannerSlider .pager {
    float: right;
}

    .TopBannerSlider .pager a {
        background-image: url("/App_Themes/Epistrofi/Images/topbanner/bullet.png");
        background-position: top left;
        background-repeat: no-repeat;
        width: 25px;
        height: 25px;
        float: left;
        margin-right: 5px;
        font-size: 0px;
        background-color: transparent;
    }

        .TopBannerSlider .pager a.activeSlide {
            background-image: url("/App_Themes/Epistrofi/Images/topbanner/selected_bullet.png");
            background-position: top left;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            float: left;
            margin-right: 5px;
            font-size: 0px;
            background-color: transparent;
        }

a.item .Info {
    background-image: url("/App_Themes/Epistrofi/Images/topbanner/banner_info.png");
    background-position: top left;
    background-repeat: no-repeat;
    width: 293px;
    height: 111px;
    position: absolute;
    bottom: 35px;
    left: -25px;
    padding: 10px 25px 14px 40px;
    color: #4e1e57;
}

#HomePage_top_slider a.item {
    text-decoration: none;
    display: none;
}

    #HomePage_top_slider a.item:nth-of-type(1) {
        display: block;
    }

.Info_TopPart {
    width: 293px;
    margin-bottom: 5px;
}

.Info_Image {
    float: left;
}

    .Info_Image img {
        max-height: 48px;
        max-width: 150px;
    }

.Info_Discount {
    float: left;
    font-size: 48px;
    font-weight: bold;
    margin-left: 20px;
}

.Info_Message {
    height: 44px;
    overflow: hidden;
}

/*# ArithmosKartas#*/
#plc_lt_ZCMainRightSidebar_pageplaceholder_pageplaceholder_lt_zoneMainContent_usercontrol_userControlElem_GrvEuro th,
#plc_lt_ZCMainRightSidebar_pageplaceholder_pageplaceholder_lt_zoneMainContent_usercontrol_userControlElem_GrvEuro td {
    text-align: center;
}

.amount {
    background-color: transparent;
    text-align: center;
    color: black;
    font-size: 11px;
}

.SendBtn {
    background-image: url("/CMSWebParts/Epistrofi/images/my_euros/submit.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 141px;
    height: 32px;
    margin-top: 12px;
    border: 0px;
    cursor: pointer;
}
/* Master Arithmos Kartas mine*/
.TitleArithmosKartas {
    margin: 5px 0px 15px;
}

.AithKartasBg {
    background-image: url("/CMSWebParts/Epistrofi/images/my_euros/my_euros_area.png");
    background-position: left top;
    background-repeat: no-repeat;
    width: 277px;
    height: 30px;
    margin-top: 5px;
    position: relative;
}

    .AithKartasBg input {
        border: 0px solid white;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        width: 270px;
        padding-left: 10px;
        padding-right: 10px;
        color: #4e1e57;
    }

    .AithKartasBg a {
        position: absolute;
        right: 10px;
        top: 6px;
    }

.ArithmosKartas {
    padding-bottom: 20px;
}

/*# Keyboard #*/
#keyboard input:hover {
    cursor: pointer;
}

#keyboard2 input:hover {
    cursor: pointer;
}

#keyboard .numbers {
    height: 26px;
    width: 26px;
    background-color: #e5e3ef;
    color: #808285;
    border: 1px solid white;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
}

#keyboard .space {
    height: 26px;
    border: 1px solid white;
    background-color: #e5e3ef;
    color: #808285;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    padding: 0px;
    width: 65px;
    padding-right: 2px;
    margin: 5px;
}

#keyboard {
    display: none;
    width: 285px;
    height: 75px;
    padding: 10px;
    padding-left: 6px;
    cursor: move;
    position: absolute;
    z-index: 99;
    background-image: url(/CMSWebParts/Epistrofi/images/Keyboard_bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

#keyboard2 .numbers {
    height: 26px;
    width: 26px;
    background-color: #e5e3ef;
    color: #808285;
    border: 1px solid white;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    margin: 5px;
}

#keyboard2 .space {
    height: 26px;
    border: 1px solid white;
    background-color: #e5e3ef;
    color: #808285;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial;
    padding: 0px;
    width: 65px;
    padding-right: 2px;
    margin: 5px;
}

#keyboard2 {
    display: none;
    cursor: move;
    width: 285px;
    height: 75px;
    padding: 10px;
    padding-left: 6px;
    position: absolute;
    z-index: 99;
    background-image: url(/CMSWebParts/Epistrofi/images/Keyboard_bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

img {
    border: none;
}

#row0 {
    width: 200px;
    float: left;
    padding-right: 6px;
}


/* Μέχρι πότε ισχύουν τα ευρώ μου; */
.Content-Area-Left-Part {
    padding: 5px 6px;
    background-color: #e4f0fa;
}

.Content-Area-Left-Part-Inside {
    background-color: white;
    border: 1px solid #e2e7ea;
    padding-bottom: 20px;
}

.Content-Area-Left-Part-Inside-Left {
    float: left;
    font-family: Arial;
    font-size: 11px;
    color: #4f4f4f;
    padding-left: 20px;
    width: 501px;
    padding-top: 25px;
    padding-right: 15px;
}

.Content-Area-Left-Part-Inside-Right {
    float: left;
    width: 100px;
}

.Content-Area-Left-Part-Inside-Right-Pososto {
    background-image: url(/App_Themes/Epistrofi/Images/ContentPage/ContentPage-Pososto.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    width: 101px;
    height: 66px;
    font-family: Arial;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-bottom: 5px;
}

.Content-Area-Left-Part-Inside-Right-Number {
    border: 2px solid #e7e6e6;
    background-color: #ededed;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    color: #444444;
    height: 22px;
    padding-left: 5px;
    padding-top: 5px;
    width: 94px;
}

.Content-Area-Left-Part-Inside-Left-DownPart {
    border-top: 1px dotted #b8b8b8;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    padding-top: 15px;
    width: 505px;
}

/*# EuroEpistrofis #*/
.TitleOrange {
    height: 28px;
    background-color: #f58220;
    color: white;
    margin: 3px;
    font-size: 19px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 8px;
    background-image: url(/App_Themes/Epistrofi/Images/orangeTitle.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.TitleOrangeb {
    height: 28px;
    background-color: #f58220;
    color: white;
    margin: 3px;
    font-size: 19px;
    font-family: Arial;
    font-weight: bold;
    padding-top: 4px;
    padding-right: 8px;
    background-image: url(/App_Themes/Epistrofi/Images/TitleOrangeb.png);
    background-repeat: no-repeat;
    background-position: left top;
}

.LblBalance {
    float: right;
    width: 90px;
    text-align: right;
}

/* PopUps */

.PopUpBG3 {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url('/CMSWebParts/Epistrofi/images/transparentBg.png');
    background-repeat: repeat;
    top: 0px;
    left: 0px;
    display: none;
    z-index: 9999;
}

.PopUp3 {
    position: absolute;
    width: 960px;
    height: 700px;
    display: none;
    z-index: 1500000;
}

.aClosePopUp {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 25px;
}


/*# Content / Contact Form #*/
#FormaEpikoinwnias input, .TbxMultiLine {
    font-size: 12px;
    color: #444444;
    padding-left: 4px;
    font-family: Arial;
    padding-top: 2px;
}

#FormaEpikoinwnias .TbxMultiLine {
    padding-top: 5px;
}

#comments {
    background-image: url(/App_Themes/Epistrofi/Images/tbxArea_bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    width: 247px;
    height: 146px;
    padding-left: 2px;
    padding-right: 2px;
}

.DivTbxFormas {
    background-image: url(/App_Themes/Epistrofi/Images/tbx_bg.gif);
    background-repeat: no-repeat;
    background-position: left top;
    width: 267px;
    height: 22px;
    padding-left: 2px;
    padding-right: 2px;
    margin-bottom: 10px;
}

    .DivTbxFormas input {
        float: left;
    }

.star {
    float: left;
    margin-left: 6px;
    color: #692F74;
    font-weight: bold;
    font-size: 16px;
}

.TbxMultiLine {
    width: 242px;
    height: 145px;
    border: 0px solid white;
    background-color: transparent;
    overflow: auto;
}

.TbxFormas {
    width: 242px;
    height: 22px;
    border: 0px solid white;
    background-color: transparent;
}

#ContactBottomText {
    color: #692f74;
    padding-top: 22px;
}

#ContactPart {
    width: 285px;
    height: 315px;
}

    #ContactPart .SendBtn {
        margin: 0px;
        margin-top: 10px;
        float: left;
    }

    #ContactPart .ClearBtn {
        background-image: url(/App_Themes/Epistrofi/Images/contact/clear.png);
        background-repeat: no-repeat;
        background-position: left top;
        background-color: transparent;
        width: 141px;
        height: 32px;
        margin-top: 12px;
        border: 0px;
        cursor: pointer;
        margin: 0px;
        padding: 0px;
        border: 0px solid white;
        float: left;
        margin: 10px 0 0;
    }

.ContactForm {
    height: 442px;
    background-image: url(/App_Themes/Epistrofi/Images/contact/Contact_Bg.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 22px;
    width: 614px;
}

#ContactTopText {
    color: #444444;
    width: 245px;
    margin-bottom: 14px;
}

/* Premium Page */
.Premium_Table {
    margin-top: 30px;
}

    .Premium_Table .Premium_Item {
        float: left;
        height: 116px;
        background-image: url(/App_Themes/Epistrofi/Images/premium/premium_item.png);
        background-repeat: no-repeat;
        background-position: left top;
        width: 198px;
        position: relative;
        margin-bottom: 18px;
        margin-right: 13px;
        cursor: pointer;
    }

        .Premium_Table .Premium_Item a {
            display: block;
            width: 198px;
            height: 116px;
            text-decoration: none;
        }

.Premium_Item_Image {
    text-align: center;
    line-height: 116px;
    height: 116px;
    width: 198px;
    display: table-cell;
    vertical-align: middle;
}

    .Premium_Item_Image img {
        border: 0px;
        max-height: 100px;
        max-width: 180px;
    }

.Premium_Table .Premium_Item .Premium_Item_Details {
    display: none;
    padding: 17px 14px 0px;
    height: 88px;
    overflow: hidden;
}

.Premium_Table .Premium_Item:hover {
    float: left;
    height: 116px;
    background-image: url(/App_Themes/Epistrofi/Images/premium/premium_item_hover.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 198px;
    position: relative;
    margin-bottom: 18px;
    margin-right: 13px;
}

    .Premium_Table .Premium_Item:hover .Premium_Item_Image {
        display: none;
    }

    .Premium_Table .Premium_Item:hover .Premium_Item_Details {
        display: block;
    }

.Premium_Table .Premium_Item .Premium_Discount {
    height: 43px;
    background-image: url(/App_Themes/Epistrofi/Images/premium/discount.png);
    background-repeat: no-repeat;
    background-position: left top;
    width: 44px;
    text-align: center;
    line-height: 43px;
    color: White;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: -6px;
    top: -18px;
}

.Premium_Table .Premium_Item .Premium_Title {
    margin-bottom: 5px;
    color: White;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    display: block;
    height: 22px;
    overflow: hidden;
}

.Premium_Table .Premium_Item .Premium_Description {
    color: White;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    display: block;
    line-height: 15px;
}















/*alla*/
#BannerRightFront .prev {
    position: absolute;
    top: 195px;
    left: 0px;
    width: 16px;
    height: 35px;
    z-index: 1000000;
}

#BannerRightFront .next {
    position: absolute;
    top: 195px;
    right: 0px;
    width: 16px;
    height: 35px;
    z-index: 1000000;
}

#BannerRightFront {
    position: relative;
}

.MapImage {
    background-image: url("/App_Themes/Epistrofi/Images/mapImageLink.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    display: block;
    width: 169px;
    height: 16px;
    float: left;
    margin-left: 14px;
}

.Comments {
    font-size: 9px;
    color: black;
}

#Content .MapLink {
    color: #E36905;
    float: right;
    cursor: pointer;
    font-size: 12px;
}

#aClosePopUp {
    background-image: url("/App_Themes/Epistrofi/Images/CloseLightbox.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    height: 20px;
    position: absolute;
    right: 29px;
    top: 3px;
    width: 28px;
    cursor: pointer;
}

.DivLstBox ul {
    list-style: none;
    list-style-type: none;
    list-style: none;
}

.DivLstBox li {
    list-style: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.keimeno ul li {
    margin-bottom: 10px;
}

#Results {
    color: #652c71;
    font-weight: bold;
    padding-left: 14px;
    padding-bottom: 10px;
}

    #Results span {
        color: #444444;
        font-weight: normal;
        padding-left: 5px;
    }


.increaseClickItem {
    font-size: 17px;
}

.decreaseClickItem {
    font-size: 12px;
    margin-left: 3px;
}

.CompanyUrl {
    float: left;
    display: block;
}

.CompanyCategory {
    float: right;
    display: block;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Tahoma;
    font-weight: bold;
    color: #e36905;
    background-color: #e4f0fa;
}

.CompanyItem-Image {
    text-transform: uppercase;
}

.setFontSize {
    margin-left: 3px;
    cursor: pointer;
}




/*# Global #*/
#Content #plc_lt_ZCMainRightSidebar_pageplaceholder_pageplaceholder_lt_zoneMainContent_UCRepeaterOfCompanies_userControlElem_ReferenceOfCounts .PagerStyle a {
    color: #42627e;
    font-weight: bold;
}

/*#BoxArithmosKartas
{
width:198px;
height:88px;
background-color:#f3f9fe;
}

#BoxSearch{width:198px;min-height:88px;background-color:#f3f9fe;}


#ArithmosKartas{float:left;width:202px;}
#FilterOfCompanies{float:left;width:202px;padding-top:10px;}

.BoxContent {
padding-top:10px;
border:1px solid #dedede;
height:45px;
background-color:#f3f9fe;
}
.AithKartasBg {
background-image:url("../App_Themes/Epistrofi/Images/ArithKartas_BG.gif");
background-position:left top;
background-repeat:no-repeat;
width:173px;
margin-left:13px;
height:22px;
}
.AithKartasBg input {border:0px solid white;
background-color:transparent;
margin-left:2px;
}
*/



/*# Anazitisi#*/
#ResultsPages {
    font-size: 11px;
    margin-bottom: 20px;
}

.PagerStyle {
    padding-bottom: 4px;
}

    #Content #Search .PagerStyle a, .PagerStyle strong {
        margin-right: 3px;
        border: 1px solid #ACC7DE;
        background-color: #E1EEFA;
        color: #42627E;
        padding: 2px 7px 2px;
        text-decoration: none;
        font-weight: bold;
    }

#Search .PagerStyle strong {
    background-color: #41627E;
    border: 1px solid #ACC7DE;
    color: white;
}


#SearchWord {
    border: 0px solid white;
    color: #652c71;
    font-weight: bold;
}

#SearchBox {
    margin-bottom: 6px;
    background-color: #652c71;
    width: 182px;
    height: 23px;
    padding: 8px;
    margin-left: 1px;
}

.txtSearch {
    width: 149px;
    font-family: Myriad-pro;
    font-style: italic;
    color: #652c71;
    float: left;
    border: 1px solid #c4c4c4;
    height: 19px;
    wdith: 140px;
}

#insidebox {
    float: left;
}

.SearchBtn {
    float: left;
}


/*# Menu  #*/
/*#MainMenu{width:202px;}

#MainMenu ul {
padding:0px;
list-style:none;
margin:0px;
width:200px;
}

#MainMenu ul li a{
font-weight:bold;
font-size:12px;
color:#5d5d5d;
text-decoration:none;
padding-left:5px;
display:block;

}

#MainMenu ul li {
border:2px solid #692f74;
width:196px;
margin-bottom:6px;
min-height:19px;
padding-top:5px;
padding-bottom:2px;
}

#MainMenu ul li:hover {
border:2px solid #f58220;
background-color:#f58220;
}
#MainMenu ul li:hover a {color:white;}
#MainMenu ul li a:hover {color:white; background-color:#F58220}

#MainMenu ul .level1CMSListMenuHighlightedLIfirst_li{border:2px solid #f58220;background-color:#f58220;color:white;}
#MainMenu ul .level1CMSListMenuHighlightedLIfirst_li a{color:white;}
#MainMenu ul .level1CMSListMenuHighlightedLIlast_li{border:2px solid #f58220;background-color:#f58220;color:white;}
#MainMenu ul .level1CMSListMenuHighlightedLIlast_li a{color:white;}
#MainMenu ul .level1CMSListMenuHighlightedLI{border:2px solid #f58220;background-color:#f58220;color:white;}
#MainMenu ul .level1CMSListMenuHighlightedLI a{color:white;}
*/

/*# Footer /Menu  #*/
/*#FooterMenu{
float:left;
width:948px; 
height:33px;}

#FooterMenu ul li {float:left; display:block;}
#FooterMenu ul li a {
float:left; 
display:block; 
color:#7b4188;
text-decoration:none;
}

#FooterMenu ul li a:hover {color:#ce97da;} 

#FooterMenu ul {
float:right; 
display:block; 
width:auto;
height:33px;
padding:0px;
margin:0px;
margin-top:18px;
font-size:11px;
}

#FooterMenu .liCMSListMenuLI {
padding-left:6px; 
padding-right:6px;
background-image:url("../App_Themes/Epistrofi/Images/fmenu_bg.gif");
background-position:left bottom;
background-repeat:no-repeat;
}
#FooterMenu .liCMSListMenuLIfirst_li {
padding-right:6px;	
}

#FooterMenu .liCMSListMenuLIlast_li
{
background-image:url("../App_Themes/Epistrofi/Images/fmenu_bg.gif");
background-position:left bottom;
background-repeat:no-repeat;
padding-left:7px;
}
*/

/*# Footer /Phones #*/
/*#FooterPhone {
float:right; 
width:237px; 
display:block;
font-size:11px;
color:white;
margin-top:10px;
}
#FooterPhone .mov {float:left; color:#7b4188;}
*/




/*# Front #*/
#ContentTop {
    background-image: url(/App_Themes/Epistrofi/Images/TopFront.gif);
    background-repeat: no-repeat;
    background-position: left top;
    width: 705px;
    height: 207px;
    padding-left: 13px;
    padding-bottom: 14px;
    padding-top: 18px;
    padding-left: 13px;
    font-size: 11px;
    margin-right: 0px;
}

    #ContentTop h3 {
        color: #692f74;
        font-size: 20px;
        font-family: Myriad Pro;
        margin: 0px;
        padding: 0px;
        padding-bottom: 8px;
    }

    #ContentTop a {
        font-size: 12px;
        color: #692f74;
    }



#BannerakiaFront {
    float: left;
    display: block;
    width: 728px;
    padding-bottom: 20px;
    padding-bottom: expression(0);
}

#Banneraki1 {
    float: left;
    width377px;
    margin-right: 3px;
}

#Banneraki2 {
    float: left;
    width: 348px;
}
/*# Companies Ajax #*/
.Listboxes {
    font-size: 11px;
    border: 1px solid #acc7de;
    background-color: #f5f9fd;
}

    .Listboxes .selected {
        background: black;
    }



/*# Content / Kartes #*/
#Kartes table td {
    border: 6px solid #e4f0fa;
    width: 355px;
}

#Kartes h4 {
    margin: 0px;
    padding: 0px;
    color: #e36905;
    font-size: 16px;
    font-weight: bold;
}

#Kartes img {
    float: left;
    display: block;
    width: 78px;
    margin-right: 13px;
}



/*# Content / Breadcrumb  #*/

#OpenPopUp {
    background-image: url(/App_Themes/Epistrofi/Images/popup.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 55px;
    height: 235px;
    position: fixed;
    left: 0px;
    top: 230px;
    z-index: 80000;
}

    #OpenPopUp a {
        width: 55px;
        height: 192px;
        display: block;
    }

#Hotels #plc_lt_ZCMainRightSidebar_pageplaceholder_pageplaceholder_lt_zoneMainContent_EpistrofiGoogleMaps_map {
    margin-left: 15px;
}

#frontImages img {
    margin-right: 7px;
    margin-top: 3px;
}

#TopPhotosHotel {
    float: left;
}

    #TopPhotosHotel ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }


#TopPhotosCarousel {
    background-color: white;
    background-image: url(/App_Themes/Epistrofi/Images/RestBGImages.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 167px;
    padding-bottom: 13px;
    padding-left: 0px;
    padding-top: 17px;
}

    #TopPhotosCarousel .next {
        background-image: url(/App_Themes/Epistrofi/Images/right.png);
        background-repeat: no-repeat;
        width: 19px;
        background-position: 0px 0px;
        margin-top: 70px;
        margin-left: 10px;
    }

    #TopPhotosCarousel .prev {
        background-image: url(/App_Themes/Epistrofi/Images/left.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        margin-top: 70px;
        margin-right: 10px;
    }

#Restaurants #Hotels #Breadcrumb, #Restaurants #Breadcrumb {
    background-image: url(/App_Themes/Epistrofi/Images/TitlemovR.jpg);
    background-repeat: no-repeat;
    background-position: 10px 2px;
    margin-bottom: 0px;
    background-color: #692f74;
    border-bottom: 5px solid #E96707;
}

#Hotels #Breadcrumb {
    background-color: #6b2f75;
    border-bottom: 5px solid #e96707;
    margin-bottom: 0px;
    background-image: url(/App_Themes/Epistrofi/Images/Titlemov.jpg);
    background-repeat: no-repeat;
    background-position: 10px 2px;
}

#Hotels #FontSizeChange {
    float: right;
    margin-right: 20px;
}

#Hotels .ImgTop {
    border-bottom: 6px solid #e1eefa;
}

#HotelContent {
    position: relative;
}

.Pososto {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    min-height: 130px;
    background-color: white;
    background-image: url(/App_Themes/Epistrofi/Images/Pososto.jpg);
    background-repeat: no-repeat;
}

/*# Automoto #*/
#Automoto #Breadcrumb {
    background-color: #6B2F75;
    background-image: url("/App_Themes/Epistrofi/Images/automotoHeader.jpg");
    background-position: 10px 2px;
    background-repeat: no-repeat;
    border-bottom: 5px solid #E96707;
    margin-bottom: 0;
}
/*#Automoto #FontSizeChange{display: block;float: right;margin-right: 20px;}*/
#Automoto #TopPhotosCarousel {
    background-color: white;
    background-image: url("/App_Themes/Epistrofi/Images/automotoBG.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 187px;
    padding-bottom: 13px;
    padding-left: 0px;
    padding-top: 17px;
}

#Automoto .movsmall {
    color: #692F74;
    font-size: 18px;
    font-weight: bold;
}

#Automoto .orange {
    color: #f58220;
    font-size: 14px;
}

#Automoto .Contentpadding {
    padding: 15px;
    padding-bottom: 10px;
}

    #Automoto .Contentpadding a {
        color: #e36904;
    }

#Automoto.Inner #TopPhotosCarousel {
    background-image: url("/App_Themes/Epistrofi/Images/automotoBG2.jpg");
    background-position: 0 0;
    padding: 0px;
}

/*.RepeaterOfCompanyItem{width:540px;float:left;margin-right:10px}*/
#Automoto .RepeaterOfCompanyItem {
    border-bottom: 6px solid #E1EEFA;
    width: 636px;
}

#AutomotoText {
    background-color: #f1f7fc;
    padding-top: 40px;
    padding-left: 13px;
    padding-right: 10px;
    padding-bottom: 40px;
}

.posostoNo {
    font-size: 43.81px;
    Font-family: arial;
    color: white;
    font-weight: bold;
    text-align: center;
    height: 84px;
}

#Hotels .mov {
    color: #692f74;
    font-size: 20px;
    font-weight: bold;
}

.posostoTitle {
    font-size: 17px;
    color: #692f74;
    font-weight: bold;
    text-align: center;
    padding-top: 4px;
}

#Hotels .Contentpadding {
    padding: 15px;
    padding-bottom: 10px;
}

    #Hotels .Contentpadding a {
        color: #e36904;
    }

#Hotels .imgstars1 {
    background-image: url(/App_Themes/Epistrofi/Images/stars1.jpg);
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
}

#Hotels .imgstars2 {
    background-image: url(/App_Themes/Epistrofi/Images/stars2.jpg);
    background-repeat: no-repeat;
    width: 28px;
    height: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
}

#Hotels .imgstars3 {
    background-image: url(/App_Themes/Epistrofi/Images/stars3.jpg);
    background-repeat: no-repeat;
    width: 43px;
    height: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
}

#Hotels .imgstars4 {
    background-image: url(/App_Themes/Epistrofi/Images/stars4.jpg);
    background-repeat: no-repeat;
    width: 58px;
    height: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
}

#Hotels .imgstars5 {
    background-image: url(/App_Themes/Epistrofi/Images/stars5.jpg);
    background-repeat: no-repeat;
    width: 73px;
    height: 12px;
    float: left;
    margin-top: 8px;
    margin-left: 7px;
}

#Hotels .KeimenoLeft {
    background-image: url(/App_Themes/Epistrofi/Images/HoverLeft.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    width: 1px;
    height: 13px;
}

#Hotels .KeimenoRight {
    background-image: url(/App_Themes/Epistrofi/Images/HoverRight.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    float: left;
    width: 2px;
    height: 13px;
}


#Hotels .KeimenoBottom {
    display: none;
    width: 96%;
    float: left;
    height: 6px;
}

#Hotels .KeimenoContent {
    background-color: #e36905;
    color: white;
    float: left;
    padding-left: 4px;
    padding-right: 4px;
}


#Hotels .services .keimenaki {
    font-size: 10px;
    background-image: url(/App_Themes/Epistrofi/Images/hoverBottom.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 6px;
}

#Hotels .orange {
    color: #f58220;
    font-size: 14px;
}

#Hotels .services {
    font-size: 1px;
    margin-bottom: 20px;
    position: relative;
}

#Hotels .info {
    font-size: 11px;
    background-color: #e36904;
    position: absolute;
}

#Hotels .services img {
    margin-right: 15px;
    margin-top: 15px;
}

#Hotels .movsmall {
    color: #692f74;
    font-size: 18px;
    font-weight: bold;
}

.offer img {
    float: left;
}

.offer .movsmall {
    float: left;
    padding-left: 14px;
    padding-top: 14px;
}

.offerContent {
    padding-top: 2px;
    padding-left: 10px;
    float: left;
}

.offer {
    margin-bottom: 20px;
    float: left;
    margin-top: 10px;
}

#HotelImages a {
    float: left;
    margin: 3px;
}

#PhotosHotel {
    float: left;
    padding-top: 8px;
    width: 700px;
    height: 120px;
    padding-left: 0px;
}

#PhotosCarousel {
    background-image: url(/App_Themes/Epistrofi/Images/BgImages.jpg);
    background-repeat: no-repeat;
    width: 711px;
    float: left;
}

    #PhotosCarousel .prev {
        background-image: url(/App_Themes/Epistrofi/Images/left.jpg);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        margin-top: 47px;
        width: 25px;
    }

    #PhotosCarousel .next {
        background-image: url(/App_Themes/Epistrofi/Images/right.png);
        background-repeat: no-repeat;
        background-position: 0px 0px;
        margin-top: 47px;
        width: 25px;
        margin-left: 0px;
    }

#PhotosHotel img {
    float: left;
    display: block;
}

#PhotosHotel a {
    float: left;
    display: block;
    margin: 3px;
}

#PhotosHotel ul li {
    width: 165px;
    height: 98px;
}

#PhotosHotel ul li, #PhotosHotel ul {
    padding: 0px;
    list-style: none;
}



/*
.AdvertismentArea{width:167px;float:left;}
*/

.BoxesOfContent {
    float: left;
    width: 250px;
    margin-right: 2px;
    color: #343434;
    font-family: Arial;
    font-size: 11px;
}

.BoxesOfContent-Link {
    background-image: url(/App_Themes/Epistrofi/Images/ContentPage/ContentCheckIt.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e0e0e0;
    color: #444444;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    height: 15px;
    padding-left: 5px;
    padding-top: 2px;
    width: 123px;
}

.BoxesOfContent-Image {
    float: left;
}

.BoxesOfContent-Text {
    float: left;
    padding-left: 8px;
}

.ErrorPage-Area {
    background-image: url(/App_Themes/Epistrofi/Images/ErrorPage/ErrorPageBackground.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    padding-bottom: 30px;
    width: 925px;
    padding-top: 227px;
    height: 311px;
}

.ErrorPage-Message {
    font-family: tahoma;
    font-size: 14px;
    color: black;
    padding-bottom: 145px;
    padding-left: 155px;
}

.ErrorPage-ContentArea {
    padding-left: 15px;
}

.ErrorPage-ContentArea-Title {
    font-family: tahoma;
    font-size: 12px;
    font-weight: bold;
    color: black;
    padding-left: 1px;
    padding-bottom: 16px;
}

.ErrorPage-ContentArea-Links-Area {
    padding-top: 3px;
    padding-left: 3px;
    width: 894px;
    height: 61px;
    border: 1px solid #692f74;
    background-color: white;
}

.ErrorPage-ContentArea-Links-Boxes {
    background-image: url(/App_Themes/Epistrofi/Images/ErrorPage/ErrorPageLinksBackground.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    margin-right: 3px;
    padding-top: 20px;
    padding-left: 19px;
    width: 156px;
    height: 34px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #5d5d5d;
    font-size: 12px;
}

.ErrorPage-ContentArea-Links-BoxesWith2Lines {
    background-image: url(/App_Themes/Epistrofi/Images/ErrorPage/ErrorPageLinksBackground.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    float: left;
    margin-right: 3px;
    padding-top: 10px;
    padding-left: 19px;
    width: 156px;
    height: 44px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: #5d5d5d;
    font-size: 12px;
}

.ErrorPage-ContentArea-Links-Area a {
    color: #5d5d5d;
    text-decoration: none;
    cursor: pointer;
}
