.jcarousel-skin-tango .jcarousel-container {
   
 background: transparent url(carousel_bg.gif) no-repeat 0px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width:677px;
    padding: 6px 20px;
	padding-top:6px;
}



.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  677px;
    height: 50px;
}



.jcarousel-skin-tango .jcarousel-item {
    width: 127px;
    height: 50px;
	margin-left:0px;
	margin-right:0px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}



.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 11px;
    right: 0px;
    width: 16px;
    height: 35px;
    cursor: pointer;
    background: transparent url(next.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 0px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
    background: transparent url(next_hover.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: transparent url(next_hover.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
      background: transparent url(next_hover.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 11px;
    left: 0px;
    width: 16px;
    height: 35px;
    cursor: pointer;
    background: transparent url(prev.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 0px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover {
     background: transparent url(prev_hover.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
      background: transparent url(prev_hover.gif) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
        background: transparent url(prev_hover.gif) no-repeat 0 0;
}

