<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/MediaLibrary/MediaLibraryDataSource.ascx.cs"
    Inherits="CMSWebParts_MediaLibrary_MediaLibraryDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaLibraryDataSource ID="srcMediaLib" runat="server" />
