<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/MediaLibrary/MediaFileDataSource.ascx.cs"
    Inherits="CMSWebParts_MediaLibrary_MediaFileDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MediaLibrary" Assembly="CMS.MediaLibrary" %>
<cms:MediaFileDataSource ID="srcMedia" runat="server" />
