<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/MediaLibrary/MediaGalleryFilter.ascx.cs" Inherits="CMSWebParts_MediaLibrary_MediaGalleryFilter" %>
<%@ Register Src="~/CMSModules/MediaLibrary/Controls/Filters/MediaLibrarySort.ascx" TagName="LibrarySort" TagPrefix="cms" %>

<cms:LibrarySort ID="libSort" runat="server" />