<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Media/BannerRepeater.ascx.cs" Inherits="CMSWebParts_Media_BannerRepeater" %>

<cms:CMSEditModeButtonAdd ID="btnAdd" runat="server" Visible="False" />
<cms:CMSRepeater ID="repItems" runat="server" />
