<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CustomTable_Data_List.aspx.cs"
    Inherits="CMSModules_CustomTables_Tools_CustomTable_Data_List" EnableEventValidation="false"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Custom table - Data List"
    Theme="Default" %>
    
    <%@ Register Src="~/CMSModules/CustomTables/Controls/CustomTableDataList.ascx" TagName="CustomTableDataList" TagPrefix="cms" %>

<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:Label ID="lblError" runat="server" Visible="false" CssClass="ErrorLabel" EnableViewState="false" />
    <asp:PlaceHolder ID="plcContent" runat="server">
        <cms:CustomTableDataList id="customTableDataList" runat="server" />
    </asp:PlaceHolder>
</asp:Content>
