<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CustomTables/customtablerepeater.ascx.cs" 
Inherits="CMSWebParts_CustomTables_customtablerepeater" %>

<cms:queryrepeater id="repItems" runat="server"  /> 