<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/CustomTables/CustomTableDataGrid.ascx.cs"
    Inherits="CMSWebParts_CustomTables_CustomTableDataGrid" %>
<cms:QueryDataGrid ID="gridItems" runat="server" DataBindByDefault="false" OnItemDataBound="gridItems_ItemDataBound" />