<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Member_List.aspx.cs" Inherits="CMSModules_Groups_Tools_Members_Member_List"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Title="Group nembers list" %>

<%@ Register Src="~/CMSModules/Groups/Controls/Members/MemberList.ascx" TagName="MemberList"
    TagPrefix="cms" %>
<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <asp:Label runat="server" ID="lblInfo" CssClass="InfoLabel" EnableViewState="false"
        Visible="false" />
    <cms:MemberList ID="memberListElem" runat="server" IsLiveSite="false" />
</asp:Content>
