<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Blogs/BlogCommentsDataSource.ascx.cs" Inherits="CMSWebParts_Blogs_BlogCommentsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Blogs" Assembly="CMS.Blogs" %>
<cms:BlogCommentDataSource ID="srcComments" runat="server" />