<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Blogs/NewBlog.ascx.cs" Inherits="CMSWebParts_Blogs_NewBlog" %>
<%@ Register Src="~/CMSModules/Blogs/Controls/NewBlog.ascx" TagName="NewBlog" TagPrefix="cms" %>

<cms:NewBlog ID="newBlog" runat="server" />
