<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Blogs/RecentPosts.ascx.cs" Inherits="CMSWebParts_Blogs_RecentPosts" %>


<cms:cmsrepeater ID="rptRecentPosts" runat="server" OrderBy="BlogPostDate DESC" ClassNames="cms.blogpost" />

