<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Blogs/Syndication/BlogCommentsRSSFeed.ascx.cs"
    Inherits="CMSWebParts_Blogs_Syndication_BlogCommentsRSSFeed" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Blogs" Assembly="CMS.Blogs" %>
<cms:BlogCommentDataSource ID="srcComments" runat="server" />
<cms:RSSFeed ID="rssFeed" runat="server" />
