<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Basic/AtomFeed.ascx.cs"
    Inherits="CMSWebParts_Syndication_Basic_AtomFeed" %>
<cms:AtomFeed ID="atomFeed" runat="server" />
