<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Basic/RSSRepeater.ascx.cs"
    Inherits="CMSWebParts_Syndication_Basic_RSSRepeater" %>
<cms:RSSRepeater ID="rssRepeater" runat="server" />
