<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/MessageBoards/BoardMessagesDataSource.ascx.cs" Inherits="CMSWebParts_MessageBoards_BoardMessagesDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.MessageBoard" Assembly="CMS.MessageBoard" %>
<cms:BoardMessagesDataSource ID="srcMessages" runat="server" />