<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Text/statictext.ascx.cs" Inherits="CMSWebParts_Text_statictext" %>
<asp:Literal ID="ltlText" runat="server" EnableViewState="false" />