<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Text/staticHTML.ascx.cs" Inherits="CMSWebParts_Text_staticHTML" %>
<asp:Literal ID="ltlText" runat="server" EnableViewState="false" />