<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DefineSiteStructure.ascx.cs"
    Inherits="CMSModules_ImportExport_Controls_DefineSiteStructure" %>
<asp:Panel ID="pnlStep" runat="server" CssClass="NewSiteStepContainer">
    <iframe src="<%=ResolveUrl("~/CMSModules/ImportExport/SiteManager/NewSite/DefineSiteStructure/frameset.aspx") + Request.Url.Query + SiteName%>"
        frameborder="0" width="100%" height="398px"></iframe>
</asp:Panel>
