<%@ Control Language="C#" AutoEventWireup="true" CodeFile="YouTubeSizes.ascx.cs" Inherits="CMSModules_Content_Controls_Dialogs_YouTube_YouTubeSizes" %>
<asp:HiddenField runat="server" ID="hdnWidth" />
<asp:HiddenField runat="server" ID="hdnHeight" />
<asp:PlaceHolder runat="server" ID="plcSizes" />