<%@ Control Language="C#" AutoEventWireup="true" CodeFile="YouTubeColors.ascx.cs" Inherits="CMSModules_Content_Controls_Dialogs_YouTube_YouTubeColors" %>
<asp:HiddenField runat="server" ID="hdnColor1" />
<asp:HiddenField runat="server" ID="hdnColor2" />
<asp:PlaceHolder runat="server" ID="plcColors" />