<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AutoResizeConfiguration.ascx.cs" Inherits="CMSFormControls_System_AutoResizeConfiguration" %>
<%@ Register Src="~/CMSAdminControls/AutoResizeConfiguration.ascx" TagPrefix="cms" TagName="AutoResize" %>
<cms:AutoResize ID="elemAutoResize" runat="server" />