<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FieldSelector.ascx.cs"
    Inherits="CMSFormControls_System_FieldSelector" %>
<asp:TextBox ID="txtField" runat="server" MaxLength="200" CssClass="SelectorTextBox" /><cms:localizedbutton
    id="btnSelect" runat="server" cssclass="ContentButton" resourcestring="general.select" /><cms:localizedbutton
        id="btnClear" runat="server" cssclass="ContentButton" resourcestring="general.clear" />
<asp:Label ID="lblStatus" runat="server" EnableViewState="False" CssClass="SelectorError" />
<asp:Literal ID="ltlScript" runat="server" />
<asp:HiddenField runat="server" ID="hdnField" />

<script type="text/javascript">
    <!--
    function SetValue(value, text) {
        document.getElementById(txtId).value = text;
        document.getElementById(hdnId).value = value + '|' + text;
    }
    -->
</script>

