﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Password.ascx.cs" Inherits="CMSFormControls_System_Password" %>
<asp:TextBox CssClass="TextBoxField" runat="server" ID="txtPassword" TextMode="Password" />


