<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DocumentFlags.ascx.cs"
    Inherits="CMSAdminControls_UI_DocumentFlags" %>
<asp:Literal ID="ltlFlags" runat="server" EnableViewState="false" />