<%@ Control Language="C#" AutoEventWireup="true" CodeFile="HTMLGraph.ascx.cs" Inherits="CMSAdminControls_UI_HTMLGraph" %>
<asp:Panel ID="pnlGraph" runat="server" />
<asp:HiddenField ID="hdnGraph" runat="server" />
<asp:Literal ID="ltlScript" runat="server" EnableViewState="false" />
