﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageTemplateTree.ascx.cs" Inherits="CMSModules_PortalEngine_Controls_Layout_PageTemplateTree" %>
<%@ Register Src="~/CMSAdminControls/UI/Trees/UniTree.ascx" TagName="UniTree" TagPrefix="cms" %>
<cms:UniTree runat="server" ID="treeElem" />