<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Members/GroupMembersDataSource.ascx.cs"
    Inherits="CMSWebParts_Community_Members_GroupMembersDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>
<cms:MembersDataSource ID="srcMembers" runat="server" />
