<%@ Control Language="C#" AutoEventWireup="true" CodeFile="InternationalPhone.ascx.cs" Inherits="CMSFormControls_Inputs_InternationalPhone" %>

<asp:Label ID="Label1" runat="server" >+</asp:Label>
<asp:TextBox runat="server" ID="txt1st" MaxLength="4" Width="30" />
&nbsp;
<asp:TextBox runat="server" ID="txt2nd" MaxLength="20" />