<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WebTemplate_Edit.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" Inherits="CMSSiteManager_Development_WebTemplates_WebTemplate_Edit"
    Theme="Default" Title="Web Template Edit" %>

<%@ Register Src="~/CMSAdminControls/MetaFiles/File.ascx" TagName="File" TagPrefix="cms" %>
<%@ Register Src="~/CMSFormControls/LicenseSelector.ascx" TagName="LicenseSelector"
    TagPrefix="cms" %>
<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <asp:Label ID="lblInfo" runat="server" EnableViewState="false" Visible="false" CssClass="InfoLabel" />
    <asp:Label runat="server" ID="lblError" EnableViewState="false" Visible="false" CssClass="ErrorLabel" />
    <table>
        <tr>
            <td class="FieldLabel">
                <cms:LocalizedLabel ID="lblWebTemplateDisplayName" runat="server" EnableViewState="False"
                    ResourceString="Administration-WebTemplate_New.WebTemplateDisplayName" />
            </td>
            <td>
                <asp:TextBox ID="txtWebTemplateDisplayName" runat="server" CssClass="TextBoxField"
                    MaxLength="100" EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvWebTemplateDisplayName" runat="server" EnableViewState="false"
                    ControlToValidate="txtWebTemplateDisplayName" Display="dynamic" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel">
                <cms:LocalizedLabel ID="lblWebTemplateName" runat="server" EnableViewState="False"
                    ResourceString="Administration-WebTemplate_New.WebTemplateName" />
            </td>
            <td>
                <asp:TextBox ID="txtWebTemplateName" runat="server" CssClass="TextBoxField" MaxLength="100"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvWebTemplateName" runat="server" EnableViewState="false"
                    ControlToValidate="txtWebTemplateName" Display="dynamic" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel" style="vertical-align: top">
                <cms:LocalizedLabel ID="lblWebTemplateFileName" runat="server" EnableViewState="False"
                    ResourceString="Administration-WebTemplate_New.WebTemplateFileName" />
            </td>
            <td>
                <asp:TextBox ID="txtWebTemplateFileName" runat="server" CssClass="TextBoxField" MaxLength="100"
                    EnableViewState="false" />
                <asp:RequiredFieldValidator ID="rfvWebTemplateFileName" runat="server" EnableViewState="false"
                    ControlToValidate="txtWebTemplateFileName" Display="dynamic" />
            </td>
        </tr>
        <tr>
            <td class="FieldLabel" style="vertical-align: top">
                <cms:LocalizedLabel ID="lblWebTemplateDescription" runat="server" EnableViewState="False"
                    ResourceString="Administration-WebTemplate_New.WebTemplateDescription" />
            </td>
            <td>
                <asp:TextBox ID="txtWebTemplateDescription" runat="server" MaxLength="100" CssClass="TextAreaHigh"
                    TextMode="MultiLine" EnableViewState="false" /><br />
                <asp:RequiredFieldValidator ID="rfvWebTemplateDescription" runat="server" ControlToValidate="txtWebTemplateDescription"
                    Display="Dynamic" EnableViewState="False" />
            </td>
        </tr>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblUploadFile" runat="server" EnableViewState="false" ResourceString="Administration-PageLayout_New.lblUpload" />
            </td>
            <td>
                <cms:File ID="attachmentFile" runat="server" />
            </td>
        </tr>
        <tr>
            <td>
                <cms:LocalizedLabel ID="lblEditions" runat="server" EnableViewState="false" ResourceString="Administration-PageLayout_New.lblEditions" />
            </td>
            <td>
                <cms:LicenseSelector ID="ucLicenseSelector" runat="server" />
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <cms:LocalizedButton ID="btnOk" runat="server" OnClick="btnOK_Click" CssClass="SubmitButton"
                    EnableViewState="false" ResourceString="general.ok" />
            </td>
        </tr>
    </table>
</asp:Content>
