<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectPageTemplate.ascx.cs"
    Inherits="CMSModules_PortalEngine_Controls_PageTemplates_SelectPageTemplate" %>
<asp:DropDownList ID="drpTemplate" runat="server" CssClass="DropDownField" />
