<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Forum_Header.aspx.cs" Inherits="CMSModules_Forums_Tools_Forums_Forum_Header" 
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" %>
