<%@ Page Language="C#" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" AutoEventWireup="true"
    CodeFile="UI_Header.aspx.cs" Inherits="CMSSiteManager_Administration_UIPersonalization_UI_Header"
    Title="UI Personalization - Header" Theme="Default" %>

