<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectSinglePath.ascx.cs" Inherits="CMSModules_Content_FormControls_Documents_SelectSinglePath" %>
<asp:TextBox ID="txtPath" runat="server" MaxLength="200" CssClass="SelectorTextBox" /><cms:CMSButton ID="btnSelectPath" runat="server" CssClass="ContentButton" EnableViewState="false" />
