<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PollSelector.ascx.cs" Inherits="CMSModules_Polls_FormControls_PollSelector" %>

<cms:localizeddropdownlist ID="drpPolls" runat="server" CssClass="DropDownField" />