<%@ Page Language="C#" AutoEventWireup="true" CodeFile="User_Edit_Friends_Header.aspx.cs"
    Inherits="CMSModules_Friends_Administration_Users_User_Edit_Friends_Header" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master"
    Title="Friends header" Theme="default" %>

