<%@ Page Language="VB" AutoEventWireup="false" Inherits="OK" CodeFile="OK.aspx.vb" %>
<html>
  <head>
    <title>Aegean Power</title>
  </head>
<body>
    <script defer="defer">
        window.opener.document.location.href = '/SpecialPages/Επιτυχημένη-Συναλλαγή.aspx';
        window.close();
    </script>
</body>
</html>