<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SecurityAddUsers.ascx.cs" Inherits="CMSModules_Membership_FormControls_Users_SecurityAddUsers" %>

<%@ Register Src="~/CMSModules/Membership/FormControls/Users/selectuser.ascx" TagName="SelectUser" TagPrefix="cms" %>
<cms:SelectUser ID="usUsers" runat="server" SelectionMode="MultipleButton" />
