<%@ Control Language="C#" AutoEventWireup="true" CodeFile="BadgeSelector.ascx.cs" Inherits="CMSModules_Badges_FormControls_BadgeSelector" %>

<asp:DropDownList ID="drpBadges" runat="server" CssClass="DropDownField" />
