<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmsdocumentviewer.ascx.cs" Inherits="CMSWebParts_Viewers_Documents_cmsdocumentviewer" %>

<cms:CMSViewer ID="viewElem" runat="server" />
<cms:CMSRepeater ID="repElem" runat="server" />

