<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Viewers/Documents/cmsviewer.ascx.cs"
    Inherits="CMSWebParts_Viewers_Documents_cmsviewer" %>
<cms:CMSViewer ID="viewElem" runat="server" />
