<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Ecommerce/Products/ProductsDataSource.ascx.cs" Inherits="CMSWebParts_Ecommerce_Products_ProductsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Ecommerce" Assembly="CMS.Ecommerce" %>
<cms:ProductsDataSource runat="server" ID="srcProducts" />