<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Ecommerce/Products/TopNNewestProducts.ascx.cs" Inherits="CMSWebParts_Ecommerce_Products_TopNNewestProducts" %>
<cms:CMSDataList ID="lstElem" runat="server" />
