﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SilverlightApplication.ascx.cs"
    Inherits="CMSAdminControls_Silverlight_SilverlightApplication" %>
<asp:Literal ID="ltlSilverlight" runat="server" EnableViewState="false" />
