﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="WebPartLayoutSelector.ascx.cs" Inherits="CMSModules_PortalEngine_FormControls_WebPartLayouts_WebPartLayoutSelector" %>
<%@ Register Src="~/CMSAdminControls/UI/UniSelector/UniSelector.ascx" TagName="UniSelector"
    TagPrefix="cms" %>
<cms:UniSelector runat="server" ID="uniselect" SelectionMode="SingleDropDownList"
    ObjectType="cms.webpartlayout" ResourcePrefix="webpartlayoutselect" AllowEmpty="false"
    OnOnSelectionChanged="uniselect_OnSelectionChanged" ReturnColumnName="WebPartLayoutCodeName" />