<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/UserContributions/GroupContributionList.ascx.cs" Inherits="CMSWebParts_Community_UserContributions_GroupContributionList" %>
<%@ Register Src="~/CMSModules/Content/Controls/UserContributions/ContributionList.ascx" TagName="ContributionList" TagPrefix="cms" %>
<%@ Register Src="~/CMSModules/Content/Controls/UserContributions/EditForm.ascx" TagName="ContributionEdit" TagPrefix="cms" %>
<cms:ContributionList ID="list" runat="server" />


