﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="xmlHttpMerchants.aspx.vb" Inherits="CMSTemplates_LivePay_xmlHttpMerchants" %>
<%@ OutputCache Location="None"  %>
<cms:CMSRepeater runat="server" ID="repSearch" ClassNames="LivePay.Merchant" />
