<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Group_Header.aspx.cs" Inherits="CMSModules_Forums_Tools_Groups_Group_Header" 
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Theme="Default" %>
