<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ForumPost_Frameset.aspx.cs"
    Inherits="CMSModules_Forums_Tools_Posts_ForumPost_Frameset" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" enableviewstate="false">
    <title>Forums - Post frameset</title>
</head>
<frameset border="0" cols="260, *" runat="server" id="colsFrameset">
            <frame name="<%= postFrameTree %>" src="<%= postsTreeUrl %>" frameborder="0" scrolling="auto" />
            <frame name="<%= postFrameEdit %>" src="<%= postsEditUrl %>" frameborder="0" />
        </frameset>
<noframes>
    <body>
        <p id="p1">
            This HTML frameset displays multiple Web pages. To view this frameset, use a Web
            browser that supports HTML 4.0 and later.
        </p>
    </body>
</noframes>
</html>
