<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LicenseSelector.ascx.cs" Inherits="CMSFormControls_LicenseSelector" %>
<asp:CheckBoxList ID="chckLicenses" runat="server" RepeatDirection="Vertical" />