<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MediaFileControl.ascx.cs" Inherits="CMSModules_MediaLibrary_InlineControls_MediaFileControl" %>

<asp:Literal ID="ltlOutput" runat="server" EnableViewState="false" />