<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Friends/FriendsToApprovalList.ascx.cs" Inherits="CMSWebParts_Community_Friends_FriendsToApprovalList" %>
<%@ Register Src="~/CMSModules/Friends/Controls/FriendsToApprovalList.ascx" TagName="FriendsToApprovalList"
    TagPrefix="cms" %>
<cms:FriendsToApprovalList ID="lstApproval" runat="server" />