<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Friends/FriendsDataSource.ascx.cs"
    Inherits="CMSWebParts_Community_Friends_FriendsDataSource" %>
<%@ Register TagPrefix="cms" Namespace="CMS.Community" Assembly="CMS.Community" %>    
<cms:FriendsDataSource ID="srcFriends" runat="server" />