<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/Friends/FriendsRequestedList.ascx.cs" Inherits="CMSWebParts_Community_Friends_FriendsRequestedList" %>
<%@ Register Src="~/CMSModules/Friends/Controls/FriendsRequestedList.ascx" TagName="FriendsRequestedList"
    TagPrefix="cms" %>
<cms:FriendsRequestedList ID="lstRequested" runat="server" />