<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/BizForms/bizform.ascx.cs" Inherits="CMSWebParts_BizForms_bizform" %>

<cms:BizForm ID="viewBiz" runat="server" IsLiveSite="true" />