<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Reporting/Report.ascx.cs" Inherits="CMSWebParts_Reporting_Report" %>
<%@ Register Src="~/CMSModules/Reporting/Controls/DisplayReport.ascx" TagName="DisplayReport"
    TagPrefix="cms" %>
<cms:DisplayReport ID="viewReport" runat="server" />
