<%@ Page Language="C#" AutoEventWireup="true" CodeFile="DiscountLevel_Edit_Header.aspx.cs" 
Inherits="CMSModules_Ecommerce_Tools_DiscountLevel_DiscountLevel_Edit_Header" Theme="Default"
MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Discount level - Edit - Header" %>
