<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/DocumentsDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_DocumentsDataSource" %>
<cms:CMSDocumentsDataSource ID="srcDocuments" runat="server" />
