<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/FileSystemDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_FileSystemDataSource" %>
<cms:FileSystemDataSource runat="server" ID="srcFiles" />