<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/SQLDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_SQLDataSource" %>
<cms:SQLDataSource ID="srcSQL" runat="server" />
