<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/UsersDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_UsersDataSource" %>
    
<cms:UsersDataSource ID="srcUsers" runat="server" />
