﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/CustomTableRSSFeed.ascx.cs"
    Inherits="CMSWebParts_Syndication_CustomTableRSSFeed" %>
    
<cms:CustomTableDataSource ID="srcTables" runat="server" />
<cms:RSSFeed ID="rssFeed" runat="server" />
