﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/WebServiceRSSFeed.ascx.cs"
    Inherits="CMSWebParts_Syndication_WebServiceRSSFeed" %>

<cms:WebServiceDataSource ID="srcWebService" runat="server" />
<cms:RSSFeed runat="server" ID="rssFeed" />
