<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/QueryDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_QueryDataSource" %>
<cms:CMSQueryDataSource ID="srcElem" runat="server" />
