<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/WebServiceDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_WebServiceDataSource" %>
<cms:WebServiceDataSource ID="srcWebService" runat="server" />