<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/DataSources/XMLDataSource.ascx.cs"
    Inherits="CMSWebParts_DataSources_XMLDataSource" %>
<cms:XMLDataSource ID="srcXml" runat="server" />