#RightContent {text-align:left; width:710px;}

#BreadCrumb a {color:#a7a6a6; text-decoration:none;}

#BreadCrumb {height:25px; border-bottom:1px solid #d8d9d9; padding-top:10px;}

#TitleContent h2  {color:#412682; font-size:16px;}

.borderBottom { border-bottom:1px solid #d8d9d9; }

#NewsTeaser { margin-top:10px; border-bottom:1px solid #d8d9d9; }

#NewsTeaser .newsDate {border-right:1px solid #d8d9d9; display:block; float:left; width:56px; }

#NewsTeaser .newsItem a {margin-left:10px; color:#000000; text-decoration:none; font-weight:bold;}

#NewsTeaser .newsItem {margin-bottom:9px;}

#NewsFilter {height:33px; padding-top:15px;}