<%@ Page Language="C#" AutoEventWireup="true" CodeFile="System_Header.aspx.cs" 
    Inherits="CMSSiteManager_Administration_System_System_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Administration - System Header" %>
