<%@ Control Language="C#" AutoEventWireup="true" CodeFile="SelectBadWordAction.ascx.cs"
    Inherits="CMSModules_BadWords_FormControls_SelectBadWordAction" %>
<asp:DropDownList ID="drpSelectAction" runat="server" CssClass="DropDownField" />
