<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Container_Edit_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Inherits="CMSModules_PortalEngine_UI_WebContainers_Container_Edit_Header"
    Theme="Default" Title="Module Edit - Header" %>

