<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ShoppingCartSKUPriceDetail.aspx.cs"
    Inherits="CMSModules_Ecommerce_Controls_ShoppingCart_ShoppingCartSKUPriceDetail"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/Dialogs/ModalDialogPage.master"
    Title="Shopping cart - Product price detail" %>

<%@ Register Src="ShoppingCartSKUPriceDetail.ascx" TagName="ShoppingCartSKUPriceDetail"
    TagPrefix="cms" %>
<asp:Content ID="cntBody" runat="server" ContentPlaceHolderID="plcContent">
    <div class="PageContent" style="width: 94%; padding: 20px 0px 15px 12px;">
        <cms:ShoppingCartSKUPriceDetail ID="ucSKUPriceDetail" runat="server" />
    </div>

    <script type="text/javascript">
        //<![CDATA[       
        function Close() {
            top.window.close();
        }
        //]]>
    </script>

</asp:Content>
<asp:Content ID="cntFooter" runat="server" ContentPlaceHolderID="plcFooter">
    <div class="FloatRight">
        <cms:CMSButton ID="btnClose" runat="server" CssClass="SubmitButton" EnableViewState="false" />
    </div>
</asp:Content>
