<%@ Control Language="C#" AutoEventWireup="true" CodeFile="DisplayReport.ascx.cs"
    Inherits="CMSModules_Reporting_Controls_DisplayReport" %>

<cms:BasicForm ID="formElem" runat="server" />
<asp:Panel runat="server" ID="pnlContent" />
