<%@ Control Language="C#" AutoEventWireup="true" CodeFile="FontSpec.ascx.cs" Inherits="CMSModules_Reporting_Controls_FontSpec" %>

<asp:DropDownList ID="drpFontName" runat="server" />&nbsp;
<asp:DropDownList ID="drpFontSize" runat="server" />&nbsp;
<asp:CheckBox ID="chkBold" runat="server" />&nbsp;
<asp:CheckBox ID="chkItalic" runat="server" />

