<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReportTable.ascx.cs" Inherits="CMSModules_Reporting_Controls_ReportTable" %>
<asp:PlaceHolder runat="server" ID="plcGrid" />
<asp:Label runat="server"  ID="lblError" EnableViewState="false" CssClass="InlineControlError" Visible="false" />
