<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ReportValue.ascx.cs" Inherits="CMSModules_Reporting_Controls_ReportValue" %>
<asp:Literal ID="lblValue" runat="server" />
<asp:Label runat="server" ID="lblError" EnableViewState="false" CssClass="InlineControlError" Visible="false"  />
