<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Department_Header.aspx.cs" 
    Inherits="CMSModules_Ecommerce_Tools_Configuration_Departments_Department_Header" 
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>
