<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Header.aspx.cs"
    Inherits="CMSModules_Forums_Content_Properties_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master" Title="Forums - header" %>
