<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AlternativeForms_Header.aspx.cs"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Alternative forms - Menu"
    Inherits="CMSSiteManager_Development_SystemTables_AlternativeForms_AlternativeForms_Header"
    Theme="Default" %>
    