<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ForumSubscription_Edit.aspx.cs"
    Inherits="CMSModules_Forums_Tools_Subscriptions_ForumSubscription_Edit" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/SimplePage.master" %>
<%@ Register Src="~/CMSModules/Forums/Controls/Subscriptions/SubscriptionEdit.ascx" TagName="SubscriptionEdit" TagPrefix="cms" %>
<asp:Content ContentPlaceHolderID="plcContent" ID="content" runat="server">
    <cms:SubscriptionEdit ID="subscriptionEdit" runat="server" />
</asp:Content>