<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AttachmentLightBoxGallery.ascx.cs"
    Inherits="CMSInlineControls_AttachmentLightBoxGallery" %>
<div>
    <asp:PlaceHolder runat="server" ID="plcAttachmentLightBox"></asp:PlaceHolder>
</div>
