<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ForumViewModeSelector.ascx.cs" Inherits="CMSModules_Forums_Controls_ForumViewModeSelector" %>
<asp:Literal runat="server" ID="litText" /><cms:LocalizedLabel ID="lblViewMode" EnableViewState="false" AssociatedControlID="drpViewModeSelector" runat="server" /><cms:localizeddropdownlist ID="drpViewModeSelector" runat="server" AutoPostBack="true" />