<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ForumDivider.ascx.cs" Inherits="CMSModules_Forums_Controls_ForumDivider" %>
<asp:Label runat="server" ID="lblError" EnableViewState="false"  CssClass="ErrorLabel" Visible="false" />
<asp:PlaceHolder runat="server" ID="plcForum" />


