<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoadGenerationSelector.ascx.cs" Inherits="CMSAdminControls_UI_Selectors_LoadGenerationSelector" %>
<asp:DropDownList runat="server" ID="drpGeneration" CssClass="DropDownField" />