<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Membership/Logon/currentuser.ascx.cs" Inherits="CMSWebParts_Membership_Logon_currentuser" %>
<asp:Label ID="lblLabel" runat="server" CssClass="CurrentUserLabel" EnableViewState="false" />&nbsp;
<asp:Literal ID="ltrSignLink" runat="server" EnableViewState="false" />