<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Syndication/Documents/CMSRSSFeed.ascx.cs"
    Inherits="CMSWebParts_Syndication_Documents_CMSRSSFeed" %>
<cms:CMSDocumentsDataSource ID="srcDocuments" runat="server" />
<cms:RSSFeed ID="rssFeed" runat="server" />
