<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AlternativeFormList.ascx.cs" Inherits="CMSModules_AdminControls_Controls_Class_AlternativeFormList" %>
<%@ Register src="~/CMSAdminControls/UI/UniGrid/UniGrid.ascx" tagname="UniGrid" tagprefix="cms" %>

<cms:UniGrid ID="gridElem" runat="server" OrderBy="FormDisplayName" />

