<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Community/GroupRegistration.ascx.cs"
    Inherits="CMSWebParts_Community_GroupRegistration" %>
<%@ Register Src="~/CMSModules/Groups/Controls/GroupRegistration.ascx" TagName="GroupRegistration"
    TagPrefix="cms" %>
<cms:GroupRegistration ID="groupRegistrationElem" runat="server" />
