<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Newsletter_Issue_Header.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Newsletters_Newsletter_Issue_Header" Theme="Default"
     MasterPageFile="~/CMSMasterPages/UI/Dialogs/TabsHeader.master"
    Title="Tools - Newsletter issue header" %>
