<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Newsletter_Header.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Newsletters_Newsletter_Header" Theme="Default"
    MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" Title="Newsletter" %>
