<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Newsletter_Issue_ShowPreview.aspx.cs"
    Inherits="CMSModules_Newsletters_Tools_Newsletters_Newsletter_Issue_ShowPreview" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server" enableviewstate="false">
    <title>Newsletters - Issue preview</title>
</head>
<body class="<%=mBodyClass%>">
    <form id="form1" runat="server">
    </form>
</body>
</html>
