<%@ Page Language="C#" AutoEventWireup="true" CodeFile="StoreSettings_Header.aspx.cs"
    Inherits="CMSModules_Ecommerce_Tools_Configuration_StoreSettings_StoreSettings_Header"
    Theme="Default" MasterPageFile="~/CMSMasterPages/UI/TabsHeader.master" %>
