﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PageLayoutSelector.ascx.cs"
    Inherits="CMSModules_PortalEngine_FormControls_PageLayouts_PageLayoutSelector" %>
<%@ Register Src="~/CMSAdminControls/UI/UniSelector/UniSelector.ascx" TagName="UniSelector"
    TagPrefix="cms" %>
<cms:UniSelector runat="server" ID="uniselect" SelectionMode="SingleDropDownList"
    ObjectType="cms.layout" ResourcePrefix="layoutselect" AllowEmpty="false"
    OnOnSelectionChanged="uniselect_OnSelectionChanged" />
