<%@ Control Language="C#" AutoEventWireup="true" CodeFile="~/CMSWebParts/Search/cmssearchresults.ascx.cs" Inherits="CMSWebParts_Search_cmssearchresults" %>

<cms:CMSSearchResults ID="srchResults" runat="server" />
